<div style="position:relative;font-size:10pt">
  <div style="width: calc(100% - 30px);height: 100vh;">

    <div style="border-bottom: 1px solid #A5BFDD; padding-top: 12px;" />

    <p style="font-weight:bold;">WHAT IS THE TOTAL EXPENSE RATIO OF THE PARTICIPATING FUND OVER THE LAST FEW YEARS?</p>
    <p>The historical expense ratios of the Participating Fund are shown below:</p>

    <table class="w100" style="border-collapse:collapse;text-align: left;">
      <colgroup>
        <col style="width:14%;" />
        <col style="width:10%;" />
        <col style="width:10%;" />
        <col style="width:10%;" />
        <col style="width:18%;" />
        <col style="width:18%;" />
        <col style="width:18%;" />
      </colgroup>

      <tr>
        <td style="border: solid 1px; padding: 3px 5px;"></td>
        <td style="border: solid 1px; padding: 3px 5px;">
          <xsl:value-of select="*/common/year1_ter" />
        </td>
        <td style="border: solid 1px; padding: 3px 5px;">
          <xsl:value-of select="*/common/year2_ter" />
        </td>
        <td style="border: solid 1px; padding: 3px 5px;">
          <xsl:value-of select="*/common/year3_ter" />
        </td>
        <td style="border: solid 1px; padding: 3px 5px;">Averaged over<br/>the last 3 years</td>
        <td style="border: solid 1px; padding: 3px 5px;">Averaged over<br/>the last 5 years</td>
        <td style="border: solid 1px; padding: 3px 5px;">Averaged over<br/>the last 10 years</td>
      </tr>

      <tr>
        <td style="border: solid 1px; padding: 3px 5px;">Total Expense Ratio</td>
        <td style="border: solid 1px; padding: 3px 5px;">
          <xsl:value-of select="*/common/ter_year1" />%</td>
        <td style="border: solid 1px; padding: 3px 5px;">
          <xsl:value-of select="*/common/ter_year2" />%</td>
        <td style="border: solid 1px; padding: 3px 5px;">
          <xsl:value-of select="*/common/ter_year3" />%</td>
        <td style="border: solid 1px; padding: 3px 5px;">
          <xsl:value-of select="*/common/ter_ave3" />%</td>
        <td style="border: solid 1px; padding: 3px 5px;">
          <xsl:value-of select="*/common/ter_ave5" />%</td>
        <td style="border: solid 1px; padding: 3px 5px;">
          <xsl:value-of select="*/common/ter_ave10" />%</td>
      </tr>
    </table>

    <p>Please note that historical expense ratios may not be indicative of future expense ratios.
    </p>


    <p style="font-weight:bold;">HOW MUCH WILL YOU NEED TO PAY FOR ADVICE?</p>
    <p>The total distribution cost of this product is the amount that you will pay for advice and for other distribution related expenses. It includes cash payments in the form of commissions and benefits paid to the financial advisory firm and its representative(s)
      who have provided you with financial advice. This is not an additional cost to you as it has been included in the premiums payable for this plan.
    </p>

    <p>The Total Distribution Cost for this plan is
      <xsl:value-of select=" */common/basicTDC" /> as shown in the Policy Illustration. This makes up
      <xsl:value-of select=" */common/TDCPercent" />% of the total premiums payable.
    </p>

    <p style="font-weight:bold;">WHAT HAPPENS IF YOU SURRENDER YOUR POLICY EARLY?</p>
    <p>As buying a life insurance policy is a long-term commitment, an early termination of the policy usually involves high costs and the surrender value that is payable to you may be zero or less than the total premiums paid.
    </p>


    <p style="font-weight:bold;">OTHER IMPORTANT INFORMATION</p>
    <p>After purchasing a life insurance policy, the insurer will give you at least 14 days from the date you receive the policy documents to be sure that you want to keep the policy. If the insurer posts or emails the policy to you, the 14 days will start
      seven days from the date of posting or emailing.
    </p>

    <p>
      During this time, if you choose to cancel the policy, the insurer will refund you the premiums you have paid, less any medical fees and other expenses such as payments for medical check-ups and medical reports incurred by the insurer.
    </p>

    <p>
      compareFIRST is an online portal that enables you to easily compare the premiums and features of life insurance products available to the retail market in Singapore. compareFIRST empowers you to make informed decisions when purchasing life insurance products.
      You can access the portal at
      <a href="www.comparefirst.sg">www.comparefirst.sg</a> before making a life insurance purchase. You can also find out more about life insurance products at <a href="www.moneysense.gov.sg">www.moneysense.gov.sg</a>.
    </p>

    <div style="position:absolute;bottom: -80px;width:calc(100% - 50px);">
      <table style="text-align: left; table-layout: fixed; width: 100%; font-size: 10pt; margin: 0 auto;">
        <tbody>
          <tr style="color: white;">
            <td style="padding-left: 50px;">
              <div style="border-bottom: solid 1px black; width: 80%;">ADVISOR_SIGNATURE</div>
            </td>
            <td style="padding-left: 50px;">
              <div style="border-bottom: solid 1px black; width: 80%;">PROPOSER_SIGNATURE</div>
            </td>
          </tr>
          <tr>
            <td style="padding-left: 50px; padding-top: 10px;">Adviser's Signature</td>
            <td style="padding-left: 50px; padding-top: 10px;">Proposer's Signature</td>
          </tr>
          <tr>
            <td style="padding-left: 50px;">Date:</td>
            <td style="padding-left: 50px;">Date:</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>