<div class="global_main">
  <table class="w100">
    <thead>
      <tr>
        <th colspan="4" style="text-align: center; width: 100%; padding-bottom: 10px;"><strong>BENEFIT ILLUSTRATION COVER PAGE</strong></th>
      </tr>

    </thead>
    <tbody>
      <tr>
        <th colspan="4" style="text-align: center; width: 100%; padding-bottom: 10px;"><strong>TEST</strong></th>
      </tr>
    </tbody>
  </table>
  <div>test ti</div>
</div>