<table>
  <thead>
    <tr>
      <th>
        <div style="text-align: center; width: 100%; margin-bottom: 14px;"> <strong>BENEFIT ILLUSTRATION COVER PAGE</strong></div>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <div style="font-size: 10pt;">
          <table class="w100" style="border-bottom:solid 1px">
            <tbody>
              <tr>
                <td style="width: 20%">
                  <div class="hpd4">Adviser Name</div>
                </td>
                <td style="width: 35%">
                  <div class="hpd4" style="text-align: left">:
                    <xsl:value-of select="*/agent/name" /> </div>
                </td>
                <td style="width: 20%">
                  <div class="hpd4">Date</div>
                </td>
                <td>
                  <div class="hpd4">:
                    <xsl:value-of select="*/cover/genDate" /> </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="hpd4">Adviser Company</div>
                </td>
                <td>
                  <div class="hpd4">:
                    <xsl:value-of select="*/agent/company" /> </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="hpd4">Adviser Tel</div>
                </td>
                <td>
                  <div class="hpd4">:
                    <xsl:value-of select="*/agent/tel" /> </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="hpd4">Adviser HP</div>
                </td>
                <td>
                  <div class="hpd4">:
                    <xsl:value-of select="*/agent/mobile" /> </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="hpd4">Adviser Email</div>
                </td>
                <td>
                  <div class="hpd4">:
                    <xsl:value-of select="*/agent/email" /> </div>
                </td>
              </tr>
              <tr style="height: 13px;">
                <td style="height: 13px;"> </td>
                <td colspan="3" style="height: 13px;"> </td>
              </tr>
            </tbody>
          </table>
          <div class="sectionSpace" />
          <table class="w100">
            <tbody>
              <xsl:if test="*/mainInfo/sameAs='N'">
                <tr>
                  <td colspan="4">
                    <div class="hpd4"><strong>Proposer Details</strong></div>
                  </td>
                </tr>
                <tr>
                  <td style="width: 20%">
                    <div class="hpd4">Name</div>
                  </td>
                  <td style="width: 35%">
                    <div class="hpd4">:
                      <xsl:value-of select=" */cover/proposer/name" /> </div>
                  </td>
                  <td style="width: 20%">
                    <div class="hpd4">Gender</div>
                  </td>
                  <td>
                    <div class="hpd4">:
                      <xsl:value-of select="*/cover/proposer/gender" /> </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="hpd4">Age</div>
                  </td>
                  <td>
                    <div class="hpd4">:
                      <xsl:value-of select="*/cover/proposer/age" /> (As at
                      <xsl:value-of select="*/footer/sysdate" />) </div>
                  </td>
                  <td>
                    <div class="hpd4">Smoking Status</div>
                  </td>
                  <td>
                    <div class="hpd4">:
                      <xsl:value-of select="*/cover/proposer/smoking" /> </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="hpd4">Date of Birth</div>
                  </td>
                  <td>
                    <div class="hpd4">:
                      <xsl:value-of select="*/cover/proposer/dob" /> </div>
                  </td>
                  <td>
                    <div class="hpd4"></div>
                  </td>
                  <td>
                    <div class="hpd4"></div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="sectionSpace " />
                  </td>
                </tr>
              </xsl:if>
              <tr>
                <td colspan="4">
                  <div class="hpd4"><strong>Life Assured Details</strong></div>
                </td>
              </tr>
              <tr>
                <td style="width: 20%">
                  <div class="hpd4">Name</div>
                </td>
                <td style="width: 35%">
                  <div class="hpd4">:
                    <xsl:value-of select=" */cover/insured/name " /> </div>
                </td>
                <td style="width: 20% ">
                  <div class="hpd4">Gender</div>
                </td>
                <td>
                  <div class="hpd4">:
                    <xsl:value-of select="*/cover/insured/gender " /> </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="hpd4">Age</div>
                </td>
                <td>
                  <div class="hpd4">:
                    <xsl:value-of select="*/cover/insured/age" /> (As at
                    <xsl:value-of select="*/footer/sysdate" />) </div>
                </td>
                <td>
                  <div class="hpd4">Smoking Status</div>
                </td>
                <td>
                  <div class="hpd4">:
                    <xsl:value-of select="*/cover/insured/smoking " /> </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="hpd4">Date of Birth</div>
                </td>
                <td>
                  <div class="hpd4">:
                    <xsl:value-of select="*/cover/insured/dob " /> </div>
                </td>
                <td>
                  <div class="hpd4"></div>
                </td>
                <td>
                  <div class="hpd4"></div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="sectionSpace" />
                </td>
              </tr>
              <tr>
                <td style="width: 20% ">
                  <div class="hpd4 ">Payment Mode</div>
                </td>
                <td style="width: 35% ">
                  <div class="hpd4">:
                    <xsl:value-of select=" */basicPlan/payMode " /> </div>
                </td>
                <td style="width: 20% ">
                  <div class="hpd4 ">Basic Benefit</div>
                </td>
                <td>
                  <div class="hpd4 ">:
                    <xsl:value-of select="*/basicPlan/basicBenefit " /> </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="hpd4 ">Policy Currency</div>
                </td>
                <td>
                  <div class="hpd4 ">:
                    <xsl:value-of select="*/basicPlan/ccy " /> </div>
                </td>
                <td>
                  <div class="hpd4 ">Insurance Charge</div>
                </td>
                <td>
                  <div class="hpd4 ">:
                    <xsl:value-of select="*/basicPlan/insureCharge " /> </div>
                </td>
              </tr>
              <tr>
                <xsl:if test="*/basicPlan/hasOccupation = 'Y'">
                  <td>
                    <div class="hpd4 ">Occupation Class</div>
                  </td>
                  <td>
                    <div class="hpd4 ">:
                      <xsl:value-of select="*/basicPlan/occupation " /> </div>
                  </td>
                </xsl:if>
                <td>
                  <div class="hpd4 "></div>
                </td>
                <td>
                  <div class="hpd4 "> </div>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="sectionSpace " />
          <table style="width: 100% ">
            <thead>
              <tr>
                <th colspan="4 " class="tleft "><strong style="padding: 4px; ">Your Plan</strong></th>
              </tr>
              <tr>
                <th class="tleft " style="width: 30%; "><strong style="padding: 4px; ">Plan Name</strong></th>
                <th class="tright " style="width: 20%; "><strong style="padding: 4px; ">Policy Term<sup>*</sup></strong></th>
                <th class="tright " style="width: 20%; "><strong style="padding: 4px; ">Payment Term</strong></th>
                <th class="tright " style="width: 30%; "><strong style="padding: 4px; ">Sum Assured/Benefit</strong></th>
              </tr>
            </thead>
            <tbody>
              <xsl:for-each select="*/cover/plans ">
                <tr>
                  <td class="hpd4 vtop tleft ">
                    <xsl:value-of select="name " /> </td>
                  <td class="hpd4 vtop tright ">
                    <xsl:value-of select="polTerm " />
                  </td>
                  <td class="hpd4 vtop tright ">
                    <xsl:value-of select="payMode " />
                  </td>
                  <td class="hpd4 vtop tright ">
                    <xsl:value-of select="sumInsured " /> </td>
                </tr>
              </xsl:for-each>
            </tbody>
          </table>
          <div class="sectionSpace " />
          <table style="width: 100% ">
            <thead>
              <tr style="vertical-align:top; ">
                <th colspan="7 " class="tleft "><strong style="padding: 4px; ">Your Premium</strong></th>
              </tr>
              <tr style="vertical-align:top; ">
                <th class="tleft pd4 b " style="width: 16%; ">Plan Name</th>
                <th class="tleft pd4 b " style="width: 14%; ">Annual Premium</th>
                <th class="tleft pd4 b " style="width: 14%; ">Semi-Annual Premium</th>
                <th class="tleft pd4 b " style="width: 14%; ">Quarterly Premium</th>
                <th class="tleft pd4 b " style="width: 14%; ">Monthly Premium</th>
                <th class="tleft pd4 b " style="width: 14%; ">Recurring Single Premium</th>
                <th class="tleft pd4 b ">Top-Up Premium</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="tleft hpd4 ">
                  <xsl:value-of select="*/basicPlan/name " /> </td>
                <td class="tleft hpd4 ">
                  <xsl:value-of select="*/basicPlan/aPremium " /> </td>
                <td class="tleft hpd4 ">
                  <xsl:value-of select="*/basicPlan/sPremium " /> </td>
                <td class="tleft hpd4 ">
                  <xsl:value-of select="*/basicPlan/qPremium " /> </td>
                <td class="tleft hpd4 ">
                  <xsl:value-of select="*/basicPlan/mPremium " /> </td>
                <td class="tleft hpd4 ">
                  <xsl:value-of select="*/basicPlan/rspTopUp " /> </td>
                <td class="tleft hpd4 ">
                  <xsl:value-of select="*/basicPlan/spTopUp " /> </td>
              </tr>
            </tbody>
          </table>
          <div class="sectionSpace " />
          <xsl:if test="*/basicPlan/hasWithdrawal='Y'">
            <table style="width: 100% ">
              <thead>
                <tr style="vertical-align:top; ">
                  <th colspan="3 " class="tleft "><strong style="padding: 4px; ">Your Regular Withdrawal</strong></th>
                </tr>
                <tr style="vertical-align:top; ">
                  <th class="tleft " style="width: 40%; "><strong style="padding: 4px; ">Annual Amount Withdrawal</strong></th>
                  <th class="tleft " style="width: 30%; "><strong style="padding: 4px; ">Withdrawal Start Age</strong></th>
                  <th class="tleft " style="width: 30%; "><strong style="padding: 4px; ">Withdrawal End Age</strong></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="hpd4 vtop tleft ">
                    <xsl:value-of select="*/cover/withdrawal/value " /> </td>
                  <td class="hpd4 vtop tleft ">
                    <xsl:value-of select="*/cover/withdrawal/from " /> </td>
                  <td class="hpd4 vtop tleft ">
                    <xsl:value-of select="*/cover/withdrawal/to " /> </td>
                </tr>
              </tbody>
            </table>
            <div class="sectionSpace " />
          </xsl:if>
          <table style="width: 100% ">
            <thead>
              <tr style="vertical-align:top; ">
                <th class="tleft pd4 b " style="width: 39%; ">Fund Name</th>
                <th class="tleft pd4 b" style="width: 39%; ">
                  <div style="text-align: left; width: initial; display: inline;">Fund Allocation (Regular
                    <br/>Premium/Recurring Single Premium)</div>
                </th>
                <th style="width:5%"></th>
                <th class="tleft pd4 b" style="width: 15%; ">
                  <div style="text-align: left; width: initial; display: inline;">Fund Allocation
                    <br/>(Top-Up)</div>
                </th>
                <th class="tleft pd4 b tright" style="width: 12%; ">Fund Code</th>
              </tr>
            </thead>
            <tbody>
              <xsl:for-each select="*/cover/funds ">
                <tr>
                  <td class="vtop hpd4 ">
                    <xsl:value-of select="name " /> </td>
                  <td class="vtop hpd4 tright">
                    <xsl:value-of select="alloc " />
                  </td>
                  <td></td>
                  <td class="vtop hpd4 tright">
                    <xsl:value-of select="topUpAlloc" />
                  </td>
                  <td class="vtop hpd4 tright">
                    <xsl:value-of select="code " /> </td>
                </tr>
              </xsl:for-each>
              <tr>
                <td class="hpd4">Total</td>
                <td class="hpd4 tright">100%</td>
                <td></td>
                <td class="hpd4 tright">
                  <xsl:choose>
                    <xsl:when test="*/basicPlan/hasTopUp='Y' ">100%</xsl:when>
                    <xsl:otherwise>0%</xsl:otherwise>
                  </xsl:choose>
                </td>
                <td></td>
              </tr>
            </tbody>
          </table>
          <div style="margin-top:8px; "><sup>*</sup> TPD coverage, wherever applicable, is up to age 65</div>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<xsl:if test="*/mainInfo/quickQuote='Y'">
  <div style="height: 56px;" />
  <div style="position: absolute; bottom: 0px; left: 0px; right: 0px;">
    <div class="b">Declaration</div>
    <div>I / We confirm that I / We have received all pages of the Benefit Illustration for the basic plan / all riders listed above, where applicable.</div>
  </div>
</xsl:if>