<div class="global_intro">
  <div style="flex-grow: 1;"></div>
  <div class="sav_intro-logo"></div>
  <p style="text-align: left;"></p>
  <div style="text-align: center; width: 100%; padding: 2 0 10 0;"><strong>MAIN POLICY ILLUSTRATION</strong></div>
</div>