<div class="global_intro">
  <div style="flex-grow: 1;"></div>
  <p style="text-align: left;"></p>
  <div style="text-align: center; width: 100%; padding: 20 0;"><strong>MAIN POLICY ILLUSTRATION</strong></div>
</div>