<div style="height: 8px;" />
<table style="width: 100%;">
  <tbody>
    <tr>
      <td>
        <div class="rhp-intro-logo" />
      </td>
      <td style="float: right; width: 200px;"></td>
    </tr>
  </tbody>
</table>