<div class="global_main">
  <div>Benefit Illustration of Rider(s)</div>
  <table class="quotDetail">
    <tbody>
      <tr>
        <td class="">Policy Currency:
          <xsl:value-of select="*/policyCurrency" />
        </td>
        <td class=""></td>
      </tr>
    </tbody>
  </table>
  <p> </p>
  <p>This is only a supplementary illustration and must be read in conjunction with the main illustration.</p>
  <p>The following table of values relate to the supplementary benefit(s) selected.</p>
  <br/>

  <p> </p>
  <div style="width: 50%;margin: 0 auto;">
    <table class="TDCtable">
      <tbody>
        <tr style="">
          <td class="tableHeaderBlack" colspan="3">
            <p>Total Distribution Cost</p>
          </td>
        </tr>
        <tr class="illustrateTableHeader">
          <td class="tablePaddingTop TDCfieldYr">
            <p>End of
              <br/>Policy
              <br/>Year/Age</p>
          </td>
          <td class="tablePaddingTop TDCfieldAmount">
            <div>Rider Premiums
              <br/>Paid To-Date</div>

          </td>
          <td class="tablePaddingTop TDCfieldAmount">
            <p>Total Distribution Cost To-Date</p>

          </td>
        </tr>
        <tr style="">
          <td class="TDCfieldYr"></td>

          <td class="TDCfieldAmount">
            <p>(
              <xsl:value-of select="*/ccySyb" />)</p>
          </td>
          <td class="TDCfieldAmount">
            <p>(
              <xsl:value-of select="*/ccySyb" />)</p>
          </td>
        </tr>
        <xsl:for-each select="*/illustrateData_totalDistribCost">
          <tr style="">
            <td class="TDCfieldYr">
              <xsl:value-of select="polYr_age" /> </td>
            <td class="TDCfieldAmount">
              <xsl:value-of select="totalPremPaid" /> </td>
            <td class="TDCfieldAmount">
              <xsl:value-of select="totalDistribCost" />
            </td>
          </tr>
        </xsl:for-each>
      </tbody>
    </table>
  </div>

</div>