<div style="position:relative;font-size:10pt">
  <div style="width: calc(100% - 30px);height: 100vh;">

    <hr style="display: block;height: 1px; border: 0; border-top: 2px solid #4A7EBB ; margin: 1em 0; padding: 0;" />

    <p style="font-weight:bold;">WHAT RETURNS CAN YOU EXPECT FROM THIS POLICY BASED ON THE ILLUSTRATED INVESTMENT RATES OF RETURN?</p>
    <p>Based on the Illustrated Investment Rate of Return of
      <xsl:value-of select="*/covcommon/highIRR" />% p.a., your total Illustrated Yield at maturity is
      <xsl:value-of select="*/covcommon/ytm_h" />% p.a.
    </p>

    <p>Based on the Illustrated Investment Rate of Return of
      <xsl:value-of select=" */covcommon/lowIRR" />% p.a., your total Illustrated Yield at maturity is
      <xsl:value-of select=" */covcommon/ytm_l" />% p.a.
    </p>

    <p>These returns are not guaranteed and do not represent the upper and lower limits of the returns you may receive.
    </p>

    <p>Please note that the guaranteed maturity benefit of your policy may be less than the total premiums paid.
    </p>

    <p>You can compare
      <xsl:value-of select="*/covcommon/ytm_h" />% and
      <xsl:value-of select="*/covcommon/ytm_l" />% Illustrated Yields at maturity with the returns of Singapore Savings Bonds and Singapore Government Securities. You may refer to
      <a href="http://www.sgs.gov.sg/savingsbonds.aspx">http://www.sgs.gov.sg/savingsbonds.aspx</a> and
      <a href="http://www.sgs.gov.sg/">http://www.sgs.gov.sg/</a> for more information on the returns of Singapore Savings Bonds and Singapore Government Securities. Please note that the Illustrated Yields at maturity have taken into account the cost
      of insurance and expenses incurred.
    </p>

    <p style="font-weight:bold;">HOW HAS THE PARTICIPATING FUND PERFORMED OVER THE LAST FEW YEARS?</p>
    <p>The historical investment rates of return (after deducting investment expenses) of the Participating Fund are shown below:
    </p>

    <table class="w100" style="border-collapse:collapse;">
      <colgroup>
        <col style="width:16%;" />
        <col style="width:10%;" />
        <col style="width:10%;" />
        <col style="width:10%;" />
        <col style="width:18%;" />
        <col style="width:18%;" />
        <col style="width:18%;" />
      </colgroup>

      <tr>
        <td style="border: solid 1px; padding: 3px 5px;text-align: center;"></td>
        <td style="border: solid 1px; padding: 3px 5px;text-align: center;">
          <xsl:value-of select="*/covcommon/year1_ir" />
        </td>
        <td style="border: solid 1px; padding: 3px 5px;text-align: center;">
          <xsl:value-of select="*/covcommon/year2_ir" />
        </td>
        <td style="border: solid 1px; padding: 3px 5px;text-align: center;">
          <xsl:value-of select="*/covcommon/year3_ir" />
        </td>
        <td style="border: solid 1px; padding: 3px 5px;text-align: center;">Averaged over<br/>the last 3 years</td>
        <td style="border: solid 1px; padding: 3px 5px;text-align: center;">Averaged over<br/>the last 5 years</td>
        <td style="border: solid 1px; padding: 3px 5px;text-align: center;">Averaged over<br/>the last 10 years</td>
      </tr>

      <tr>
        <td style="border: solid 1px; padding: 3px 5px;">Investment Returns</td>
        <td style="border: solid 1px; padding: 3px 5px;text-align: center;">
          <xsl:value-of select="*/covcommon/ir_year1" />%</td>
        <td style="border: solid 1px; padding: 3px 5px;text-align: center;">
          <xsl:value-of select="*/covcommon/ir_year2" />%</td>
        <td style="border: solid 1px; padding: 3px 5px;text-align: center;">
          <xsl:value-of select="*/covcommon/ir_year3" />%</td>
        <td style="border: solid 1px; padding: 3px 5px;text-align: center;">
          <xsl:value-of select="*/covcommon/ir_ave3" />%</td>
        <td style="border: solid 1px; padding: 3px 5px;text-align: center;">
          <xsl:value-of select="*/covcommon/ir_ave5" />%</td>
        <td style="border: solid 1px; padding: 3px 5px;text-align: center;">
          <xsl:value-of select="*/covcommon/ir_ave10" />%</td>
      </tr>
    </table>

    <p>Please note that historical performance may not be indicative of future performance.
    </p>

    <p>Changes in the economic and investment environment may affect the investment performance of the Participating Fund and the bonuses or dividends that you may receive.
    </p>

    <p style="font-weight:bold;">HOW WILL EXPENSES INCURRED BY THE PARTICIPATING FUND AFFECT YOU?</p>
    <p>The expenses incurred by the Participating Fund include investment, management, distribution, tax and other expenses. The Total Expense Ratio is the proportion of total expenses incurred by the Participating Fund to the assets of the Participating
      Fund. The level of expenses incurred may affect the bonuses or dividends you may receive. </p>
    <xsl:if test="*/mainInfo/quickQuote='Y'">
      <div style="position:absolute;bottom: -60px;width:calc(100% - 50px);">
        <table style="text-align: left; table-layout: fixed; width: 100%; font-size: 10pt; margin: 0 auto;">
          <tbody>
            <tr style="color: white;">
              <td style="padding-left: 50px;">
                <div style="border-bottom: solid 1px black; width: 80%;">1</div>
              </td>
              <td style="padding-left: 50px;">
                <div style="border-bottom: solid 1px black; width: 80%;">2</div>
              </td>
            </tr>
            <tr>
              <td style="padding-left: 50px; padding-top: 10px;">Adviser's Signature</td>
              <td style="padding-left: 50px; padding-top: 10px;">Proposer's Signature</td>
            </tr>
            <tr>
              <td style="padding-left: 50px;">Date:</td>
              <td style="padding-left: 50px;">Date:</td>
            </tr>
          </tbody>
        </table>
      </div>
    </xsl:if>
  </div>



</div>