<div class="global_main">


  <table class="w100">
    <thead>
      <tr>
        <th colspan="4" style="text-align: center; width: 100%; padding-bottom: 10px;"><strong>MAIN BENEFIT ILLUSTRATION</strong></th>
      </tr>
      <tr>
        <th class="vtop vpd2 b tleft" style="width: 25%;">
          <div>Proposal on the life of</div>
        </th>
        <th class="vtop vpd2 tleft" style="width: 35%;">
          <div>:
            <xsl:value-of select="*/cover/insured/name" />
          </div>
        </th>
        <th class="vtop vpd2 b tleft" style="width: 50px;">
          <div>Date</div>
        </th>
        <th class="vtop vpd2 tleft">
          <div>:
            <xsl:value-of select="*/cover/genDate" />
          </div>
        </th>
      </tr>
      <tr style="border-bottom: solid 1pt black">
        <th class="vtop vpd2 b tleft">
          <div>Gender</div>
        </th>
        <th class="vtop vpd2 tleft">
          <div>:
            <xsl:value-of select="*/cover/insured/gender" /> (
            <xsl:value-of select="*/cover/insured/smoking" />)
          </div>
        </th>
        <th class="vtop vpd2 b tleft">
          <div>Age</div>
        </th>
        <th class="vtop vpd2 tleft">
          <div>:
            <xsl:value-of select="*/cover/insured/age" /> (As at
            <xsl:value-of select="*/cover/genDate" /> )
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td colspan="4">
          <div id="page1">
            <p class="underlineheader ">INTRODUCTION</p>
            <p></p>
            <p>AXA Insurance Pte Ltd believes that it is important that you fully appreciate the benefits of your policy. You should also understand how the cost of your insurance cover and the expenses of administration and sales affect the benefits that
              you will receive.</p>

            <p>The illustration includes a schedule that shows how the value of your policy progresses over time and the sum(s) that would be payable. The methods used to derive the values shown follow guidelines established by the Life Insurance Association,
              Singapore, to ensure that a fair and consistent approach is used in preparing this illustration.</p>

            <p>Buying a life insurance policy can be a long-term commitment. An early termination of the policy usually involves high costs and the surrender value payable may be less than the total premiums paid.</p>

            <p>If you need clarification please do not hesitate to ask your adviser.</p>


            <br/>

            <p class="underlineheader ">PROJECTED INVESTMENT RATE OF RETURN</p>
            <p></p>
            <p>The illustrations are based on projected investment returns of
              <xsl:value-of select="*/aror/low" />% p.a. and
              <xsl:value-of select="*/aror/high" />% p.a. The two rates of return used are before deducting the annual management charges of the funds. They are purely for illustrative purposes and do not represent upper and lower limits on the investment performance. They also do not reflect
              potential volatility over the short-term resulting in potential sharp movements, up or down, of the underlying assets of the funds. The actual benefits payable will depend on the actual performance of the underlying assets of the funds.
              The performance of the funds is not guaranteed and the cash value may be less than the capital invested.</p>
            <p>Please note that if you select a money market fund or a fixed income fund, then returns of
              <xsl:value-of select="*/aror/low" />% to
              <xsl:value-of select="*/aror/high" />% could be considered high in many cases and unlikely to be achieved if the current low interest rate environment persists. You are strongly encouraged to speak to your financial adviser who would be able to provide further information on
              these funds - both for your initial fund selection and subsequently.</p>
            <p>The Fund Management Charge assumed in this Benefit Illustration is 1.30% p.a. The actual Fund Management Charge will depend on the combination of the different funds selected by the Policyholder.</p>
            <br/>
          </div>
          <div id="page2" class="pagebreak">
            <p class="underlineheader ">EFFECT OF DEDUCTIONS</p>
            <p></p>
            <p>"Value of Premiums Paid to-date" is obtained by accumulating the premiums paid to date at the Projected Investment Rate of Return, assuming the premiums paid can be invested without deduction for the cost of Insurance and without any expenses.
              </p>
            <p>The difference between the "Value of Premiums Paid to-date" and "Total Surrender Value" represents the "Effect of Deductions To-Date". This is the accumulated value of the deductions for the Cost of Insurance, Distribution Cost, Expenses,
              Surrender Charge, expected Tax payments, and expected transfers to Shareholders (for participating policies).
            </p>
            <br/>


            <p class="underlineheader ">REDUCTION IN YIELD</p>
            <p></p>
            <p>This Benefit Illustration shows that

              <xsl:choose>
                <xsl:when test="*/illustrationImpro/isOldAge = 0">
                  at age 65
                </xsl:when>
                <xsl:otherwise>over 20 years</xsl:otherwise>
              </xsl:choose>, the effect of the total deductions could amount to
              <xsl:value-of select="*/illustrationImpro/totalDistribution" />.</p>
            <p>The total deductions would have the effect of reducing the Projected Investment Rate of Return upon surrender
              <xsl:choose>
                <xsl:when test="*/illustrationImpro/isOldAge = 0">
                  at age 65
                </xsl:when>
                <xsl:otherwise>over 20 years</xsl:otherwise>
              </xsl:choose> from
              <xsl:value-of select="*/aror/high" />% to
              <xsl:value-of select="*/illustrationImpro/reductionYield" />% p.a. </p>

            <p>The difference between the Projected Investment Rate of Return of
              <xsl:value-of select="*/aror/high" />% p.a.and the rate of return you will receive (based on this Benefit Illustration) is called the Reduction in Yield.</p>
            <br/>


            <p class="underlineheader ">TOTAL DISTRIBUTION COST </p>
            <p></p>
            <p>The Total Distribution Cost To-date is the sum of each year’s expected distribution-related costs, without interest. Such costs include cash payments in the form of commission, costs of benefits and services paid to the Distribution Channel.
            </p>
            <p>The Total Distribution Cost is not an additional cost to you; it has already been allowed for in calculating your premium. </p>
            <br/>
          </div>
          <div id="page3" class="pagebreak">
            <p class="underlineheader ">IMPORTANT NOTES</p>
            <ol class="numbercount ">
              <li> The illustrations in the tables above are based on projected investment returns of
                <xsl:value-of select="*/aror/low" />% p.a. and
                <xsl:value-of select="*/aror/high" />% p.a. The two rates of returns are purely for illustrative purposes. The actual rate may be higher or lower. The actual benefits payable will depend on the actual performance of the underlying assets of the fund(s). The performance of
                the fund(s) is/are not guaranteed and the surrender value may be less than the capital invested.</li>
              <br/>
              <li>The quotation is applicable to standard life. </li>
              <br/>
              <li>The quotation is for illustrative purposes only and is not a contract of assurance. The precise terms and conditions of this plan are specified in the policy contract.</li>
              <br/>
              <li>Buying a life insurance policy is a long-term commitment. An early termination of the policy usually involves high costs and the surrender value payable, if any, may be less than total premiums paid.</li>
              <br/>
              <li>Figures shown in this main illustration table assume that no withdrawal of funds have been made during the term of the policy.</li>
              <br/>
              <li>Please note the lapsation and termination clauses in the product summary and policy contract.</li>
              <br/>
              <li>All figures quoted are based on the selected policy currency.</li>
              <br/>
              <li>Figures shown in the illustration tables assume:
                <br/> * payment of Start-up Bonus (if any); and
                <br/> * payment of Loyalty Bonus (if any); and
                <br/> * refund of the Policy Maintenance Fee paid throughout the Policy's Premium Payment Term (if any).
              </li>
              <br/>
              <li>For the avoidance of doubt, the figures shown above for the Non-guaranteed Surrender Values in the year when the Premium Payment Term ("PPT") is ending does not take into account the Surrender Charges for the Policy as the assumption in
                the illustration is that there will be no surrender in that particular year. However, please note that in the event you do surrender the Policy at any time in the year when the PPT is ending, we will levy Surrender Charges on the Policy
                payout.</li>
              <br/>
              <li>All other figures in the above illustration for Non-guaranteed Surrender Values have already taken into account the Surrender Charges for the Policy if the Policy is surrendered at any time before the end of the PPT.</li>
              <br/>
            </ol>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

</div>