<div class="global_main">


  <table class="w100">
    <colgroup>
      <col style="width:26%" />
      <col style="width:32%" />
      <col style="width:7%;" />
      <col style="width:35%" />
    </colgroup>

    <thead>
      <tr>
        <th colspan="4" style="text-align: center; width: 100%; padding-bottom: 10px;">
          <strong>MAIN POLICY ILLUSTRATION</strong>
        </th>
      </tr>

      <tr>
        <th colspan="2" class="vtop b tleft">
          <span>Proposal on the life of: </span>
          <span><xsl:value-of select="*/cover/insured/name"/></span>
        </th>

        <th class="vtop b tleft">
          <span>Date</span>
        </th>
        <th class="vtop tleft">
          <span>:
                        <xsl:value-of select="*/cover/genDate"/>
                    </span>
        </th>
      </tr>

      <tr style="border-bottom: solid 1pt black">
        <th colspan="2" class="vtop b tleft">
          <span>Gender: </span>
          <span>
						<xsl:value-of select="*/cover/insured/gender"/> 
						(<xsl:value-of select="*/cover/insured/smoking"/>)
					</span>
        </th>
        <th class="vtop b tleft">
          <span>Age</span>
        </th>
        <th class="vtop tleft">
          <span>:
                        <xsl:value-of select="*/cover/insured/age"/> (As At
                        <xsl:value-of select="*/cover/riskCommenDate"/>)
                    </span>
        </th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td colspan="4">
          <div id="page1">
            <p class="underlineheader ">INTRODUCTION</p>

            <p>

              <br/> AXA Insurance Pte Ltd believes that it is important that you fully appreciate the benefits of your policy. You should also understand how the cost of your insurance cover and the expenses of administration and sales affect the benefits
              that you will receive.


              <br/><br/> The illustration that follows shows how the value of your policy progresses over time and the sum(s) that would be payable. The methods used to derive the values shown follow guidelines established by the Life Insurance Association,
              Singapore, to ensure that a fair and consistent approach is used in preparing this illustration.

              <br/><br/> Please note that your policy provides a combination of (1) guaranteed benefits and (2) non-guaranteed benefits in the form of bonuses &#47; cash dividends. The bonus rates &#47; dividend scales used in this illustration are not
              guaranteed and may vary according to the performance of the Participating Fund.

              <br/><br/> Buying a life insurance policy can be a long-term commitment. An early termination of the policy usually involves high costs and the surrender value payable may be less than the total premiums paid.

              <br/><br/> If you need clarification please do not hesitate to ask your adviser.

              <br/><br/> This Policy is protected under the Policy Owners&#39; Protection Scheme which is administered by the Singapore Deposit Insurance Corporation (SDIC). Coverage for your policy is automatic and no further action is required from
              you. For more information on the types of benefits that are covered under the scheme as well as the limits of coverage, where applicable, please contact AXA Insurance Pte Ltd or visit the LIA or SDIC web-sites (
              <a href="www.lia.org.sg">www.lia.org.sg</a> or <a href="www.sdic.org.sg">www.sdic.org.sg</a>).


              <br/><br/>

            </p>

            <p class="underlineheader ">IMPORTANT NOTES</p>


            <table class="w100">
              <colgroup>
                <col style="width:3%" />
                <col style="width:97%" />
              </colgroup>

              <tr>
                <td style="vertical-align:top">1.</td>
                <td>
                  This Policy Illustration is intended for illustrative purposes only. The terms and conditions are specified in the policy contract.
                </td>
              </tr>

              <tr>
                <td><br/></td>
              </tr>

              <tr>
                <td>2.</td>
                <td>
                  The quotation is applicable to standard life.
                </td>
              </tr>
            </table>


          </div>
        </td>
      </tr>
    </tbody>
  </table>

</div>