<div class="global_main">
  <p> </p>
  <p><strong>TOTAL DISTRIBUTION COST</strong></p>
  <p> </p>
  <p>The Total Distribution Cost that the Company expects to incur in relation to your policy is
    <xsl:value-of select="*/tdcPercent" /> of Total Premiums (including Single Premium and Recurring Single Premium if any) depending on conditions where applicable. Such costs include cash payments in the form of commission, costs of benefits and services paid to the distribution channel.</p>
  <p> </p>
  <p>Please note that the Total Distribution Cost is not an additional cost to you; it has already been allowed for in calculating your premium.</p>
</div>