<div class="global_main">
  <table class="w100">
    <thead>
      <tr>
        <th colspan="4" style="text-align: center; width: 100%; padding-bottom: 10px;"><strong>BENEFIT ILLUSTRATION COVER PAGE</strong></th>
      </tr>

    </thead>
    <tbody>
      <tr>
        <td style="width: 20%;">Adviser Name</td>
        <td style="width: 40%;">:
          <xsl:value-of select="*/agent/name" />
        </td>
        <td style="width: 20%;">
          <div>Date</div>
        </td>
        <td style="width: 20%;">
          <div>:
            <xsl:value-of select="*/cover/genDate" />
          </div>
        </td>
      </tr>
      <tr>
        <td style="width: 20%;">Adviser Company</td>
        <td style="width: 80%;" colspan="3">:
          <xsl:value-of select="*/agent/company" />
        </td>
      </tr>
      <tr>
        <td style="width: 20%;">Adviser Tel</td>
        <td style="width: 80%;" colspan="3">:
          <xsl:value-of select="*/agent/tel" />
        </td>
      </tr>
      <tr>
        <td style="width: 20%;">Adviser HP</td>
        <td style="width: 80%;" colspan="3">:
          <xsl:value-of select="*/agent/mobile" />
        </td>
      </tr>
      <tr style="">
        <td style="width: 20%;">Adviser Email</td>
        <td style="width: 80%;" colspan="3">:
          <xsl:value-of select="*/agent/email" />
        </td>
      </tr>
      <tr style="height: 13px;border-bottom: solid 1pt black">
        <td colspan="6" style="text-align: center; width: 100%; padding-bottom: 2px;"></td>
      </tr>
      <tr>
        <td colspan="6">
          <div style="">
            <xsl:if test="*/conditions/same_as='N'">
              <div class="sectiontitle">Proposer Details</div>
              <table>
                <tbody>
                  <tr style="">
                    <td style="width: 20%; ">Name</td>
                    <td style="width: 40%; ">:
                      <xsl:value-of select="*/proposer_details/assured_name" />
                    </td>
                    <td style="width: 20%; ">Gender</td>
                    <td style="">:
                      <xsl:value-of select="*/proposer_details/assured_gender" />
                    </td>
                  </tr>
                  <tr style="">
                    <td style="width: 20%; ">Age</td>
                    <td style="width: 40%; ">:
                      <xsl:value-of select="*/proposer_details/assured_age" /> (as at
                      <xsl:value-of select="*/proposer_details/comm_date" />)</td>
                    <td style="width: 20%; ">Smoking Status</td>
                    <td style="">:
                      <xsl:value-of select="*/proposer_details/assured_smoke" />
                    </td>
                  </tr>
                  <tr style="">
                    <td style="">Date of Birth</td>
                    <td style="">:
                      <xsl:value-of select="*/proposer_details/assured_dob" />
                    </td>
                    <td style=""> </td>
                    <td style=""> </td>
                  </tr>
                  <tr style="">
                    <td style="">Country of Residence</td>
                    <td style="">:
                      <xsl:choose>
                        <xsl:when test="*/conditions/pRCountry='Others'">
                          <xsl:value-of select="*/conditions/pRCountry" />*
                        </xsl:when>
                        <xsl:otherwise>
                          <xsl:value-of select="*/conditions/pRCountry" />
                        </xsl:otherwise>
                      </xsl:choose>
                    </td>
                    <td style=""> </td>
                    <td style=""> </td>
                  </tr>
                  <xsl:if test="*/conditions/pRCity!=''">
                    <tr style="height: 13.3125px;">
                      <td style="height: 13.3125px;">City of Residence</td>
                      <td style="height: 13.3125px;">:
                        <xsl:value-of select="*/conditions/pRCity" />
                      </td>
                      <td style="height: 13.3125px;"> </td>
                      <td style="height: 13.3125px;"> </td>
                    </tr>
                  </xsl:if>
                </tbody>
              </table>
              <xsl:if test="*/conditions/pOtherCountry='Y'">
                <div class="remark">*Individual consideration depending on the country of residency. Application will be subject to underwriting review.
                </div>
              </xsl:if>
            </xsl:if>
            <div class="sectiontitle">Life Assured Details</div>
            <table>
              <tbody>
                <tr>
                  <td style="width: 20%;">Name</td>
                  <td style="width: 40%;">:
                    <xsl:value-of select="*/life_assured_details/l_assured_name" />
                  </td>
                  <td style="width: 20%;">Gender</td>
                  <td>:
                    <xsl:value-of select="*/life_assured_details/l_assured_gender" />
                  </td>
                </tr>
                <tr>
                  <td style="width: 20%;">Age</td>
                  <td style="width: 40%;">:
                    <xsl:value-of select="*/life_assured_details/l_assured_age" /> (as at
                    <xsl:value-of select="*/life_assured_details/l_comm_date" />)</td>
                  <td style="width: 20%;">Smoking Status</td>
                  <td>:
                    <xsl:value-of select="*/life_assured_details/l_assured_smoke" />
                  </td>
                </tr>
                <tr>
                  <td style="width: 20%;">Date of Birth</td>
                  <td style="width: 40%;">:
                    <xsl:value-of select="*/life_assured_details/l_assured_dob" />
                  </td>
                  <td> </td>
                  <td> </td>
                </tr>
                <tr>
                  <td>Country of Residence</td>
                  <td>:
                    <xsl:choose>
                      <xsl:when test="*/conditions/iRCountry='Others'">
                        <xsl:value-of select="*/conditions/iRCountry" />*
                      </xsl:when>
                      <xsl:otherwise>
                        <xsl:value-of select="*/conditions/iRCountry" />
                      </xsl:otherwise>
                    </xsl:choose>
                  </td>
                  <td> </td>
                  <td> </td>
                </tr>
                <xsl:if test="*/conditions/iRCity!=''">
                  <tr>
                    <td>City of Residence</td>
                    <td>:
                      <xsl:value-of select="*/conditions/iRCity" />
                    </td>
                    <td> </td>
                    <td> </td>
                  </tr>
                </xsl:if>
              </tbody>
            </table>
            <xsl:if test="*/conditions/iOtherCountry='Y'">
              <div class="remark">*Individual consideration depending on the country of residency. Application will be subject to underwriting review.
              </div>
            </xsl:if>
            <div class="emptyspace10"></div>
            <table>
              <tbody>
                <tr>
                  <td style="width: 20%;">Payment Mode</td>
                  <td colspan="4">:
                    <xsl:value-of select="*/basic_plan/paymentModeDesc" />
                  </td>
                </tr>
                <tr>
                  <td style="width: 20%;">Policy Currency</td>
                  <td colspan="4">:
                    <xsl:value-of select="*/basic_plan/policy_currency" />
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="emptyspace10"></div>
            <table>
              <thead>
                <tr>
                  <th class="alignleft" colspan="5 " height="20px">Your Plan</th>
                </tr>
                <tr style="vertical-align: top;">
                  <th class="alignleft" style="width: 35%;">Plan Name</th>
                  <th class="alignright" style="width: 15%;">Policy Term</th>
                  <th class="alignright" style="width: 15%;">Premium
                    <br/>Term</th>
                  <th class="alignright" style="width: 15%;">Sum Assured/<br/>Benefit</th>
                  <th class="alignright">Multiplier Benefit*</th>
                </tr>
              </thead>
              <tbody>
                <xsl:for-each select="*/your_plan/plans">
                  <xsl:if test="((covCode!='MBX') and (covCode!='ADBX') and (covCode!='TPDX'))">
                    <tr>
                      <td class="alignleft">
                        <xsl:value-of select="name" />
                      </td>
                      <td class="alignright">
                        <xsl:value-of select="polTermDesc" /> </td>
                      <td class="alignright">
                        <xsl:value-of select="premTermDesc" /> </td>
                      <td class="alignright">
                        <xsl:value-of select="sum_assured" /> </td>
                      <td class="alignright">
                        <xsl:value-of select="multiplyBenefit" /> </td>
                    </tr>
                  </xsl:if>
                  <xsl:if test="( (covCode='MBX') or (covCode='ADBX') or (covCode='TPDX') )">
                    <tr>
                      <td class="alignleft pdleft20">
                        <xsl:value-of select="name" />
                      </td>
                      <td class="alignright">
                        <xsl:value-of select="polTermDesc" /> </td>
                      <td class="alignright">
                        <xsl:value-of select="premTermDesc" /> </td>
                      <td class="alignright">
                        <xsl:value-of select="sum_assured" /> </td>
                      <td class="alignright">
                        <xsl:value-of select="multiplyBenefit" /> </td>
                    </tr>
                  </xsl:if>
                  <xsl:if test="covCode='LMP'">
                    <tr>
                      <td class="alignleft">Packaged Riders</td>
                    </tr>
                  </xsl:if>
                </xsl:for-each>
              </tbody>
            </table>

            <div class="emptyspace10"></div>
            <table>
              <thead>
                <tr style="vertical-align: top;">
                  <th class="alignleft" style="width: 35%;" height="20px">Your Premium</th>
                  <th class="alignright" style="width: 15%;">Annual
                    <br />Premium</th>
                  <th class="alignright" style="width: 15%;">Semi-Annual
                    <br />Premium</th>
                  <th class="alignright" style="width: 15%;">Quarterly
                    <br />Premium</th>
                  <th class="alignright">Monthly
                    <br />Premium</th>
                </tr>
                <tr style="vertical-align: top;">
                  <th class="alignleft" colspan="5" style="width: 35%;">Plan Name</th>
                </tr>
              </thead>
              <tbody>
                <xsl:for-each select="*/your_premimun/plans">
                  <xsl:if test="((covCode!='MBX') and (covCode!='ADBX') and (covCode!='TPDX'))">

                    <tr>
                      <td class="alignleft" style="width: 35%;">
                        <xsl:value-of select="name" /> </td>
                      <td class="alignright" style="width: 15%;">
                        <xsl:value-of select="annual_pre" /> </td>
                      <td class="alignright" style="width: 15%;">
                        <xsl:value-of select="semi_annual_pre" /> </td>
                      <td class="alignright" style="width: 15%;">
                        <xsl:value-of select="quarterly_pre" /> </td>
                      <td class="alignright">
                        <xsl:value-of select="monthly_pre" /> </td>
                    </tr>
                  </xsl:if>
                  <xsl:if test="( (covCode='MBX') or (covCode='ADBX') or (covCode='TPDX') )">

                    <tr>
                      <td class="alignleft pdleft20" style="width: 35%;">
                        <xsl:value-of select="name" />
                      </td>
                      <td class="alignright" style="width: 15%;">
                        <xsl:value-of select="annual_pre" /> </td>
                      <td class="alignright" style="width: 15%;">
                        <xsl:value-of select="semi_annual_pre" /> </td>
                      <td class="alignright" style="width: 15%;">
                        <xsl:value-of select="quarterly_pre" /> </td>
                      <td class="alignright">
                        <xsl:value-of select="monthly_pre" /> </td>
                    </tr>

                  </xsl:if>
                  <xsl:if test="covCode='LMP'">
                    <tr>
                      <td class="alignleft">Packaged Riders</td>
                    </tr>
                  </xsl:if>
                </xsl:for-each>
              </tbody>
            </table>
            <br/>
            <table>
              <tbody>
                <tr>
                  <td class="alignleft bold" style="width: 35%;">
                    Total Premium </td>
                  <td class="alignright bold" style="width: 15%;">
                    <xsl:value-of select="*/total_premimu/total_annual_pre" /> </td>
                  <td class="alignright bold" style="width: 15%;">
                    <xsl:value-of select="*/total_premimu/total_semi_annual_pre" /> </td>
                  <td class="alignright bold" style="width: 15%;">
                    <xsl:value-of select="*/total_premimu/total_quarterly_pre" /> </td>
                  <td class="alignright bold">
                    <xsl:value-of select="*/total_premimu/total_monthly_pre" /> </td>
                </tr>
              </tbody>
            </table>
            <div class="samepage">
              <div class="emptyspace10"></div>
              <div class="remark">
                If you have chosen Early Critical Illness Benefit or Critical Illness Benefit, or both of these riders, the premiums payable have reflected a 15% discount.
              </div>
              <div class="emptyspace10"></div>
              <div class="remark">
                <sup>*</sup>The Multiplier Benefit is applicable up to the Policy Anniversary nearest to the Life Assured’s 80th birthday. However, this Multiplier Benefit reduces immediately following the Policy Anniversary nearest to the Life Assured’s
                70th birthday until the Multiplier Benefit Expiry Age 80. Refer to details on the following page.
              </div>
            </div>

            <xsl:if test="*/mainInfo/quickQuote='Y'">
              <div class="emptyspace10"></div>
              <div class="samepage">
                <div class="remark bold">Declaration</div>
                <div class="emptyspace10"></div>
                <div class="remark">
                  I / We confirm that I / We have received all pages of the Benefit Illustration for the basic plan / all riders listed above, where applicable
                </div>
              </div>
            </xsl:if>



          </div>

        </td>
      </tr>
    </tbody>
  </table>
</div>