<table class="w100">
  <thead>
    <tr>
      <th>
        <div style="text-align: center; width: 100%;  margin-bottom: 14px;"> <strong>SUPPLEMENTARY POLICY INFORMATION</strong></div>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <div style="font-size: 10pt;">
          <table class="detailTable" style="border-bottom:solid 1px">
            <tbody>
              <tr style="height: 13px;">
                <td style="width: 20%" class="agentTableTitle1">Adviser Name</td>
                <td colspan="3" style="width: 80%" class="agentTableValue"> :
                  <xsl:value-of select="*/agent/name" /> </td>
              </tr>
              <tr style="height: 13px;">
                <td style="height: 13px;">Adviser Company</td>
                <td colspan="3" style="height: 13px;">:
                  <xsl:value-of select="*/agent/company" /> </td>
              </tr>
              <tr style="height: 13px;">
                <td style="height: 13px;">Adviser Tel</td>
                <td colspan="3" style="height: 13px;">:
                  <xsl:value-of select="*/agent/tel" /> </td>
              </tr>
              <tr style="height: 13px;">
                <td style="height: 13px;">Adviser HP</td>
                <td colspan="3" style="height: 13px;">:
                  <xsl:value-of select="*/agent/mobile" /> </td>
              </tr>
              <tr style="height: 13px;">
                <td style="height: 13px;">Adviser Email</td>
                <td colspan="3" style="height: 13px;">:
                  <xsl:value-of select="*/agent/email" /> </td>
              </tr>
              <tr style="height: 13px;">
                <td style="height: 13px;"> </td>
                <td colspan="3" style="height: 13px;"> </td>
              </tr>
            </tbody>
          </table>

          <div class="sectionSpace" />

          <div class="pd4left0 b">Proposer / Life Assured 1 Details</div>
          <table class="w100">
            <tr>
              <td style="width: 20%">Name</td>
              <td style="width: 30%">:
                <xsl:value-of select="*/cover/proposer/name" />
              </td>
              <td style="width: 20%">Gender</td>
              <td>:
                <xsl:value-of select="*/cover/proposer/gender" />
              </td>
            </tr>
            <tr>
              <td>Age</td>
              <td>:
                <xsl:value-of select="*/cover/proposer/age" /> (as at
                <xsl:value-of select="*/cover/genDate" />)
              </td>
              <td>Smoking Status</td>
              <td>:
                <xsl:value-of select="*/cover/proposer/smoking" />
              </td>
            </tr>
            <tr>
              <td>Date of Birth</td>
              <td>:
                <xsl:value-of select="*/cover/proposer/dob" />
              </td>
              <td>Risk Classification</td>
              <td>:
                <xsl:value-of select="*/cover/policyOptions/riskClassificationDesc" />
              </td>
            </tr>
            <tr>
              <td>Country of Residence</td>
              <td>:
                <xsl:value-of select="*/cover/proposer/country" />
              </td>
              <xsl:if test="*/cover/policyOptions/riskClassification='SS'">
                <td>Extra Mortality</td>
                <td>:
                  <xsl:value-of select="*/cover/policyOptions/extraMortalityDesc" />
                </td>
              </xsl:if>
              <xsl:if test="not(*/cover/policyOptions/riskClassification='SS')">
                <td/>
                <td/>
              </xsl:if>
            </tr>
            <tr>
              <td>City of Residence</td>
              <td>:
                <xsl:value-of select="*/cover/proposer/city" />
              </td>
              <xsl:if test="*/cover/policyOptions/riskClassification='SS' and not(*/cover/policyOptions/loading='null')">
                <td>Per Mille Loading</td>
                <td>:
                  <xsl:value-of select="*/cover/policyOptions/loading" />
                </td>
              </xsl:if>
              <xsl:if test="not(*/cover/policyOptions/riskClassification='SS') or (*/cover/policyOptions/loading='null')">
                <td/>
                <td/>
              </xsl:if>
            </tr>
            <xsl:if test="*/cover/policyOptions/riskClassification='SS' and not(*/cover/policyOptions/loading='null')">
              <tr>
                <td/>
                <td/>
                <td>No. of Years</td>
                <td>:
                  <xsl:value-of select="*/cover/policyOptions/loadingPeriod" />
                </td>
              </tr>
            </xsl:if>
          </table>

          <div class="sectionSpace " />

          <xsl:if test="*/cover/polType='joint'">
            <div class="pd4left0 b">Life Assured 2 Details (LA2)</div>
            <table class="w100">
              <tr>
                <td style="width: 20%">Name</td>
                <td style="width: 30%">:
                  <xsl:value-of select="*/cover/insured/name" />
                </td>
                <td style="width: 20%">Gender</td>
                <td>:
                  <xsl:value-of select="*/cover/insured/gender" />
                </td>
              </tr>
              <tr>
                <td>Age</td>
                <td>:
                  <xsl:value-of select="*/cover/insured/age" /> (as at
                  <xsl:value-of select="*/cover/genDate" />)
                </td>
                <td>Smoking Status</td>
                <td>:
                  <xsl:value-of select="*/cover/insured/smoking" />
                </td>
              </tr>
              <tr>
                <td>Date of Birth</td>
                <td>:
                  <xsl:value-of select="*/cover/insured/dob" />
                </td>
                <td>Risk Classification</td>
                <td>:
                  <xsl:value-of select="*/cover/policyOptions/riskClassificationDesc2" />
                </td>
              </tr>
              <tr>
                <td>Country of Residence</td>
                <td>:
                  <xsl:value-of select="*/cover/insured/country" />
                </td>
                <xsl:if test="*/cover/policyOptions/riskClassification2='SS'">
                  <td>Extra Mortality</td>
                  <td>:
                    <xsl:value-of select="*/cover/policyOptions/extraMortality2Desc" />
                  </td>
                </xsl:if>
                <xsl:if test="not(*/cover/policyOptions/riskClassification2='SS')">
                  <td/>
                  <td/>
                </xsl:if>
              </tr>
              <tr>
                <td>City of Residence</td>
                <td>:
                  <xsl:value-of select="*/cover/insured/city" />
                </td>
                <xsl:if test="*/cover/policyOptions/riskClassification2='SS' and not(*/cover/policyOptions/loading2='null')">
                  <td>Per Mille Loading</td>
                  <td>:
                    <xsl:value-of select="*/cover/policyOptions/loading2" />
                  </td>
                </xsl:if>
                <xsl:if test="not(*/cover/policyOptions/riskClassification2='SS') or (*/cover/policyOptions/loading2='null')">
                  <td/>
                  <td/>
                </xsl:if>
              </tr>
              <xsl:if test="*/cover/policyOptions/riskClassification2='SS' and not(*/cover/policyOptions/loading2='null')">
                <tr>
                  <td/>
                  <td/>
                  <td>No. of Years</td>
                  <td>:
                    <xsl:value-of select="*/cover/policyOptions/loadingPeriod2" />
                  </td>
                </tr>
              </xsl:if>
            </table>
          </xsl:if>
          <div class="sectionSpace " />
          <div class="sectionSpace " />
          <table class="w100">
            <tr>
              <td style="width: 20%">Policy Currency</td>
              <td colspan="3">:
                <xsl:value-of select="*/cover/ccy" />
              </td>
            </tr>
          </table>
          <div class="sectionSpace " />
          <div class="sectionSpace " />

          <div class="sectionSpace " />
          <table style="width: 100% ">
            <thead>
              <tr>
                <th colspan="4" class="tleft font13 b">Your Plan and Premium</th>
              </tr>
              <tr>
                <th class="tleft pd4top0left0 font13 b" style="width: 30%; ">Plan Name</th>
                <th class="tleft pd4top0left0 font13 b" style="width: 20%; ">Policy Term</th>
                <th class="tleft pd4top0left0 font13 b" style="width: 20%; ">Sum Assured</th>
                <th class="tleft pd4top0left0 font13 b" style="width: 30%; ">Initial Premium</th>
              </tr>
            </thead>
            <tbody>
              <xsl:for-each select="*/cover/plans">
                <tr>
                  <td class="tleft pd4left0 font13">
                    <xsl:value-of select="name" />
                  </td>
                  <td class="tleft pd4left0 font13">
                    <xsl:value-of select="polTermDesc" />
                  </td>
                  <td class="tleft pd4left0 font13">
                    <xsl:value-of select="sumInsured" />
                  </td>
                  <td class="tleft pd4left0 font13">
                    <xsl:value-of select="initPremium" />
                  </td>
                </tr>
              </xsl:for-each>
            </tbody>
          </table>

          <div class="sectionSpace" />

          <div class="sectionSpace" />
          <div class="sectionSpace" />


          <table class="suppTable">
            <colgroup>
              <col style="width:44%" />
              <col style="width:14%" />
              <col style="width:14%" />
              <col style="width:14%" />
              <col style="width:14%" />
            </colgroup>
            <thead>
              <tr style="vertical-align:top; ">
                <th></th>
                <th class="font13 border b">Chosen</th>
                <th colspan="3" class="font13 border b">For Reference </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="tleft font13 border b">Illustrated Investment Rate of Return</td>
                <td class="txtCenterH border font13">
                  <xsl:value-of select="*/cover/in_IRR" /> p.a.</td>
                <td class="txtCenterH border font13">0.00% p.a.</td>
                <td class="txtCenterH border font13">4.00% p.a.</td>
                <td class="txtCenterH border font13">8.00% p.a.</td>
              </tr>
              <tr>
                <td class="tleft font13 border b">Day 1 Surrender Value (
                  <xsl:value-of select="*/cover/ccy" />)</td>
                <td class="txtCenterH border font13">
                  <xsl:value-of select="*/cover/day1SVUI" />
                </td>
                <td class="txtCenterH border font13">
                  <xsl:value-of select="*/cover/day1SVZero" />
                </td>
                <td class="txtCenterH border font13">
                  <xsl:value-of select="*/cover/day1SVLow" />
                </td>
                <td class="txtCenterH border font13">
                  <xsl:value-of select="*/cover/day1SVHigh" />
                </td>
              </tr>
              <tr>
                <td class="tleft font13 border b">Endow Age</td>
                <td class="txtCenterH border font13">
                  <xsl:value-of select="*/cover/endowAgeUI" />
                </td>
                <td class="txtCenterH border font13">
                  <xsl:value-of select="*/cover/endowAgeZero" />
                </td>
                <td class="txtCenterH border font13">
                  <xsl:value-of select="*/cover/endowAgeLow" />
                </td>
                <td class="txtCenterH border font13">
                  <xsl:value-of select="*/cover/endowAgeHigh" />
                </td>
              </tr>
              <tr>
                <td class="tleft font13 border b">Break-even Year</td>
                <td class="txtCenterH border font13">
                  <xsl:value-of select="*/cover/breakYearUI" />
                </td>
                <td class="txtCenterH border font13">
                  <xsl:value-of select="*/cover/breakYearZero" />
                </td>
                <td class="txtCenterH border font13">
                  <xsl:value-of select="*/cover/breakYearLow" />
                </td>
                <td class="txtCenterH border font13">
                  <xsl:value-of select="*/cover/breakYearHigh" />
                </td>
              </tr>
            </tbody>
          </table>

          <div class="sectionSpace" />

          <table class="w100">
            <tr>
              <td class="vtop b tleft">Illustrated Investment Rate of Return ("IIRR")</td>
            </tr>
            <tr>
              <td class="vtop  tleft">In preparing this Supplementary Policy Information, the Chosen Illustrated Investment Rate of Return assumed is
                <xsl:value-of select="*/cover/in_IRR" /> p.a., net of the Custodian and Asset Management Fees. </td>
            </tr>
            <tr>
              <td class="vtop  tleft">
                <div class="emptyspace10"></div>
              </td>
            </tr>
            <tr>
              <td class="vtop b tleft">Endow Age</td>
            </tr>
            <tr>
              <td class="vtop  tleft">Endow Age is the age of the younger Life Assured at which the Policy Fund Value, based on the IIRR, is equal to the Sum Assured. </td>
            </tr>
            <tr>
              <td class="vtop  tleft">
                <div class="emptyspace10"></div>
              </td>
            </tr>
            <tr>
              <td class="vtop b tleft">Break-even Year</td>
            </tr>
            <tr>
              <td class="vtop  tleft">Break-even Year is the Policy Year at which the Policy Fund Value, based on the IIRR, is equal to the Initial Premium. </td>
            </tr>
            <tr>
              <td class="vtop  tleft">
                <div class="emptyspace10"></div>
              </td>
            </tr>
            <tr>
              <td class="vtop  tleft">Actual Endow Age and Break-even Year may vary, depending on the actual performance of the underlying assets.</td>
            </tr>
          </table>

          <div class="sectionSpace" />
          <div class="sectionSpace" />



        </div>
      </td>
    </tr>
  </tbody>
</table>
<div id="" class="pagebreak" style="padding-top: 8px; width:100%; ">

  <div>*Withdrawals are assumed to be made at the start of the Policy Year.</div>

</div>