<div class="global_ack">
  <p><strong><u>Presented to:</u></strong></p>

  <div style="display:table;   table-layout:fixed;  width:400px;">
    <xsl:if test="*/mainInfo/sameAs='N'">
      <div style="display : table-row">
        <div style="display : table-cell; width : 150px;">Name of Proposer</div>
        <div style="display : table-cell; width : 250px;">:
          <xsl:value-of select="*/mainInfo/pName" />
        </div>
      </div>
    </xsl:if>
    <div style="display : table-row">
      <div style="display : table-cell; width : 150px;">Name of Life Assured</div>
      <div style="display : table-cell; width : 250px;">:
        <xsl:value-of select="*/mainInfo/name" />
      </div>
    </div>
  </div>

  <br />

  <div><strong><u>Your Plan and Rider(s), if any:</u></strong></div>
  <table>
    <tbody>
      <div>
        <xsl:value-of select="*/packagedPlanName" />
      </div>
      <xsl:for-each select="*/planInfos">
        <xsl:if test="planInd='B'">
          <div>
            <xsl:value-of select="planName" />
          </div>
        </xsl:if>
      </xsl:for-each>

      <xsl:for-each select="*/planInfos">
        <xsl:if test="planInd='R'">
          <div>
            <xsl:value-of select="planName" />
          </div>
        </xsl:if>
      </xsl:for-each>
    </tbody>
  </table>

  <br />

  <div class="divJustify">
    <p><strong><u>Client(s) Acknowledgement:</u></strong></p>
    <ol>
      <li>I / We confirm that I / We have received all pages of the Policy Illustration for the basic plan / all riders listed above, where applicable.</li>
      <li>I / We confirm that I / We have received all pages of the Product Summary for the basic plan and riders listed above where applicable, and Product Highlight Sheet (applicable only to investment-linked plans).</li>
      <li>The terms and conditions of the policy as set out in the Product Summary and Product Highlight Sheet have been explained to me and that I understand the features of the policy and the applicable fees and charges.</li>
    </ol>
  </div>

</div>