<p></p>
<table style="width: 100%;">
  <tbody>
    <tr>
      <td>
        <div class="pul-intro-logo"></div>
      </td>
      <td style="float: right; width: 200px;">
        <div class="pul-intro-barcode"></div>
      </td>
    </tr>
  </tbody>
</table>