<table>
  <thead>
    <tr>
      <th>
        <div style="text-align: center; width: 100%; margin-bottom: 14px; "> <strong>BENEFIT ILLUSTRATION COVER PAGE</strong></div>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <div style="font-size: 10pt;">
          <table class="detailTable">
            <tbody>
              <tr style="height: 13px;">
                <td style="height: 13px; width: 20%;">Adviser Name</td>
                <td style="height: 13px; width: 40%;" class="agentTableValue"> :
                  <xsl:value-of select="*/agent/name" /> </td>

                <td style="height: 13px; width: 20%;">
                  <div>Date</div>
                </td>
                <td style="height: 13px; width: 20%;">
                  <div>:
                    <xsl:value-of select="*/cover/genDate" />
                  </div>
                </td>
              </tr>
              <tr style="height: 13px;">
                <td style="height: 13px; width: 20%;">Adviser Company</td>
                <td colspan="3" style="height: 13px; width: 80%;">:
                  <xsl:value-of select="*/agent/company" /> </td>
              </tr>
              <tr style="height: 13px;">
                <td style="height: 13px; width: 20%;">Adviser Tel</td>
                <td colspan="3" style="height: 13px; width: 80%;">:
                  <xsl:value-of select="*/agent/tel" /> </td>
              </tr>
              <tr style="height: 13px;">
                <td style="height: 13px; width: 20%;">Adviser HP</td>
                <td colspan="3" style="height: 13px; width: 80%;">:
                  <xsl:value-of select="*/agent/mobile" /> </td>
              </tr>
              <tr style="height: 13px;">
                <td style="height: 13px; width: 20%;">Adviser Email</td>
                <td colspan="3" style="height: 13px; width: 80%;">:
                  <xsl:value-of select="*/agent/email" /> </td>
              </tr>
              <tr style="height: 13px;">
                <td style="height: 13px;"> </td>
                <td colspan="3" style="height: 13px;"> </td>
              </tr>
            </tbody>
          </table>
          <div class="sectionSpace" />
          <xsl:if test="*/cover/sameAs='N'">
            <div class="pd4left0 b"><strong>Proposer Details</strong></div>
            <table class="w100">
              <tr>
                <td style="width: 20%">Name</td>
                <td style="width: 40%">:
                  <xsl:value-of select="*/cover/proposer/name" />
                </td>
                <td style="width: 20%">Gender</td>
                <td>:
                  <xsl:value-of select="*/cover/proposer/gender" />
                </td>
              </tr>
              <tr>
                <td style="width: 20%">Age</td>
                <td style="width: 40%">:
                  <xsl:value-of select="*/cover/proposer/age" />(As at
                  <xsl:value-of select="*/cover/genDate" />)
                </td>
                <td>Smoking Status</td>
                <td>:
                  <xsl:value-of select="*/cover/proposer/smoking" />
                </td>
              </tr>
              <tr>
                <td style="width: 20%">Date of Birth</td>
                <td style="width: 40%">:
                  <xsl:value-of select="*/cover/proposer/dob" />
                </td>
                <td/>
                <td/>
              </tr>
            </table>

            <div class="sectionSpace " />
          </xsl:if>

          <div class="pd4left0 b"><strong>Life Assured Details</strong></div>
          <table class="w100">
            <tr>
              <td style="width: 20%">Name</td>
              <td style="width: 40%">:
                <xsl:value-of select="*/cover/insured/name" />
              </td>
              <td style="width: 20%">Gender</td>
              <td>:
                <xsl:value-of select="*/cover/insured/gender" />
              </td>
            </tr>
            <tr>
              <td style="width: 20%">Age</td>
              <td style="width: 40%">:
                <xsl:value-of select="*/cover/insured/age" /> (As at
                <xsl:value-of select="*/cover/genDate" />)
              </td>
              <td style="width: 20%">Smoking Status</td>
              <td>:
                <xsl:value-of select="*/cover/insured/smoking" />
              </td>
            </tr>
            <tr>
              <td style="width: 20%">Date of Birth</td>
              <td style="width: 40%">:
                <xsl:value-of select="*/cover/insured/dob" />
              </td>
              <td/>
              <td/>
            </tr>
          </table>
          <div class="sectionSpace " />
          <table class="w100 ">
            <tr>
              <td style="width: 20%">Payment Frequency</td>
              <td style="width: 40% ">:
                <xsl:value-of select=" */basicPlan/paymentModeDesc" />
              </td>
              <td style="width: 20% ">Death Benefit</td>
              <td>:
                <xsl:value-of select="*/basicPlan/deathBenefitDesc" />

              </td>
            </tr>
            <tr>
              <td style="width: 20%">Currency</td>
              <td style="width: 40%">:
                <xsl:value-of select="*/basicPlan/ccy" />
              </td>
              <td style="width: 20%">Insurance Charge</td>
              <td>:
                <xsl:value-of select="*/basicPlan/insuranceChargeDesc" />
              </td>
            </tr>
          </table>

          <div class="sectionSpace " />
          <div class="sectionSpace " />
          <table style="width: 100% ">
            <thead>
              <tr>
                <th colspan="4 " class="tleft font13 b">Your Plan</th>
              </tr>
              <tr>
                <th class="tleft pd4left0 font13 b" style="width: 30%; ">Plan Name</th>
                <th class="tleft pd4left0 font13 b" style="width: 20%; ">Policy Term</th>
                <th class="tleft pd4left0 font13 b" style="width: 20%; ">Payment Term</th>
                <th class="tleft pd4left0 font13 b" style="width: 30%; ">Sum Assured</th>
              </tr>
            </thead>
            <tbody>
              <xsl:for-each select="*/cover/plans">
                <tr>
                  <td class="tleft pd4left0 font13">
                    <xsl:value-of select="name" />
                  </td>
                  <td class="tleft pd4left0 font13">
                    <xsl:value-of select="polTermDesc" />
                  </td>
                  <td class="tleft pd4left0 font13">
                    <xsl:value-of select="premTermDesc" />
                  </td>
                  <td class="tleft pd4left0 font13">
                    See Note*
                  </td>
                </tr>
              </xsl:for-each>
            </tbody>
          </table>

          <div class="sectionSpace" />
          <table style="width: 100%">
            <thead>
              <tr style="vertical-align:top;">
                <th colspan="7" class="tleft font13 b"><strong>Your Premium</strong></th>
              </tr>
              <tr style="vertical-align:top; ">
                <th class="tleft pd4left0 font13 b" style="width: 30%; ">Plan Name</th>
                <th class="tleft pd4left0 font13" style="width: 20%; ">Annual <br/>Premium</th>
                <th class="tleft pd4left0 font13" style="width: 20%; ">Semi-Annual <br/>Premium</th>
                <th class="tleft pd4left0 font13" style="width: 15%; ">Quarterly <br/>Premium</th>
                <th class="tleft pd4left0 font13" style="width: 15%; ">Monthly <br/>Premium</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="tleft pd4left0 font13">
                  <xsl:value-of select="*/basicPlan/name" />
                </td>
                <td class="tleft pd4left0 font13">
                  <xsl:value-of select="*/basicPlan/aPremium" />
                </td>
                <td class="tleft pd4left0 font13">
                  <xsl:value-of select="*/basicPlan/sPremium" />
                </td>
                <td class="tleft pd4left0 font13">
                  <xsl:value-of select="*/basicPlan/qPremium" />
                </td>
                <td class="tleft pd4left0 font13">
                  <xsl:value-of select="*/basicPlan/mPremium" />
                </td>
              </tr>
            </tbody>
          </table>
          <div class="sectionSpace" />
          <div class="sectionSpace" />



          <table style="width: 100% ">
            <thead>
              <tr style="vertical-align:top; ">
                <th class="tleft pd4left0 font13 b" style="width: 30%; ">Fund Name</th>
                <th class="tright pd4right0 font13 b" style="width: 40%; ">Fund Allocation</th>
                <th class="tright pd4right0 font13 b" style="width: 30%; ">Fund Code</th>
              </tr>
            </thead>
            <tbody>
              <xsl:for-each select="*/cover/funds">
                <tr>
                  <td class="tleft pd4left0 font13">
                    <xsl:value-of select="name" />
                  </td>
                  <td class="tright pd4right0 font13">
                    <xsl:value-of select="alloc" />
                  </td>
                  <td class="tright pd4right0 font13">
                    <xsl:value-of select="code" />
                  </td>
                </tr>
              </xsl:for-each>
              <tr>
                <td></td>
              </tr>
              <tr>
                <td></td>
              </tr>
              <tr>
                <td class="tleft pd4left0 font13" style="width: 30%; ">Total</td>
                <td class="tright pd4right0 font13" style="width: 70%; ">100%</td>
              </tr>
            </tbody>
          </table>
          <br/><br/>
          <div style="margin-top:8px; "><sup>*</sup>
            <xsl:choose>
              <xsl:when test="*/basicPlan/deathBenefit = 'basic'">Death Benefit is 101% of the total Account Value.</xsl:when>
              <xsl:otherwise>*Death Benefit is 101% of total Account Value or total Regular Premiums and Top-Ups paid less total amount of all withdrawals made, whichever is higher.</xsl:otherwise>
            </xsl:choose>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<xsl:if test="*/mainInfo/quickQuote='Y'">
  <div style="height: 56px;" />
  <div style="position: absolute; bottom: 0px; left: 0px; right: 0px;">
    <div class="b">Declaration</div>
    <div>I / We confirm that I / We have received all pages of the Benefit Illustration for the basic plan / all riders listed above, where applicable.</div>
  </div>
</xsl:if>