<div style="font-size: 10pt;">
  <div class="sav_intro-barcode" style="float: right; position: absolute; top: 2; right: 0;"> </div>
  <table class="detailTable" style="border-bottom:solid 1px">
    <tbody>
      <tr style="height: 13px;">
        <td class="agentTableTitle1">Adviser Name</td>
        <td class="agentTableValue">:
          <xsl:value-of select="*/agent/name" /> </td>
        <td class="agentTableTitle2">Date</td>
        <td>:
          <xsl:value-of select="*/genDate" />
        </td>
      </tr>
      <tr style="height: 13px;">
        <td style="height: 13px;">Adviser Company</td>
        <td colspan="3" style="height: 13px;">:
          <xsl:value-of select="*/agent/company" />
        </td>
      </tr>
      <tr style="height: 13px;">
        <td style="height: 13px;">Adviser Tel</td>
        <td colspan="3" style="height: 13px;">:
          <xsl:value-of select="*/agent/tel" />
        </td>
      </tr>
      <tr style="height: 13px;">
        <td style="height: 13px;">Adviser HP</td>
        <td colspan="3" style="height: 13px;">:
          <xsl:value-of select="*/agent/mobile" />
        </td>
      </tr>
      <tr style="height: 13px;">
        <td style="height: 13px;">Adviser Email</td>
        <td colspan="3" style="height: 13px;">:
          <xsl:value-of select="*/agent/email" />
        </td>
      </tr>
      <tr style="height: 13px;">
        <td style="height: 13px;"> </td>
        <td colspan="3" style="height: 13px;">
        </td>
      </tr>
    </tbody>
  </table>
  <div class="sectionSpace" />
  <xsl:if test="*/mainInfo/sameAs='N'">
    <div class=""><strong>Proposer Details</strong></div>
    <table class="detailTable">
      <tbody>
        <tr style="height: 13px;">
          <td class="detailTableTitle">Name</td>
          <td class="detailTableValue">:
            <xsl:value-of select="*/mainInfo/pName" />
          </td>
          <td class="detailTableTitle2">Gender</td>
          <td class="detailTableValue">:
            <xsl:value-of select="*/proposerGenderTitle" /> </td>
        </tr>
        <tr style="height: 13px;">
          <td style="height: 13px;">Age</td>
          <td style="height: 13px;">:
            <xsl:value-of select="*/mainInfo/pAge" /> (as at
            <xsl:value-of select="*/backDate" />) </td>
          <td style="height: 13px;">Smoking Status</td>
          <td style="height: 13px;">:
            <xsl:value-of select="*/proposerSmokerTitle" /> </td>
        </tr>
        <tr style="height: 13px;">
          <td style="height: 13px;">Date of Birth</td>
          <td style="height: 13px;">:
            <xsl:value-of select="*/proposerDob" />
          </td>
          <td style="height: 13px;"> </td>
          <td style="height: 13px;"> </td>
        </tr>
      </tbody>
    </table>

    <div class="sectionSpace" />
  </xsl:if>
  <div class=""><strong>Life Assured Details</strong></div>
  <table class="detailTable">
    <tbody>
      <tr style="height: 13px;">
        <td class="detailTableTitle" style="height: 13px;">Name</td>
        <td class="detailTableValue" style="height: 13px;">:
          <xsl:value-of select="*/mainInfo/name" />
        </td>
        <td class="detailTableTitle2" style="height: 13px;">Gender</td>
        <td class="detailTableValue" style="height: 13px;">:
          <xsl:value-of select="*/insurerGenderTitle" />
        </td>
      </tr>
      <tr style="height: 13px;">
        <td class="detailTableTitle" style="height: 13px;">Age</td>
        <td class="detailTableValue" style="height: 13px;">:
          <xsl:value-of select="*/mainInfo/age" /> (as at
          <xsl:value-of select="*/backDate" />)</td>
        <td class="detailTableTitle2" style="height: 13px;">Smoking Status</td>
        <td class="detailTableValue" style="height: 13px;">:
          <xsl:value-of select="*/insurerSmokerTitle" />
        </td>
      </tr>
      <tr style="height: 13.6216px;">
        <td class="detailTableTitle" style="height: 13.6216px;">Date of Birth</td>
        <td class="detailTableValue" style="height: 13px;">:
          <xsl:value-of select="*/insurerDob" />
        </td>
        <td style="height: 13px;"> </td>
        <td style="height: 13.6216px;"> </td>
      </tr>
    </tbody>
  </table>

  <div class="sectionSpace" />
  <table class="detailTable">
    <tbody>
      <tr style="height: 13px;">
        <td class="detailTableTitle">Payment Mode</td>
        <td class="detailTableValue">:
          <xsl:value-of select="*/paymentModeTitle" />
        </td>
        <td class="detailTableTitle2">Sales Charge for SP</td>
        <td>:
          <xsl:value-of select="*/singlePremSalesCharge" />
        </td>
      </tr>
      <tr style="height: 13px;">
        <td style="height: 13px;">Policy Currency</td>
        <td style="height: 13px;">:
          <xsl:value-of select="*/polCcy" />
        </td>
        <td class="detailTableTitle2"></td>
        <td> </td>
      </tr>
      <tr style="height: 13px;">
        <td style="height: 13px;">Payment Method</td>
        <td style="height: 13px;">:
          <xsl:value-of select="*/paymentMethod" />
        </td>
        <td style="height: 13px;"> </td>
        <td style="height: 13px;"> </td>
      </tr>
    </tbody>
  </table>

  <xsl:if test="*/rspSalesCharges != '-' and  */rspPayFreq!= '-'  ">
    <table class="detailTable" style="margin-top:13px">
      <tbody>
        <tr style="height: 13px;">
          <td class="detailTableTitleRsp">RSP Payment Mode</td>
          <td class="detailTableValueRsp">:
            <xsl:value-of select="*/rspPayFreq" />
          </td>
          <td class="detailTableTitle2">Sales Charge for RSP</td>
          <td>:
            <xsl:value-of select="*/rspSalesCharges" />
          </td>
        </tr>
      </tbody>
    </table>
  </xsl:if>

  <div class="sectionSpace" />
  <div class=""><strong>Your Plan and Premium</strong></div>
  <table style="table-layout: fixed;    width: 100%;    font-size: 10pt; text-align:right">
    <tbody>


      <tr style="height: 13px; vertical-align:top">
        <td class="planName" style="text-align:left">
          <p><strong>Plan Name </strong></p>
        </td>
        <td class="planNumberPlan">
          <p><strong>Policy Term*</strong></p>
        </td>
        <td class="planNumberPlan">
          <p><strong>Sum Assured^</strong></p>
          <p> </p>
        </td>
        <td class="planNumberPlan">
          <div><strong>Single Premium</strong></div>
        </td>
        <td class="planNumberPlan">
          <div><strong>Recurring Single Premium</strong></div>
        </td>
      </tr>




      <xsl:for-each select="*/planFields">
        <xsl:if test="planInd='B'">
          <tr style="height: 13px;" class="planNumberPlan">
            <td style="text-align:left">
              <xsl:value-of select="planName" /> </td>
            <td>
              <xsl:value-of select="policyTerm" />
            </td>
            <td>
              <xsl:value-of select="sumAssured" /> </td>
            <td>
              <xsl:value-of select="isp" /> </td>
            <td>
              <xsl:value-of select="rsp" /> </td>
          </tr>
        </xsl:if>
      </xsl:for-each>
    </tbody>
  </table>
  <div class="sectionSpace" />

  <table style=" text-align:left; table-layout: fixed;    width: 100%;    font-size: 10pt;">
    <tbody>
      <tr style="height:13px; vertical-align:top">
        <td class="fundName" style=" text-align:left; ">
          <div><strong>Fund Name</strong></div>
        </td>
        <td class="fundAlloc">
          <div><strong>Fund Allocation (Single Premium/ <br/>Recurring Single Premium)</strong></div>
        </td>
        <td class="fundCode">
          <div><strong>Fund Code</strong></div>
        </td>
      </tr>

      <xsl:for-each select="*/funds">

        <tr style="height:13px;text-align:right; ">
          <td style=" text-align:left; ">
            <xsl:value-of select="fundName" /> </td>
          <td style="">
            <xsl:value-of select="alloc" />% </td>
          <td style="">
            <xsl:value-of select="fundCode" /> </td>
        </tr>

      </xsl:for-each>




      <tr style="height:13px">
        <td style="text-align:left;width:200px;">
          Total
        </td>
        <td style="text-align:right;">
          100% </td>


      </tr>
    </tbody>
  </table>
  <div class="sectionSpace" />

  <div>* TPD coverage, wherever applicable, is up to age 65.</div>
  <div class="sectionSpace" />
  <div>^ Death Benefit is the higher of 101% of the Total Premiums (Single Premium plus Top-Up and any Recurring Single Premiums paid to date (if any) less any withdrawals) or the Policy Value. Please refer to the Product Summary for details. </div>
  <xsl:if test="*/mainInfo/quickQuote='Y'">
    <div class="sectionSpace" />
    <div><b>Declaration</b></div>
    <div>I / We confirm that I / We have received all pages of the Benefit Illustration for the basic plan / all riders listed above, where applicable.</div>
  </xsl:if>
  <p> </p>
  <p> </p>
  <p> </p>
  <p> </p>
</div>