<div class="global_main">
  <p> </p>
  <p><u>INTRODUCTION    </u></p>
  <p> </p>
  <p>This information forms part of your Policy Illustration.</p>
  <p></p>
  <p>AXA Insurance Pte Ltd believes it is important that you fully appreciate all the benefits under your policy. Please refer to the Product Summary for more details on the benefits of your policy.</p>
  <p></p>
  <p>If you need clarification, please do not hesitate to ask your adviser.</p>
  <p></p>
  <p>The quotation is applicable to standard life.</p>
  <p></p>
  <p>The quotation is for illustrative purposes only and is not a contract of assurance. The precise terms and conditions of this plan are specified in the policy contract.</p>
  <p></p>
  <p>Please note that premium rates for this policy are not guaranteed. The rates may be adjusted based on future experience. Premiums are payable throughout the term of this policy. We may, at our sole discretion, vary the premium rates by giving you one
    (1) month written notice sent by ordinary mail to your last known correspondence address in our records. The premium is based on the Life Assured’s Occupation and its corresponding Occupation Class. Please refer to the Product Summary for more details.</p>
</div>