<div class="global_prodSumm">
  <div style="flex-grow: 1;"></div>
  <div class="sav_prod_summ-logo"></div>
  <div style="text-align: center; width: 100%; padding: 10px 0;"><strong>PRODUCT SUMMARY</strong></div>
</div>