<div class="global_MPI">

  <table class="p1Table_Adviser">
    <tbody>
      <tr>
        <td>Adviser Name</td>
        <td>:
          <xsl:value-of select="*/agent/name" />
        </td>
        <td>Date</td>
        <td>:
          <xsl:value-of select="*/genDate" />
        </td>
      </tr>
      <tr>
        <td>Adviser Company</td>
        <td colspan="3">:
          <xsl:value-of select="*/agent/company" />
        </td>
      </tr>
      <tr>
        <td>Adviser Tel</td>
        <td colspan="3">:
          <xsl:value-of select="*/agent/tel" />
        </td>
      </tr>
      <tr>
        <td>Adviser HP</td>
        <td colspan="3">:
          <xsl:value-of select="*/agent/mobile" />
        </td>
      </tr>
      <tr>
        <td>Adviser Email</td>
        <td colspan="3">:
          <xsl:value-of select="*/agent/email" />
        </td>
      </tr>
      <tr>
        <td> </td>
        <td colspan="3"> </td>
      </tr>
    </tbody>
  </table>
  <br />

  <xsl:if test="*/mainInfo/sameAs='N'">
    <div><strong>Proposer Details:</strong></div>
    <table class="p1Table_Details">
      <tbody>
        <tr>
          <td>Name</td>
          <td>:
            <xsl:value-of select="*/mainInfo/pName" />
          </td>
          <td>Gender</td>
          <td>:
            <xsl:value-of select="*/proposerGenderTitle" />
          </td>
        </tr>
        <tr>
          <td>Age</td>
          <td>:
            <xsl:value-of select="*/mainInfo/pAge" /> (as at
            <xsl:value-of select="*/backDate" />) </td>
          <td>Smoking Status</td>
          <td>:
            <xsl:value-of select="*/proposerSmokerTitle" />
          </td>
        </tr>
        <tr>
          <td>Date of Birth</td>
          <td colspan="3">:
            <xsl:value-of select="*/proposerDob" />
          </td>
        </tr>
      </tbody>
    </table>
    <br />
    <br />
  </xsl:if>

  <div><strong>Life Assured Details:</strong></div>
  <table class="p1Table_Details">
    <tbody>
      <tr>
        <td>Name</td>
        <td>:
          <xsl:value-of select="*/mainInfo/name" />
        </td>
        <td>Gender</td>
        <td>:
          <xsl:value-of select="*/insurerGenderTitle" />
        </td>
      </tr>
      <tr>
        <td>Age</td>
        <td>:
          <xsl:value-of select="*/mainInfo/age" /> (as at
          <xsl:value-of select="*/backDate" />)</td>
        <td>Smoking Status</td>
        <td>:
          <xsl:value-of select="*/insurerSmokerTitle" />
        </td>
      </tr>
      <tr>
        <td>Date of Birth</td>
        <td colspan="3">:
          <xsl:value-of select="*/insurerDob" />
        </td>
      </tr>
    </tbody>
  </table>
  <br />
  <table class="p1Table">
    <tbody>
      <tr>
        <td>Packaged Plan</td>
        <td>:
          <xsl:value-of select="*/packagedPlanName" />
        </td>
      </tr>
      <tr>
        <td>Payment Mode</td>
        <td>:
          <xsl:value-of select="*/paymentModeTitle" />
        </td>
      </tr>
      <tr>
        <td>Policy Currency</td>
        <td>:
          <xsl:value-of select="*/polCcy" />
        </td>
      </tr>
      <tr>
        <td>IVF Option</td>
        <td>:
          <xsl:value-of select="*/IVF_OPT" />
        </td>
      </tr>
      <tr>
        <td>No. of Foetus in Current Pregnancy</td>
        <td>:
          <xsl:value-of select="*/NUM_FOETUS" />
        </td>
      </tr>
    </tbody>
  </table>
  <br />
  <br />

  <div><strong>Your Plan and Premium</strong></div>
  <table class="p1Table_PlanAndPremium">
    <tbody>
      <tr>
        <td><strong>Plan Name</strong></td>
        <td><strong>Policy Term</strong></td>
        <td><strong>Sum Assured /<br />Benefit Amount</strong></td>
        <td><strong>Single Premium</strong></td>
      </tr>

      <xsl:for-each select="*/plans">
        <tr>
          <td>
            <xsl:value-of select="basicPlanName" />
          </td>
          <td>
            <xsl:value-of select="polTermDesc" />
          </td>
          <td>See below^</td>
          <td>
            <xsl:value-of select="premium" />
          </td>
        </tr>
      </xsl:for-each>
    </tbody>
  </table>

  <table class="p1Table_TotalPremium">
    <tbody>
      <tr>
        <td><strong>Total Premium</strong></td>
        <td><strong>
            <xsl:value-of select="*/mainInfo/yearlyPremium" /></strong></td>
      </tr>
    </tbody>
  </table>
  <p>^Please refer to Product Summary and Policy Illustration for details of each benefit under
    <xsl:value-of select="*/basicPlanName" />.</p>
</div>