<div class="global_tdc">
  <p>
    Policy Currency :
    <xsl:value-of select="*/polCcy" />
  </p>
  <p>This is only a supplementary illustration and must be read in conjunction with the main illustration.</p>
  <p>The following table of values relate to all rider(s) selected:</p>
  <div class="shortTr">
    <table class="TDCSubtable_tdc ">
      <tr class="">
        <td class="tablePaddingTop_tdc " style="width: 150px">
          <p>End of Policy<br/>Year/Age</p>
        </td>
        <td class="tablePaddingTop_tdc" style="width: 200px">
          <div>Total Premiums<br/>Paid To-date</div>

        </td>

        <td class="tablePaddingTop_tdc" style="width: 200px">
          <div>Guaranteed<br/>Surrender Value </div>

        </td>

      </tr>
      <tr style="">
        <td class="TDCSupfieldYr_tdc">
        </td>
        <td class="TDCSupfieldAmount_tdc tableHeader">
          <p>(
            <xsl:value-of select="*/ccySyb" />)</p>
        </td>
        <td class="TDCSupfieldAmount_tdc tableHeader">
          <p>(
            <xsl:value-of select="*/ccySyb" />)</p>
        </td>
      </tr>
      <xsl:for-each select="*/illustrateData_rider">
        <tr style="">
          <td class="TDCSupfieldYr_tdc tableField tableFieldCenter">
            <xsl:value-of select="polYr_age" /> </td>
          <td class="TDCSupfieldAmount_tdc tableFieldCenter">
            <xsl:value-of select="totalPremPaid" /> </td>
          <td class="TDCSupfieldAmount_tdc tableFieldCenter">
            <xsl:value-of select="GSV" />
          </td>
        </tr>
      </xsl:for-each>
    </table>
    <br/>
    <table class="TDCSubtable_tdc ">
      <tr class="">
        <td class="tablePaddingTop_tdc TDCSupfieldYr_tdc" style="text-align: center; width: 150px">
          <p>End of Policy<br/>Year/Age</p>
        </td>
        <td class="tablePaddingTop_tdc TDCSupfieldAmount_tdc" style="width: 200px">
          <div>Total Premiums<br/>Paid To-date</div>

        </td>

        <td class="tablePaddingTop_tdc TDCSupfieldAmount_tdc" style="width: 200px">
          <div>Guaranteed<br/>Maturity Value<sup>#</sup></div>

        </td>

      </tr>
      <tr style="">
        <td class="TDCSupfieldYr_tdc">
        </td>
        <td class="TDCSupfieldAmount_tdc tableHeader">
          <p>(
            <xsl:value-of select="*/ccySyb" />)</p>
        </td>
        <td class="TDCSupfieldAmount_tdc tableHeader">
          <p>(
            <xsl:value-of select="*/ccySyb" />)</p>
        </td>
      </tr>

      <tr style="">
        <td class="TDCSupfieldYr_tdc tableFieldCenter">
          <xsl:value-of select="*/polYr_age" /> </td>
        <td class="TDCSupfieldAmount_tdc tableFieldCenter">
          <xsl:value-of select="*/totalPremPaid" /> </td>
        <td class="TDCSupfieldAmount_tdc tableFieldCenter">
          <xsl:value-of select="*/GDB" />
        </td>
      </tr>

    </table>
  </div>

  <div>
    <xsl:if test="*/noteType='notes'">
      <p>^<strong>Notes:</strong></p>
      <p>This policy will be renewed automatically from the renewal date for the same Policy Term without further evidence of insurability. Premiums payable for the renewed policy will be calculated based on the Life Assured’s attained age at the renewal
        date, using prevailing premium rates at the time of renewal.</p>
    </xsl:if>
    <p><sup>#</sup>This refers to the lump sum benefit for Guaranteed Survival Payout Rider, if selected. Refer to the Product Summary for more details.</p>
  </div>
</div>