<!-- ESC MAIN BI PAGE 1 -->

<div class="global_intro">
  <table class="quotDetail">
    <tbody>
      <tr>
        <td class="title1">Basic Policy Plan
        </td>
        <td class="value1">:
          <xsl:value-of select="*/basicPlanName" />
        </td>
        <td class="title2"></td>
        <td class="value2"></td>
      </tr>
      <tr>
        <td class="title1">Sum Assured
        </td>
        <td class="value1">: $
          <xsl:value-of select="*/basicSumAssured" />
        </td>
        <td class="title2"></td>
        <td class="value2"></td>
      </tr>
      <tr>
        <td class="title1">Payment Mode
        </td>
        <td class="value1">:
          <xsl:value-of select="*/paymentModeDesc" />
        </td>
        <td class="title2"></td>
        <td class="value2"></td>
      </tr>
      <tr>
        <td class="title1">Policy Term
        </td>
        <td class="value1">:
          <xsl:value-of select="*/polTermDesc" />
        </td>
        <td class="title2"></td>
        <td class="value2"></td>
      </tr>
      <tr>
        <td class="title1">Policy Currency
        </td>
        <td class="value1">:
          <xsl:value-of select="*/policyCurrency" />
        </td>
        <td class="title2"></td>
        <td class="value2"></td>
      </tr>
    </tbody>
  </table>

  <div class="emptyspace20"></div>
  <p>The following table of values relate to the basic policy plan named above.</p>

  <table align="center" class="ESCtable">
    <tbody>
      <tr class="vtop">
        <!-- <td class="pdtop10 TDCfieldYr bold"> -->
        <th class="ESCfield">
          <p>End of
            <br/>Policy
            <br/>Year/Age</p>
        </th>
        <!-- <td class="pdtop10 TDCfieldAmount bold"> -->
        <th class="ESCfield">
          <p>Total
            <xsl:if test="*/policyOptions.hasBoughtAxaPlan='Y'">Discounted</xsl:if> Premiums
            <br/>Paid To-date
            <br/></p>
        </th>
        <!-- <td class="pdtop10 TDCfieldAmount bold"> -->
        <th class="ESCfield">
          <p>Total Distribution
            <br/>Cost To-date
            <br/></p>
        </th>
        <!-- <td class="pdtop10 TDCfieldAmount bold"> -->
        <th class="ESCfield">
          <p>Maximum Guaranteed
            <br/>Critical Illness
            <br/>Benefit</p>

        </th>
      </tr>
      <tr style="">
        <td class="ESCfield"></td>

        <td class="ESCfield bold">
          <p>(
            <xsl:value-of select="*/ccySyb" />)</p>
        </td>
        <td class="ESCfield bold">
          <p>(
            <xsl:value-of select="*/ccySyb" />)</p>
        </td>
        <td class="ESCfield bold">
          <p>(
            <xsl:value-of select="*/ccySyb" />)</p>
        </td>
      </tr>
      <xsl:for-each select="*/illustration/totalDistributionCostMainBi">
        <tr class="trLineHeight15">
          <td class="ESCfield">
            <xsl:value-of select="policyYearAge" /> </td>
          <td class="ESCfield">
            <xsl:value-of select="totalPremiumPaidToDate" /> </td>
          <td class="ESCfield">
            <xsl:value-of select="totalDistributionCostToDate" />
          </td>
          <td class="ESCfield">
            <xsl:value-of select="totalmaxGuaranteedCIB" />
          </td>
        </tr>
      </xsl:for-each>
    </tbody>
  </table>
  <div class="emptyspace30"></div>

  <p>Benefit of $15,000 is payable in one lump sum upon death of the Life Assured. This policy does not have any surrender value throughout the policy term.</p>
  <xsl:if test="*/policyOptions.hasBoughtAxaPlan='Y'">
    <p>Note: The above discounted premium rate is offered with the purchase of a regular/single premium basic policy. In the event that this regular/single premium basic policy is lapsed or surrendered, full premium rate will apply. </p>
  </xsl:if>
  <div>This policy also includes the following benefits:
    <div>
      <ul class="ESCul">
        <li>- Special Conditions Benefit</li>
        <li>- Post Critical Illness Health Check Up Benefit</li>
        <li>- Premium Waiver Benefit</li>
      </ul>
    </div>
    Please refer to product summary for more details of the above benefits.</div>
</div>