<div class="global_main">

  <p><strong>IMPORTANT NOTES </strong></p>


  <table class="notesTable " style="width:100%; font-size:10pt">
    <colgroup>
      <col style="width:3%;" />
      <col style="width:97%;" />
    </colgroup>

    <tr>
      <td style="vertical-align:top">1.</td>
      <td>
        <p>This Policy Illustration is intended for illustrative purposes only. The terms and conditions are specified in the policy contract.</p>
      </td>
    </tr>

    <tr>
      <td style="vertical-align:top">2.</td>
      <td>
        <p>The quotation is applicable to standard life.</p>
      </td>
    </tr>

    <tr>
      <td style="vertical-align:top">3.</td>
      <td>
        <p>Please note that for the following Riders (where applicable), the premium rates are not guaranteed. These rates may be adjusted in the future at the Company’s discretion:</p>
      </td>
    </tr>

    <tr>
      <td></td>
      <td>
        <p>- Advance Critical Illness Payout</p>
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <p>- Critical Illness Plus Benefit</p>
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <p>- DisabilityCash Benefit</p>
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <p>- Personal Accident Benefit</p>
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <p>- Critical Illness PremiumEraser</p>
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <p>- Payer PremiumEraser (DTPD)</p>
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <p>- Payer PremiumEraser (DTPDCI)</p>
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <p>- Payer PremiumEraser (UN)</p>
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <p>- Payer PremiumEraser (DTPDUN)</p>
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <p>- Payer PremiumEraser (DTPDCIUN)</p>
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <p>- Premium Waiver (UN)</p>
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <p>- Premium Waiver (CIUN)</p>
      </td>
    </tr>

  </table>


</div>