<!-- ESP MAIN PAGE 2 - Guaranteed Cash Payout Type -->

<div class="global_main">
  <table class="quotDetail">
    <tbody>
      <tr>
        <td class="main-title">Basic Policy Plan</td>
        <td class="main-value">:
          <xsl:value-of select="*/basicPlanName" />
        </td>
      </tr>
      <tr>
        <td class="main-title">Sum Assured</td>
        <td class="main-value">: $
          <xsl:value-of select="*/basicSumAssured" />
        </td>
      </tr>
      <tr>
        <td class="main-title">Payment Mode</td>
        <td class="main-value">:
          <xsl:value-of select="*/paymentFrequency" />
        </td>
      </tr>
      <tr>
        <td class="main-title">Policy Currency</td>
        <td class="main-value">:
          <xsl:value-of select="*/policyCurrency" />
        </td>
      </tr>
      <tr>
        <td class="main-title">Policy Term</td>
        <td class="main-value">:
          <xsl:value-of select="*/policyTerm" />
        </td>
      </tr>
      <tr>
        <td class="main-title">Annual Premium</td>
        <td class="main-value">: $
          <xsl:value-of select="*/basicAnnualPremium" />
        </td>
      </tr>
      <tr>
        <td class="main-title">Premium Payment Term</td>
        <td class="main-value">:
          <xsl:value-of select="*/premiumPaymentTerm" />
        </td>
      </tr>
      <tr>
        <td class="quotDetailBottomSpace"></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
  <div class="emptyspace20"></div>


  <table class="borderTable" style="width:100%">

    <tr class="tableRow">
      <th class="tableCol" colspan="1">Guaranteed Cash Payout Type: Paid Out
      </th>
      <th class="tableCol"></th>
    </tr>
    <tr class="tableRow">
      <td class="tableCol"></td>
      <td class="tableCol"></td>
    </tr>
    <tr class="tableRow">
      <td class="tableCol">Total Premiums Paid </td>
      <td class="tableCol">: $
        <xsl:value-of select="*/illustrations/totPremiumPaid" />
      </td>
    </tr>
    <tr class="tableRow">
      <td class="tableCol"></td>
      <td class="tableCol"></td>
    </tr>
    <tr class="tableRow">
      <th class="tableCol" colspan="1">Total Guaranteed Cash Payouts:</th>
      <th class="tableCol"></th>
    </tr>
    <tr class="tableRow">
      <td class="tableCol">At Policy Year
        <xsl:value-of select="*/illustrations/totgteedCashPayoutsMinus2/year" />
      </td>
      <td class="tableCol">: $
        <xsl:value-of select="*/illustrations/totgteedCashPayoutsMinus2/value" />
      </td>
    </tr>
    <tr class="tableRow">
      <td class="tableCol">At Policy Year
        <xsl:value-of select="*/illustrations/totgteedCashPayoutsMinus1/year" />
      </td>
      <td class="tableCol">: $
        <xsl:value-of select="*/illustrations/totgteedCashPayoutsMinus1/value" />
      </td>
    </tr>
    <tr class="tableRow">
      <td class="tableCol">At the end of the Policy Year
        <xsl:value-of select="*/illustrations/totgteedCashPayoutsEnd/year" />*</td>
      <td class="tableCol">: $
        <xsl:value-of select="*/illustrations/totgteedCashPayoutsEnd/value" />
      </td>
    </tr>
    <tr class="tableRow">
      <td class="tableCol">Non-guaranteed Maturity Bonus at 4.75% p.a illustrated investment rate of return</td>
      <td class="tableCol">: $
        <xsl:value-of select="*/illustrations/nonGteedBonus475Return" />
      </td>
    </tr>
    <tr class="tableRow">
      <td class="tableCol">Total Projected Payout</td>
      <td class="tableCol">: $
        <xsl:value-of select="*/illustrations/totProjectedPayout" />
      </td>
    </tr>
    <tr class="tableRow">
      <td class="tableCol"></td>
      <td class="tableCol"></td>
    </tr>
    <tr class="tableRow">
      <td class="tableCol">Total Projected Payout Ratio</td>
      <td class="tableCol">:
        <xsl:value-of select="*/illustrations/totalPayoutRatio" />
      </td>
    </tr>
    <tr class="tableRow">
      <td class="tableCol">Guaranteed Internal Rate of Return</td>
      <td class="tableCol">:
        <xsl:value-of select="*/illustrations/gteedInternalRateOfReturn" />
      </td>
    </tr>
    <tr class="tableRow">
      <td class="tableCol">Total Internal Rate of Return at 4.75% p.a. illustrated investment rate of return</td>
      <td class="tableCol">:
        <xsl:value-of select="*/illustrations/gteedInternalRateOf475ProjectReturn" />
      </td>
    </tr>

  </table>
  <p> </p>
  <p> </p>
  <table class="borderTable" style="width:100%">
    <tbody>
      <tr class="tableRow">
        <th class="tableCol" colspan="1">Guaranteed Cash Payout Type: Re-invested / Accumulated</th>
        <th class="tableCol"></th>
      </tr>
      <tr class="tableRow">
        <td class="tableCol"></td>
        <td class="tableCol"></td>
      </tr>
      <tr class="tableRow">
        <td class="tableCol">Total Premiums Paid</td>
        <td class="tableCol">: $
          <xsl:value-of select="*/illustrations/totPremiumPaid" />
        </td>
      </tr>
      <tr class="tableRow">
        <td class="tableCol">Total Projected Cash Payouts deposited at 3.00% p.a.**</td>
        <td class="tableCol">: $
          <xsl:value-of select="*/illustrations/totProjectedCashPayouts3Pa" />
        </td>
      </tr>
      <tr class="tableRow">
        <td class="tableCol">Non-guaranteed Maturity Bonus at 4.75% p.a. illustrated investment rate of return**</td>
        <td class="tableCol">: $
          <xsl:value-of select="*/illustrations/nonGteedBonus475Return" />
        </td>
      </tr>
      <tr class="tableRow">
        <td class="tableCol">Total Projected Payout**</td>
        <td class="tableCol">: $
          <xsl:value-of select="*/illustrations/totProjectedPayout2" />
        </td>
      </tr>
      <tr class="tableRow">
        <td class="tableCol"></td>
        <td class="tableCol"></td>
      </tr>
      <tr class="tableRow">
        <td class="tableCol">Total Projected Payout Ratio**</td>
        <td class="tableCol">:
          <xsl:value-of select="*/illustrations/totalPayoutRatio2" />
        </td>
      </tr>
      <tr class="tableRow">
        <td class="tableCol">Total Internal Rate of Return at 4.75% p.a. illustrated investment rate of return**</td>
        <td class="tableCol">:
          <xsl:value-of select="*/illustrations/totalInternalRateofReturn" />
        </td>
      </tr>
    </tbody>
  </table>
  <p> </p>
  <p> </p>
  <p>*This amount will be paid out at maturity</p>
  <p>**This assumes the Guaranteed Cash Payout is deposited with AXA at a non-guaranteed rate of 3.00% p.a.</p>
</div>