<div class="global_main">
  <table class="w100">
    <colgroup>
      <col style="width:25%" />
      <col style="width:40%" />
      <col style="width:10%;" />
      <col style="width:25%" />
    </colgroup>

    <thead>
      <tr>
        <th colspan="4" style="text-align: center; padding-bottom: 10px;">
          <b>MAIN POLICY ILLUSTRATION</b>
        </th>
      </tr>
      <tr>
        <th colspan="4">
          <br />
        </th>
      </tr>
      <tr>
        <td class="vtop b tleft" style="padding-top: 4px;">Proposal on the life of</td>
        <td class="vtop b tleft" style="padding-top: 4px;">:
          <xsl:value-of select="*/mainInfo/name" />
        </td>
        <td class="vtop b tleft" style="padding-top: 4px;">Date</td>
        <td class="vtop b tleft" style="padding-top: 4px;">:
          <xsl:value-of select="*/genDate" />
        </td>
      </tr>
      <tr>
        <td class="vtop b tleft">Gender</td>
        <td class="vtop b tleft">:
          <xsl:value-of select="*/insurerGenderTitle" /> (
          <xsl:value-of select="*/insurerSmokerTitle" />)</td>
        <td class="vtop b tleft">Age</td>
        <td class="vtop b tleft">:
          <xsl:value-of select="*/mainInfo/age" /> (As At
          <xsl:value-of select="*/backDate" />)</td>
      </tr>
      <tr style="border-bottom: solid 1pt black">
        <td colspan="4">
          <br />
        </td>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td colspan="4">
          <xsl:if test="*/isSignPrem='Y'">
            <div id="pageBASIC">
              <div class="sectionSpace" />
              <div>The following table of values relate to the basic plan.</div>
              <div class="sectionSpace" />
              <table style="width: 70%; margin: auto">
                <colgroup>
                  <col style="width:20%" />
                  <col style="width:20%" />
                  <col style="width:33%" />
                  <col style="width:27%" />
                </colgroup>

                <thead>
                  <tr>
                    <th class="vtop pd2">End of Policy
                      <br />Year/Age
                    </th>
                    <th class="vtop pd2">Total Premiums
                      <br />Paid To-Date
                    </th>
                    <th class="vtop pd2">Guaranteed Death/<br />Terminal Illness Benefit</th>
                    <th class="vtop pd2">Guaranteed<br />Surrender Value</th>
                  </tr>
                  <tr>
                    <th></th>
                    <th class="vtop pd2">(S$)</th>
                    <th class="vtop pd2">(S$)</th>
                    <th class="vtop pd2">(S$)</th>
                  </tr>
                </thead>

                <tbody>
                  <xsl:for-each select="*/illustration/deathBenefit">
                    <tr>
                      <td class="tdCol">
                        <xsl:value-of select="policyYearAge" />
                      </td>
                      <td class="tdCol">
                        <xsl:value-of select="premiumsPaidToDate" />
                      </td>
                      <td class="tdCol">
                        <xsl:value-of select="guaranteed" />
                      </td>
                      <td class="tdCol">
                        <xsl:value-of select="guaranteedsurr" />
                      </td>
                    </tr>
                  </xsl:for-each>
                </tbody>
              </table>
            </div>
          </xsl:if>


          <xsl:if test="*/isSignPrem='N'">
            <div id="pageBASIC">
              <div class="sectionSpace" />
              <div>The following table of values relate to the basic plan.</div>
              <div class="sectionSpace" />
              <table style="width: 60%; margin: auto">
                <colgroup>
                  <col style="width:30%" />
                  <col style="width:35%" />
                  <col style="width:35%" />
                </colgroup>

                <thead>
                  <tr>
                    <th class="vtop pd2">End of Policy
                      <br />Year/Age
                    </th>
                    <th class="vtop pd2">Total Premiums
                      <br />Paid To-Date
                    </th>
                    <th class="vtop pd2">Guaranteed Death/<br />Terminal Illness Benefit</th>
                  </tr>
                  <tr>
                    <th></th>
                    <th class="vtop pd2">(S$)</th>
                    <th class="vtop pd2">(S$)</th>
                  </tr>
                </thead>

                <tbody>
                  <xsl:for-each select="*/illustration/deathBenefit">
                    <tr>
                      <td class="tdCol">
                        <xsl:value-of select="policyYearAge" />
                      </td>
                      <td class="tdCol">
                        <xsl:value-of select="premiumsPaidToDate" />
                      </td>
                      <td class="tdCol">
                        <xsl:value-of select="guaranteed" />
                      </td>
                    </tr>
                  </xsl:for-each>
                </tbody>
              </table>
            </div>
          </xsl:if>


          <div id="pageTDC" class="pagebreak">
            <div class="sectionSpace" />
            <div><b>TOTAL DISTRIBUTION COST</b></div>
            <div class="sectionSpace" />
            <div><b>How much are you paying for distribution costs? </b></div>
            <div class="sectionSpace" />
            <div>This table shows the total costs of distribution that AXA expects to incur in relation to your policy, including the cost of any financial advice provided to you.</div>
            <div class="sectionSpace" />
            <table style="width: 60%; margin: auto">
              <colgroup>
                <col style="width:33%" />
                <col style="width:33%" />
                <col style="width:34%" />
              </colgroup>

              <thead>
                <tr>
                  <th colspan="3" class="bgblack tcwhite">TOTAL DISTRIBUTION COST</th>
                </tr>
                <tr>
                  <th class="vtop pd2">End of Policy
                    <br />Year/Age
                  </th>
                  <th class="vtop pd2">Total Premiums
                    <br />Paid To-Date
                  </th>
                  <th class="vtop pd2">Total Distribution
                    <br />Cost To-Date
                  </th>
                </tr>
                <tr>
                  <th></th>
                  <th class="vtop pd2">(S$)</th>
                  <th class="vtop pd2">(S$)</th>
                </tr>
              </thead>

              <tbody>
                <xsl:for-each select="*/illustration/basicTDC">
                  <tr>
                    <td class="tdCol">
                      <xsl:value-of select="policyYearAge" />
                    </td>
                    <td class="tdCol">
                      <xsl:value-of select="premiumsPaidToDate" />
                    </td>
                    <td class="tdCol">
                      <xsl:value-of select="basictdc" />
                    </td>
                  </tr>
                </xsl:for-each>
              </tbody>
            </table>
            <div class="sectionSpace" />
            <div style="page-break-inside:avoid;">
              <p><b>What does the last column represent?</b></p>
              <table class="w100">
                <colgroup>
                  <col style="width:2%" />
                  <col style="width:98%" />
                </colgroup>
                <tr>
                  <td class="vtop">1.</td>
                  <td class="vtop">
                    <div>The Total Distribution Cost To-Date is the sum of each year's expected distribution related costs, without interest. Such costs include cash payments in the form of commission, costs of benefits and services paid
                      to the distribution channel.</div>
                  </td>
                </tr>

                <tr>
                  <td colspan="2">
                    <br />
                  </td>
                </tr>

                <tr>
                  <td class="vtop">2.</td>
                  <td class="vtop">
                    <div>Please note that the Total Distribution Cost is not an additional cost to you; it has already been allowed for in calculating your premium.</div>
                  </td>
                </tr>

                <tr>
                  <td colspan="2">
                    <br />
                  </td>
                </tr>

                <tr>
                  <td class="vtop">3.</td>
                  <td class="vtop">
                    <div>You can obtain the Total Distribution Cost of each of the supplementary benefits (if applicable) from your Financial Adviser or its representatives.</div>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>






<xsl:if test="*/hasrider='Y'">
  <div id="riderTDC" class="global_main pagebreak">
    <table class="w100">
      <colgroup>
        <col style="width:25%" />
        <col style="width:40%" />
        <col style="width:10%;" />
        <col style="width:25%" />
      </colgroup>

      <thead>
        <tr>
          <th colspan="4" style="text-align: center; padding-bottom: 10px;">
            <b>SUPPLEMENTARY POLICY ILLUSTRATION</b>
          </th>
        </tr>
        <tr>
          <th colspan="4">
            <br />
          </th>
        </tr>
        <tr>
          <td class="vtop b tleft" style="padding-top: 4px;">Proposal on the life of</td>
          <td class="vtop b tleft" style="padding-top: 4px;">:
            <xsl:value-of select="*/mainInfo/name" />
          </td>
          <td class="vtop b tleft" style="padding-top: 4px;">Date</td>
          <td class="vtop b tleft" style="padding-top: 4px;">:
            <xsl:value-of select="*/genDate" />
          </td>
        </tr>
        <tr>
          <td class="vtop b tleft">Gender</td>
          <td class="vtop b tleft">:
            <xsl:value-of select="*/insurerGenderTitle" /> (
            <xsl:value-of select="*/insurerSmokerTitle" />)</td>
          <td class="vtop b tleft">Age</td>
          <td class="vtop b tleft">:
            <xsl:value-of select="*/mainInfo/age" /> (As At
            <xsl:value-of select="*/backDate" />)</td>
        </tr>
        <tr style="border-bottom: solid 1pt black">
          <td colspan="4">
            <br />
          </td>
        </tr>
      </thead>


      <tbody>
        <tr>
          <td colspan="4">
            <div>
              <div class="sectionSpace" />
              <div>This is only a supplementary illustration and must be read in conjunction with the main illustration.</div>
              <div class="sectionSpace" />
              <div>The following table of values relate to the supplementary benefit(s) selected.</div>
              <div class="sectionSpace" />
              <table style="width: 60%; margin: auto">
                <colgroup>
                  <col style="width:33%" />
                  <col style="width:33%" />
                  <col style="width:34%" />
                </colgroup>

                <thead>
                  <tr>
                    <th colspan="3" class="bgblack tcwhite">TOTAL DISTRIBUTION COST</th>
                  </tr>
                  <tr>
                    <th class="vtop pd2">End of Policy
                      <br />Year/Age
                    </th>
                    <th class="vtop pd2">Rider Premiums
                      <br />Paid To-Date
                    </th>
                    <th class="vtop pd2">Total Distribution
                      <br />Cost To-Date
                    </th>
                  </tr>
                  <tr>
                    <th></th>
                    <th class="vtop pd2">(S$)</th>
                    <th class="vtop pd2">(S$)</th>
                  </tr>
                </thead>

                <tbody>
                  <xsl:for-each select="*/illustration/riderTDC">
                    <tr>
                      <td class="tdCol">
                        <xsl:value-of select="policyYearAge" />
                      </td>
                      <td class="tdCol">
                        <xsl:value-of select="ridertotalPremiun" />
                      </td>
                      <td class="tdCol">
                        <xsl:value-of select="ridertdc" />
                      </td>
                    </tr>
                  </xsl:for-each>
                </tbody>
              </table>
              <div class="sectionSpace" />
              <div style="page-break-inside:avoid;">
                <p><b>What does the last column represent?</b></p>
                <table class="w100">
                  <colgroup>
                    <col style="width:2%" />
                    <col style="width:98%" />
                  </colgroup>
                  <tr>
                    <td class="vtop">1.</td>
                    <td class="vtop">
                      <div>The Total Distribution Cost To-Date is the sum of each year's expected distribution related costs, without interest. Such costs include cash payments in the form of commission, costs of benefits and services
                        paid to the distribution channel.</div>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="2">
                      <br />
                    </td>
                  </tr>
                  <tr>
                    <td class="vtop">2.</td>
                    <td class="vtop">
                      <div>Please note that the Total Distribution Cost is not an additional cost to you; it has already been allowed for in calculating your premium.</div>
                    </td>
                  </tr>

                  <tr>
                    <td colspan="2">
                      <br />
                    </td>
                  </tr>
                  <tr>
                    <td class="vtop">3.</td>
                    <td class="vtop">
                      <div>You can obtain the Total Distribution Cost of each of the supplementary benefits (if applicable) from your Financial Adviser or its representatives.</div>
                    </td>
                  </tr>
                </table>
              </div>

            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</xsl:if>