<div class="global_main">

  <table class="w100" style="border-bottom: solid 1pt black">
    <colgroup>
      <col style="width:25%" />
      <col style="width:40%" />
      <col style="width:10%;" />
      <col style="width:25%" />
    </colgroup>
    <tr>
      <th colspan="4" style="text-align: center; width: 100%; padding-bottom: 10px;">
        <strong>MAIN POLICY ILLUSTRATION</strong>
      </th>
    </tr>
    <tr>
      <td class="vtop b tleft">Proposal on the life of </td>
      <td class="vtop b tleft">: <span><xsl:value-of select="*/cover/insured/name"/></span> </td>
      <td class="vtop b tleft">Date</td>
      <td class="vtop b tleft">:
        <xsl:value-of select="*/common/genDate" />
      </td>
    </tr>
    <tr>
      <td class="vtop b tleft">Gender</td>
      <td class="vtop b tleft">:
        <xsl:value-of select="*/cover/insured/gender" /> (
        <xsl:value-of select="*/cover/insured/smoking" />)</td>
      <td class="vtop b tleft">Age</td>
      <td class="vtop b tleft">:
        <xsl:value-of select="*/cover/insured/age" /> (as at
        <xsl:value-of select="*/cover/riskCommenDate" />)</td>
    </tr>
    <tr>
      <td>
        <br/>
      </td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </table>
  <div class="sectionSpace" />
  <table class="w100">
    <tr>
      <td class="vtop b tleft"><u>INTRODUCTION</u></td>
    </tr>
    <tr>
      <td class="vtop  tleft">AXA Insurance Pte Ltd believes that it is important that you fully appreciate the benefits of your policy. You should also understand how the cost of your insurance cover and the expenses of administration and sales affect the benefits that you
        will receive.</td>
    </tr>
    <tr>
      <td class="vtop  tleft">
        <br/>
      </td>
    </tr>
    <tr>
      <td class="vtop  tleft">The illustration that follows shows how the value of your policy progresses over time and the sum(s) that would be payable. The methods used to derive the values shown follow guidelines established by the Life Insurance Association, Singapore, to
        ensure that a fair and consistent approach is used in preparing this illustration.</td>
    </tr>
    <tr>
      <td class="vtop  tleft">
        <br/>
      </td>
    </tr>
    <tr>
      <td class="vtop  tleft">Please note that your policy provides a combination of (1) guaranteed benefits and (2) non-guaranteed benefits in the form of bonuses / cash dividends. The bonus rates / dividend scales used in this illustration are not guaranteed and may vary according
        to the performance of the Participating Fund. </td>
    </tr>
    <tr>
      <td class="vtop  tleft">
        <br/>
      </td>
    </tr>
    <tr>
      <td class="vtop  tleft">Buying a life insurance policy can be a long-term commitment. An early termination of the policy usually involves high costs and the surrender value payable may be less than the total premiums paid.</td>
    </tr>
    <tr>
      <td class="vtop  tleft">
        <br/>
      </td>
    </tr>
    <tr>
      <td class="vtop  tleft">If you need clarification please do not hesitate to ask your adviser.</td>
    </tr>
    <tr>
      <td class="vtop  tleft">
        <br/>
      </td>
    </tr>

    <tr>
      <td class="vtop  tleft">This Policy is protected under the Policy Owners' Protection Scheme which is administered by the Singapore Deposit Insurance Corporation (SDIC). Coverage for your policy is automatic and no further action is required from you. For more information
        on the types of benefits that are covered under the scheme as well as the limits of coverage, where applicable, please contact AXA Insurance Pte Ltd or visit the LIA or SDIC web-sites (www.lia.org.sg or www.sdic.org.sg).</td>
    </tr>
    <tr>
      <td class="vtop  tleft">
        <br/>
      </td>
    </tr>
    <tr>
      <td class="vtop  tleft">
        <br/>
      </td>
    </tr>
    <tr>
      <td class="vtop b tleft">
        <u>IMPORTANT NOTES</u>
      </td>
    </tr>
    <tr>
      <td class="vtop  tleft">
        1. This Policy Illustration is intended for illustrative purposes only. The terms and conditions are specified in the policy contract.
      </td>
    </tr>
    <tr>
      <td class="vtop  tleft">
        <br/>
      </td>
    </tr>
    <tr>
      <td class="vtop  tleft">
        2. The quotation is applicable to standard life.
      </td>
    </tr>
  </table>

</div>