<div class="global_main">

  <table class="w100">
    <colgroup>
      <col style="width:25%" />
      <col style="width:25%" />
      <col style="width:30%;" />
      <col style="width:20%" />
    </colgroup>

    <thead>
      <tr>
        <th colspan="4" style="text-align: center; padding-bottom: 10px;">
          <strong>MAIN POLICY ILLUSTRATION</strong>
        </th>
      </tr>

      <tr>
        <td class="vtop b tleft">
          Proposal on the life of
        </td>
        <td class="vtop b tleft">:
          <xsl:value-of select="*/cover/insured/name" />
        </td>

        <td class="vtop b tright" style="padding-right: 10px;">Date
        </td>
        <td class="vtop b tleft">:
          <xsl:value-of select="*/common/genDate" />
        </td>
      </tr>

      <tr>
        <td class="vtop b tleft">Gender</td>
        <td class="vtop b tleft">:
          <xsl:value-of select="*/cover/insured/gender" /> (
          <xsl:value-of select="*/cover/insured/smoking" />)
        </td>
        <td class="vtop b tright" style="padding-right: 10px;">Age
        </td>
        <td class="vtop b tleft">:
          <xsl:value-of select="*/cover/insured/age" /> (as at
          <xsl:value-of select="*/cover/riskCommenDate" />)
        </td>
      </tr>

      <tr>
        <td class="vtop tleft"></td>
        <td colspan="2" class="vtop b tright" style="padding-right: 10px;">
          Guaranteed Annual Income Option
        </td>
        <td class="vtop b tleft">: Paid Out
        </td>
      </tr>
      <tr style="border-bottom: solid 1pt black">
        <th colspan="4">
          <br/>
        </th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td colspan="4">
          <div id="pageDB">
            <p>The following tables of values relate to the basic policy plan - AXA Retire Treasure.</p>
            <table class="mtop8 w100">
              <colgroup>
                <col style="width:13.7%" />
                <col style="width:12.5%" />
                <col style="width:15.0%" />
                <col style="width:14.7%" />
                <col style="width:14.7%" />
                <col style="width:14.7%" />
                <col style="width:14.7%" />
              </colgroup>

              <thead>
                <tr>
                  <th class="vtop pd2">
                  </th>
                  <th class="vtop pd2">
                  </th>
                  <th colspan="5" class="bgblack tcwhite">DEATH BENEFIT</th>
                </tr>
                <tr>
                  <th rowspan="2" class="vtop pd2">
                    End of
                    <br/>Policy
                    <br/>Year/Age
                  </th>
                  <th rowspan="2" class="vtop pd2">
                    Total
                    <br/>Premiums
                    <br/>Paid To-Date
                  </th>
                  <th class="vtop pd2">
                    Guaranteed
                  </th>

                  <th colspan="2" class="vtop pd2">
                    Illustrated at
                    <br/>
                    <xsl:value-of select="*/common/lowIRR" />% Investment Return
                  </th>

                  <th colspan="2" class="vtop pd2">
                    Illustrated at
                    <br/>
                    <xsl:value-of select="*/common/highIRR" />% Investment Return
                  </th>
                </tr>

                <tr>

                  <th></th>
                  <th class="vtop pd2">
                    Non-Guaranteed
                  </th>
                  <th class="vtop pd2">
                    Total
                  </th>
                  <th class="vtop pd2">
                    Non-Guaranteed
                  </th>
                  <th class="vtop pd2">
                    Total
                  </th>
                </tr>

                <tr>
                  <th></th>
                  <th class="vtop pd2">(S$)</th>
                  <th class="vtop pd2">(S$)</th>
                  <th class="vtop pd2">(S$)</th>
                  <th class="vtop pd2">(S$)</th>
                  <th class="vtop pd2">(S$)</th>
                  <th class="vtop pd2">(S$)</th>
                </tr>
              </thead>

              <tbody>
                <xsl:for-each select="*/illustration/deathBenefit">
                  <tr>
                    <td class="tdCol">
                      <xsl:value-of select="policyYearAge" />
                    </td>
                    <td class="tdCol">
                      <xsl:value-of select="premiumsPaidToDate" />
                    </td>
                    <td class="tdCol">
                      <xsl:value-of select="guaranteed" />
                    </td>
                    <td class="tdCol">
                      <xsl:value-of select="nonGuaranteedLow" />
                    </td>
                    <td class="tdCol">
                      <xsl:value-of select="totalLow" />
                    </td>
                    <td class="tdCol">
                      <xsl:value-of select="nonGuaranteedHigh" />
                    </td>
                    <td class="tdCol">
                      <xsl:value-of select="totalHigh" />
                    </td>
                  </tr>
                </xsl:for-each>
              </tbody>
            </table>
          </div>




          <div id="pageSV" class="pagebreak">
            <p>The following tables of values relate to the basic policy plan - AXA Retire Treasure.</p>
            <table class="mtop8 w100">
              <colgroup>
                <col style="width:10%" />
                <col style="width:11.3%" />
                <col style="width:12.3%" />
                <col style="width:10.6%" />
                <col style="width:14.4%" />
                <col style="width:13.5%" />
                <col style="width:14.4%" />
                <col style="width:13.5%" />
              </colgroup>

              <thead>
                <tr style="vertical-align: text-top;">
                  <th></th>
                  <th></th>
                  <th></th>
                  <th colspan="5" class="bgblack tcwhite">SURRENDER VALUE</th>
                </tr>

                <tr style="vertical-align: text-top;">
                  <th rowspan="2">End of
                    <br/>Policy
                    <br/>Year/Age
                  </th>
                  <th rowspan="2">Total
                    <br/>Premiums
                    <br/>Paid To-Date
                  </th>
                  <th rowspan="2">Guaranteed
                    <br/>Annual
                    <br/>Income
                  </th>
                  <th class="vtop pd2">
                    Guaranteed
                  </th>

                  <th colspan="2" class="vtop pd2">
                    Illustrated at
                    <br/>
                    <xsl:value-of select="*/common/lowIRR" />% Investment Return
                  </th>

                  <th colspan="2" class="vtop pd2">
                    Illustrated at
                    <br/>
                    <xsl:value-of select="*/common/highIRR" />% Investment Return
                  </th>
                </tr>

                <tr style="vertical-align: text-top;">
                  <th></th>
                  <th class="vtop pd2">
                    Non-Guaranteed
                  </th>
                  <th class="vtop pd2">
                    Total
                  </th>
                  <th class="vtop pd2">
                    Non-Guaranteed
                  </th>
                  <th class="vtop pd2">
                    Total
                  </th>
                </tr>

                <tr style="vertical-align: text-top;">
                  <th></th>
                  <th class="vtop pd2">(S$)</th>
                  <th class="vtop pd2">(S$)</th>
                  <th class="vtop pd2">(S$)</th>
                  <th class="vtop pd2">(S$)</th>
                  <th class="vtop pd2">(S$)</th>
                  <th class="vtop pd2">(S$)</th>
                  <th class="vtop pd2">(S$)</th>
                </tr>
              </thead>

              <tbody>
                <xsl:for-each select="*/illustration/surrenderValue">
                  <xsl:choose>
                    <xsl:when test="position() != last()">
                      <tr>
                        <td class="tdCol">
                          <xsl:value-of select="policyYearAge" />
                        </td>
                        <td class="tdCol">
                          <xsl:value-of select="premiumsPaidToDate" />
                        </td>
                        <td class="tdCol">
                          <xsl:value-of select="retireIncPayout" />
                        </td>
                        <td class="tdCol">
                          <xsl:value-of select="guaranteed" />
                        </td>
                        <td class="tdCol">
                          <xsl:value-of select="nonGuaranteedLow" />
                        </td>
                        <td class="tdCol">
                          <xsl:value-of select="totalLow" />
                        </td>
                        <td class="tdCol">
                          <xsl:value-of select="nonGuaranteedHigh" />
                        </td>
                        <td class="tdCol">
                          <xsl:value-of select="totalHigh" />
                        </td>
                      </tr>
                    </xsl:when>
                  </xsl:choose>
                </xsl:for-each>
              </tbody>
            </table>


            <!-- The last row is for Maturity value-->
            <table class="w100">
              <colgroup>
                <col style="width:10%" />
                <col style="width:11.3%" />
                <col style="width:12.3%" />
                <col style="width:10.6%" />
                <col style="width:14.4%" />
                <col style="width:13.5%" />
                <col style="width:14.4%" />
                <col style="width:13.5%" />
              </colgroup>

              <thead>
                <tr style="vertical-align: text-top;">
                  <th colspan="8">
                    <br/>
                  </th>
                </tr>
                <tr style="vertical-align: text-top;">
                  <th></th>
                  <th></th>
                  <th></th>
                  <th colspan="5" class="bgblack tcwhite">MATURITY VALUE</th>
                </tr>

                <tr style="vertical-align: text-top;">
                  <th rowspan="2">End of
                    <br/>Policy
                    <br/>Year/Age
                  </th>
                  <th rowspan="2">Total
                    <br/>Premiums
                    <br/>Paid To-Date
                  </th>
                  <th rowspan="2">Guaranteed
                    <br/>Annual
                    <br/>Income
                  </th>
                  <th class="vtop pd2">
                    Guaranteed
                  </th>

                  <th colspan="2" class="vtop pd2">
                    Illustrated at
                    <br/>
                    <xsl:value-of select="*/common/lowIRR" />% Investment Return
                  </th>

                  <th colspan="2" class="vtop pd2">
                    Illustrated at
                    <br/>
                    <xsl:value-of select="*/common/highIRR" />% Investment Return
                  </th>
                </tr>

                <tr style="vertical-align: text-top;">
                  <th></th>
                  <th class="vtop pd2">
                    Non-Guaranteed
                  </th>
                  <th class="vtop pd2">
                    Total
                  </th>
                  <th class="vtop pd2">
                    Non-Guaranteed
                  </th>
                  <th class="vtop pd2">
                    Total
                  </th>
                </tr>

                <tr style="vertical-align: text-top;">
                  <th></th>
                  <th class="vtop pd2">(S$)</th>
                  <th class="vtop pd2">(S$)</th>
                  <th class="vtop pd2">(S$)</th>
                  <th class="vtop pd2">(S$)</th>
                  <th class="vtop pd2">(S$)</th>
                  <th class="vtop pd2">(S$)</th>
                  <th class="vtop pd2">(S$)</th>
                </tr>
              </thead>

              <tbody>

                <xsl:for-each select="*/illustration/lastRowsurrenderValue">
                  <tr>
                    <td class="tdCol">
                      <xsl:value-of select="policyYearAge" />
                    </td>
                    <td class="tdCol">
                      <xsl:value-of select="premiumsPaidToDate" />
                    </td>
                    <td class="tdCol">
                      <xsl:value-of select="retireIncPayout" />
                    </td>
                    <td class="tdCol">
                      <xsl:value-of select="guaranteed" />
                    </td>
                    <td class="tdCol">
                      <xsl:value-of select="nonGuaranteedLow" />
                    </td>
                    <td class="tdCol">
                      <xsl:value-of select="totalLow" />
                    </td>
                    <td class="tdCol">
                      <xsl:value-of select="nonGuaranteedHigh" />
                    </td>
                    <td class="tdCol">
                      <xsl:value-of select="totalHigh" />
                    </td>
                  </tr>
                </xsl:for-each>

              </tbody>




            </table>






            <br/>
            <div>
              The above Surrender Values exclude the Guaranteed Annual Income that is payable for the Policy Year (if any).
            </div>
          </div>






          <div id="pagePIRR" class="pagebreak">
            <div class="sectionSpace" />
            <div><b>Based on the Illustrated Investment Rate of Return of the Participating Fund:</b></div>

            <div class="mtop8"><b>At <xsl:value-of select="*/common/highIRR"/>% p.a., your total Illustrated Yield at maturity is
						<xsl:value-of select="*/common/ytm_h"/>% p.a.</b></div>

            <div class="mtop8"><b>At <xsl:value-of select="*/common/lowIRR"/>% p.a., your total Illustrated Yield at maturity is
						<xsl:value-of select="*/common/ytm_l"/>% p.a.</b></div>

            <div class="mtop8"><b>What is the significance of the Illustrated Investment Rate of Return?</b></div>

            <div class="mtop8">The illustrations have been prepared on two assumptions regarding the investment rate of return achieved by the investments of the Participating Fund. The two rates 4.75% p.a. and 3.25% p.a., are purely illustrative and do not represent upper
              and lower limits on the investment performance of the Participating Fund. The two rates shown are net of any investment expenses.</div>

            <div class="mtop8">The higher Illustrated Investment Rate of Return does not exceed the maximum long-term illustration investment rate of return (currently 4.75%), which has been set by the Life Insurance Association, Singapore.</div>

            <div class="mtop8">Changes in the economic and investment environment may affect the investment performance of the Participating Fund and the benefits that you may receive. Please note that investment performance is not the only factor that will affect the benefits
              that you will receive. Other factors such as the actual level of death claims, disability claims, expenses incurred and other terminations on the Participating Fund will also have a bearing on the benefits that you will receive.</div>

            <div class="mtop8">As the bonus rates (or cash dividends) used for the benefits illustrated above are not guaranteed, the actual benefits payable may vary according to the future experience of the Participating Fund.</div>

            <div class="mtop8"><b>What is the Illustrated Yield at Maturity?</b></div>

            <div class="mtop8">The Illustrated Yields at Maturity represent the annualised investment return you may receive upon the maturity, net of the cost of insurance and the expenses incurred, based on the Illustrated Investment Rates of Return of the Participating
              Fund at 4.75% and 3.25%.</div>

            <div class="mtop8">The Illustrated Yields are not guaranteed and do not represent upper and lower limits on the yield you could receive on this Participating policy.</div>

            <div class="mtop8">As the bonus rates (or cash dividends) used for the benefits illustrated above are not guaranteed, the actual benefits payable may vary according to the future experience of the Participating Fund. Every year, you will be informed of the actual
              bonus rates or cash dividends (if any) of your Participating policy for that year. You can refer to the Product Summary for more information on the illustrated bonus rates for this product. You can also refer to Your Guide to Participating
              Policies to find out how bonus is determined.</div>

            <div class="mtop8">Please note that the guaranteed benefit you receive upon the maturity of the policy may be less than the total premiums paid.</div>
          </div>

          <div id="pageTOD" class="pagebreak">
            <p>The following tables of values relate to the basic policy plan - AXA Retire Treasure.
              <br/>
              <br/>
              <b>What is the impact of deductions on what you might get back?</b>
              <br/>
              <br/>The following table illustrates the effect that deductions will have on the amount you get back on surrender or maturity. It also highlights the cost of surrendering the policy early.
            </p>
            <table class="mtop8  w100">
              <colgroup>
                <col style="width:9.2%" />
                <col style="width:12%" />
                <col style="width:14%" />
                <col style="width:13%" />
                <col style="width:12.4%" />
                <col style="width:14%" />
                <col style="width:13%" />
                <col style="width:12.4%" />
              </colgroup>

              <thead>
                <tr>
                  <th class="bgblack tcwhite"></th>
                  <th class="bgblack tcwhite"></th>
                  <th colspan="5" class="bgblack tcwhite" style="text-align=center;">TABLE OF DEDUCTIONS</th>
                  <th class="bgblack tcwhite"></th>
                </tr>
                <tr style="border-top:none;">
                  <th></th>
                  <th></th>
                  <th colspan="6" class="bgblack tcwhite">DEDUCTIONS</th>
                </tr>

                <tr style="vertical-align: text-top;">
                  <th class="vtop pd2" rowspan="2">
                    End of
                    <br/>Policy
                    <br/>Year/Age
                  </th>

                  <th class="vtop pd2" rowspan="2">
                    Total
                    <br/>Premiums
                    <br/>Paid To-Date
                  </th>

                  <th colspan="3" class="vtop pd2">
                    Illustrated at
                    <br/>
                    <xsl:value-of select="*/common/lowIRR" />% Investment Return
                  </th>

                  <th colspan="3" class="vtop pd2">
                    Illustrated at
                    <br/>
                    <xsl:value-of select="*/common/highIRR" />% Investment Return
                  </th>
                </tr>

                <tr style="vertical-align: text-top;">
                  <th class="vtop pd2">
                    Value of
                    <br/>Premiums
                    <br/>Paid To-Date
                  </th>

                  <th class="vtop pd2">
                    Effect of
                    <br/>Deductions
                    <br/>To-Date
                  </th>

                  <th class="vtop pd2">
                    Total
                    <br/>Surrender
                    <br/>value
                  </th>

                  <th class="vtop pd2">
                    Value of
                    <br/>Premiums
                    <br/>Paid To-Date
                  </th>

                  <th class="vtop pd2">
                    Effect of
                    <br/>Deductions
                    <br/>To-Date
                  </th>

                  <th class="vtop pd2">
                    Total
                    <br/>Surrender
                    <br/>value
                  </th>
                </tr>

                <tr>
                  <th class="vtop pd2"></th>
                  <th class="vtop pd2">(S$)</th>
                  <th class="vtop pd2">(S$)</th>
                  <th class="vtop pd2">(S$)</th>
                  <th class="vtop pd2">(S$)</th>
                  <th class="vtop pd2">(S$)</th>
                  <th class="vtop pd2">(S$)</th>
                  <th class="vtop pd2">(S$)</th>
                </tr>
              </thead>

              <tbody>
                <xsl:for-each select="*/illustration/deductions">
                  <tr>
                    <td class="tdCol">
                      <xsl:value-of select="policyYearAge" />
                    </td>
                    <td class="tdCol">
                      <xsl:value-of select="premiumsPaidToDate" />
                    </td>
                    <td class="tdCol">
                      <xsl:value-of select="valueOfPremiumsLow" />
                    </td>
                    <td class="tdCol">
                      <xsl:value-of select="effectOfDeductionsLow" />
                    </td>
                    <td class="tdCol">
                      <xsl:value-of select="totalSurrenderValueLow" />
                    </td>
                    <td class="tdCol">
                      <xsl:value-of select="valueOfPremiumsHigh" />
                    </td>
                    <td class="tdCol">
                      <xsl:value-of select="effectOfDeductionsHigh" />
                    </td>
                    <td class="tdCol">
                      <xsl:value-of select="totalSurrenderValueHigh" />
                    </td>
                  </tr>
                </xsl:for-each>
              </tbody>
            </table>
            <br/>
            <div style="page-break-inside:avoid;">
              <p><b>What do the columns in the table of deductions mean?</b></p>
              <table class="w100">
                <tr>
                  <td style="vertical-align:top">1. “Value of Premiums Paid To-date” is obtained by accumulating the premiums paid to date at the Illustrated Investment Rate of Return, assuming the premiums paid can be invested without deduction for the cost of insurance and without
                    any expenses.</td>
                </tr>

                <tr>
                  <td>
                    <br/>
                  </td>
                </tr>

                <tr>
                  <td style="vertical-align:top">2. "Total Surrender Value" includes past Guaranteed Annual Income accumulated with non-guaranteed interest. The Guaranteed Annual Income will earn 3.00% p.a. or 1.50% p.a under the Illustrated Investment Rate of Return of 4.75% p.a.
                    and 3.25% p.a respectively.</td>
                </tr>
                <tr>
                  <td>
                    <br/>
                  </td>
                </tr>
                <tr>
                  <td style="vertical-align:top">3. The difference between the “Value of Premiums Paid To-date” and “Total Surrender Value” represents the “Effect of Deductions To-date”. This is the accumulated value of the deductions for the cost of insurance, distribution cost, expenses,
                    surrender charge, expected tax payments, and expected transfers to shareholders (for participating policies).</td>
                </tr>
              </table>
            </div>
          </div>

          <div id="pageTDC" class="pagebreak">
            <p>The following tables of values relate to the basic policy plan - AXA Retire Treasure.
              <br/>
              <br/>
              <b>How much are you paying for distribution costs?</b>
              <br/>
              <br/>This table shows the total costs of distribution that AXA expects to incur in relation to your policy, including the cost of any financial advice provided to you.
            </p>

            <table style="width: 55%; margin: auto">
              <colgroup>
                <col style="width:30%" />
                <col style="width:35%" />
                <col style="width:35%" />
              </colgroup>
              <thead>
                <tr>
                  <th></th>
                  <th colspan="2" class="bgblack tcwhite">Total Distribution Cost</th>
                </tr>
                <tr>
                  <th class="vtop pd2">
                    End of
                    <br/>Policy
                    <br/>Year/Age
                  </th>

                  <th class="vtop pd2">
                    Total Premiums
                    <br/>Paid To-Date
                    <br/>(S$)
                  </th>

                  <th class="vtop pd2">
                    Total Distribution
                    <br/>Cost To-Date
                    <br/>(S$)
                  </th>
                </tr>

              </thead>

              <tbody>
                <xsl:for-each select="*/illustration/distributionCost">
                  <tr>
                    <td class="tdCol">
                      <xsl:value-of select="policyYearAge" />
                    </td>
                    <td class="tdCol">
                      <xsl:value-of select="premiumsPaidToDate" />
                    </td>
                    <td class="tdCol">
                      <xsl:value-of select="distributionCost" />
                    </td>
                  </tr>
                </xsl:for-each>
              </tbody>
            </table>

            <br/>
            <div style="page-break-inside:avoid;">
              <p><b>What does the last column represent?</b></p>
              <table class="w100">
                <tr>
                  <td>
                    1. The Total Distribution Cost To-date is the sum of each year's expected distribution-related costs, without interest. Such costs include cash payments in the form of commission, costs of benefits and services paid to the distribution channel.
                  </td>
                </tr>

                <tr>
                  <td>
                    <br/>
                  </td>
                </tr>

                <tr>
                  <td>
                    2. Please note that the Total Distribution Cost is not an additional cost to you; it has already been allowed for in calculating your premium.
                  </td>
                </tr>

                <tr>
                  <td>
                    <br/>
                  </td>
                </tr>

                <tr>
                  <td>
                    3. You can obtain the Total Distribution Cost of each of the supplementary benefits (if applicable) from your Financial Adviser or its representatives.
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>



<!--  Supple Mentary Page -->

<xsl:if test="*/common/checkeddeposit='Y'">
  <div id="suppMentary" class="global_main pagebreak">
    <table class="w100">
      <colgroup>
        <col style="width:25%" />
        <col style="width:25%" />
        <col style="width:25%;" />
        <col style="width:25%" />
      </colgroup>

      <thead>
        <tr>
          <th colspan="4" style="text-align: center; width: 100%; padding-bottom: 10px;">
            <strong>SUPPLEMENTARY POLICY ILLUSTRATION</strong>
          </th>
        </tr>

        <tr>
          <td class="vtop b tleft">Proposal on the life of</td>
          <td class="vtop b tleft">:
            <xsl:value-of select="*/cover/insured/name" />
          </td>
          <td class="vtop b tright" style="padding-right: 10px;">Date</td>
          <td class="vtop b tleft">:
            <xsl:value-of select="*/common/genDate" />
          </td>
        </tr>

        <tr>
          <td class="vtop b tleft">Gender</td>
          <td class="vtop b tleft">:
            <xsl:value-of select="*/cover/insured/gender" /> (
            <xsl:value-of select="*/cover/insured/smoking" />)</td>
          <td class="vtop b tright" style="padding-right: 10px;">Age</td>
          <td class="vtop b tleft">:
            <xsl:value-of select="*/cover/insured/age" /> (as at
            <xsl:value-of select="*/cover/riskCommenDate" />)</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td class="vtop b tright" style="padding-right: 10px;">Re-deposit Option</td>
          <td class="vtop b tleft">:
            <xsl:value-of select="*/common/deposit" />
          </td>
        </tr>
        <tr style="border-bottom: solid 1pt black">
          <td colspan="4">
            <br/>
          </td>
        </tr>
        <tr>
          <td colspan="4">
            <br/>
          </td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="4">
            <div id="pageDB">
              <span class="vtop tleft">The following tables of values relate to the basic policy plan - AXA Retire Treasure.</span >
                        <br/><br/>
                        <table class="w100">
                            <colgroup>
                                <col style="width:13.7%" />
                                <col style="width:12.3%" />
                                <col style="width:15.2%" />
                                <col style="width:14.7%" />
                                <col style="width:14.7%" />
                                <col style="width:14.7%" />
                                <col style="width:14.7%" />
                            </colgroup>

                            <thead>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th colspan="5" class="bgblack tcwhite">DEATH BENEFIT</th>
                                </tr>


                                <tr>
                                    <th class="vtop pd2" rowspan="2">
                                       End of<br/>Policy
                                        <br/>Year/Age
                                    </th>
                                    <th class="vtop pd2" rowspan="2">
                                       Total<br/>Premiums
                                        <br/>Paid To-Date
                                    </th>

                                    <th class="vtop pd2">
                                        Guaranteed
                                    </th>

                                    <th colspan="2" class="vtop pd2">
                                        Illustrated at
                                        <br/>
                                        <xsl:value-of select="*/common/lowIRR" />% Investment Return
                                    </th>

                                    <th colspan="2" class="vtop pd2">
                                        Illustrated at
                                        <br/>
                                        <xsl:value-of select="*/common/highIRR" />% Investment Return
                                    </th>
                                </tr>

                                <tr>
                                    <th></th>
                                    <th class="vtop pd2">
                                        Non-Guaranteed
                                    </th>
                                    <th class="vtop pd2">
                                        Total
                                    </th>
                                    <th class="vtop pd2">
                                        Non-Guaranteed
                                    </th>
                                    <th class="vtop pd2">
                                        Total
                                    </th>
                                </tr>

                                <tr>
                                    <th></th>
                                    <th class="vtop pd2">(S$)</th>
                                    <th class="vtop pd2">(S$)</th>
                                    <th class="vtop pd2">(S$)</th>
                                    <th class="vtop pd2">(S$)</th>
                                    <th class="vtop pd2">(S$)</th>
                                    <th class="vtop pd2">(S$)</th>
                                </tr>
                            </thead>

                            <tbody>
                                <xsl:for-each select="*/illustrationSup/deathBenefit">
                                    <tr>
                                        <td class="tdCol">
                                            <xsl:value-of select="policyYearAge" />
                                        </td>
                                        <td class="tdCol">
                                            <xsl:value-of select="premiumsPaidToDate" />
                                        </td>
                                        <td class="tdCol">
                                            <xsl:value-of select="guaranteed" />
                                        </td>
                                        <td class="tdCol">
                                            <xsl:value-of select="nonGuaranteedLow" />
                                        </td>
                                        <td class="tdCol">
                                            <xsl:value-of select="totalLow" />
                                        </td>
                                        <td class="tdCol">
                                            <xsl:value-of select="nonGuaranteedHigh" />
                                        </td>
                                        <td class="tdCol">
                                            <xsl:value-of select="totalHigh" />
                                        </td>
                                    </tr>
                                </xsl:for-each>
                            </tbody>
                        </table>
                        <div class="sectionSpace" />
                        <p>If you have chosen to re-deposit the Guaranteed Annual Income with AXA, the above assumes the re-deposited Guaranteed Annual Income will earn interest (whose rate is non-guaranteed). Under the Illustrated Investment Rate of Return of 4.75% p.a., the re-deposited Guaranteed Annual Income will earn 3.00% p.a. or 1.50% p.a under the Illustrated Investment Rate of Return of 3.25% p.a. The interest rate is non-guaranteed and is reviewed as often as AXA deems necessary.
                        </p>
                    </div>

  








                  <div id="pageSV" class="pagebreak">
<span class="vtop tleft">The following tables of values relate to the basic policy plan - AXA Retire Treasure.</span >
                        <br/><br/>
                        <table class="w100">
                            <colgroup>
                                <col style="width:13.7%" />
                                <col style="width:12.3%" />
                                <col style="width:15.2%" />
                                <col style="width:14.7%" />
                                <col style="width:14.7%" />
                                <col style="width:14.7%" />
                                <col style="width:14.7%" />
                            </colgroup>

                            <thead>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th colspan="5" class="bgblack tcwhite">SURRENDER VALUE</th>
                                </tr>

                                <tr>
                                    <th class="vtop pd2" rowspan="2">
                                        End of<br/>Policy
                                        <br/>Year/Age
                                    </th>

                                    <th class="vtop pd2" rowspan="2">
                                        Total<br/>Premiums
                                        <br/>Paid To-Date
                                    </th>

                                    <th class="vtop pd2">
                                        Guaranteed
                                    </th>

                                    <th colspan="2" class="vtop pd2">
                                        Illustrated at
                                        <br/>
                                        <xsl:value-of select="*/common/lowIRR" />% Investment Return
                                    </th>

                                    <th colspan="2" class="vtop pd2">
                                        Illustrated at
                                        <br/>
                                        <xsl:value-of select="*/common/highIRR" />% Investment Return
                                    </th>
                                </tr>

                                <tr>
                                    <th></th>
                                    <th class="vtop pd2">
                                        Non-Guaranteed
                                    </th>
                                    <th class="vtop pd2">
                                        Total
                                    </th>
                                    <th class="vtop pd2">
                                        Non-Guaranteed
                                    </th>
                                    <th class="vtop pd2">
                                        Total
                                    </th>
                                </tr>

                                <tr>
                                    <th></th>
                                    <th class="vtop pd2">(S$)</th>
                                    <th class="vtop pd2">(S$)</th>
                                    <th class="vtop pd2">(S$)</th>
                                    <th class="vtop pd2">(S$)</th>
                                    <th class="vtop pd2">(S$)</th>
                                    <th class="vtop pd2">(S$)</th>
                                </tr>
                            </thead>

                            <tbody>
                                <xsl:for-each select="*/illustrationSup/surrenderValue">
                                    <xsl:choose>
                                        <xsl:when test="position() != last()">
                                            <tr>
                                                <td class="tdCol">
                                                    <xsl:value-of select="policyYearAge" />
                                                </td>
                                                <td class="tdCol">
                                                    <xsl:value-of select="premiumsPaidToDate" />
                                                </td>
                                                <td class="tdCol">
                                                    <xsl:value-of select="guaranteed" />
                                                </td>
                                                <td class="tdCol">
                                                    <xsl:value-of select="nonGuaranteedLow" />
                                                </td>
                                                <td class="tdCol">
                                                    <xsl:value-of select="totalLow" />
                                                </td>
                                                <td class="tdCol">
                                                    <xsl:value-of select="nonGuaranteedHigh" />
                                                </td>
                                                <td class="tdCol">
                                                    <xsl:value-of select="totalHigh" />
                                                </td>
                                            </tr>
                                        </xsl:when>
                                     </xsl:choose>
                                </xsl:for-each>
                            </tbody>
                        </table>


<!-- The last row is for Maturity value-->
<table class="w100">
                            <colgroup>
                                <col style="width:13.7%" />
                                <col style="width:12.3%" />
                                <col style="width:15.2%" />
                                <col style="width:14.7%" />
                                <col style="width:14.7%" />
                                <col style="width:14.7%" />
                                <col style="width:14.7%" />
                            </colgroup>

                            <thead>
 <tr style="vertical-align: text-top;">
                                    <th colspan="7">
                                        <br/>
                                    </th>
                                </tr>

                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th colspan="5" class="bgblack tcwhite">MATURITY VALUE</th>
                                </tr>

                                <tr>
                                    <th class="vtop pd2" rowspan="2">
                                        End of<br/>Policy
                                        <br/>Year/Age
                                    </th>

                                    <th class="vtop pd2" rowspan="2">
                                        Total<br/>Premiums
                                        <br/>Paid To-Date
                                    </th>

                                    <th class="vtop pd2">
                                        Guaranteed
                                    </th>

                                    <th colspan="2" class="vtop pd2">
                                        Illustrated at
                                        <br/>
                                        <xsl:value-of select="*/common/lowIRR" />% Investment Return
                                    </th>

                                    <th colspan="2" class="vtop pd2">
                                        Illustrated at
                                        <br/>
                                        <xsl:value-of select="*/common/highIRR" />% Investment Return
                                    </th>
                                </tr>

                                <tr>
                                    <th></th>
                                    <th class="vtop pd2">
                                        Non-Guaranteed
                                    </th>
                                    <th class="vtop pd2">
                                        Total
                                    </th>
                                    <th class="vtop pd2">
                                        Non-Guaranteed
                                    </th>
                                    <th class="vtop pd2">
                                        Total
                                    </th>
                                </tr>

                                <tr>
                                    <th></th>
                                    <th class="vtop pd2">(S$)</th>
                                    <th class="vtop pd2">(S$)</th>
                                    <th class="vtop pd2">(S$)</th>
                                    <th class="vtop pd2">(S$)</th>
                                    <th class="vtop pd2">(S$)</th>
                                    <th class="vtop pd2">(S$)</th>
                                </tr>
                            </thead>

                            <tbody>
<xsl:for-each select="*/illustrationSup/surrenderValue">
                                    <xsl:choose>
                                        <xsl:when test="position() != last()"></xsl:when>
                                        <xsl:otherwise> 
                                            <tr>
                                                <td class="tdCol">
                                                    <xsl:value-of select="policyYearAge" />
                                                </td>
                                                <td class="tdCol">
                                                    <xsl:value-of select="premiumsPaidToDate" />
                                                </td>
                                                <td class="tdCol">
                                                    <xsl:value-of select="guaranteed" />
                                                </td>
                                                <td class="tdCol">
                                                    <xsl:value-of select="nonGuaranteedLow" />
                                                </td>
                                                <td class="tdCol">
                                                    <xsl:value-of select="totalLow" />
                                                </td>
                                                <td class="tdCol">
                                                    <xsl:value-of select="nonGuaranteedHigh" />
                                                </td>
                                                <td class="tdCol">
                                                    <xsl:value-of select="totalHigh" />
                                                </td>
                                            </tr>
                                        </xsl:otherwise>
                                     </xsl:choose>
                                </xsl:for-each>
                            </tbody>
                        </table>                
                        
                        
                                                <br/>
                        <div>
                            If you have chosen to re-deposit the Guaranteed Annual Income with AXA, the above assumes the re-deposited Guaranteed Annual Income will earn interest (whose rate is non-guaranteed). Under the Illustrated Investment Rate of Return of 4.75% p.a., the re-deposited Guaranteed Annual Income will earn 3.00% p.a. or 1.50% p.a under the Illustrated Investment Rate of Return of 3.25% p.a. The interest rate is non-guaranteed and is reviewed as often as AXA deems necessary.<br/><br/>
For redeposit option, Maturity Value must be read in conjunction with the Supplementary Policy Illustration (Annual Benefit Payout Schedule).
                        </div>
                    </div>
                    
                    
                    
                    
                    
                                    <div id="pageRI" class="pagebreak">
<span class="vtop tleft">The following tables of values relate to the basic policy plan - AXA Retire Treasure.</span >
                        <br/><br/>
                        <table class="w100">
                            <colgroup>
                                <col style="width:15%" />
                                <col style="width:17%" />
                                <col style="width:17%" />
                                <col style="width:17%" />
                                <col style="width:17%" />
                                <col style="width:17%" />
                            </colgroup>

                            <thead>
                                <tr>
                                    <th></th>
                                    <th colspan="5" class="bgblack tcwhite">ANNUAL BENEFIT PAYOUT SCHEDULE</th>
                                </tr>

                                <tr>
                                    <th class="vtop pd2" rowspan="2">
                                        End of
                                        <br/>Policy
                                        <br/>Year/Age
                                    </th>
                                    <th class="vtop pd2" rowspan="2">
                                        Guaranteed
                                        <br/>Annual
                                        <br/>Benefit Payout
                                    </th>

                                    <th colspan="2" class="vtop pd2">
                                        Illustrated at
                                        <br/>
                                        <xsl:value-of select="*/common/lowIRR" />% Investment Return
                                    </th>

                                    <th colspan="2" class="vtop pd2">
                                        Illustrated at
                                        <br/>
                                        <xsl:value-of select="*/common/highIRR" />% Investment Return
                                    </th>
                                </tr>

                                <tr>
                                    <th class="vtop pd2">
                                        Non-Guaranteed
                                    </th>
                                    <th class="vtop pd2">
                                        Total
                                    </th>
                                    <th class="vtop pd2">
                                        Non-Guaranteed
                                    </th>
                                    <th class="vtop pd2">
                                        Total
                                    </th>
                                </tr>

                                <tr>
                                    <th></th>
                                    <th class="vtop pd2">(S$)</th>
                                    <th class="vtop pd2">(S$)</th>
                                    <th class="vtop pd2">(S$)</th>
                                    <th class="vtop pd2">(S$)</th>
                                    <th class="vtop pd2">(S$)</th>
                                </tr>
                            </thead>

                            <tbody>
                                <xsl:for-each select="*/illustration/retireIncSched">
                                    <tr>
                                        <td class="tdCol">
                                            <xsl:value-of select="policyYearAge" />
                                        </td>
                                        <td class="tdCol">
                                            <xsl:value-of select="guaranteed" />
                                        </td>
                                        <td class="tdCol">
                                            <xsl:value-of select="nonGuaranteedLow" />
                                        </td>
                                        <td class="tdCol">
                                            <xsl:value-of select="totalLow" />
                                        </td>
                                        <td class="tdCol">
                                            <xsl:value-of select="nonGuaranteedHigh" />
                                        </td>
                                        <td class="tdCol">
                                            <xsl:value-of select="totalHigh" />
                                        </td>
                                    </tr>
                                </xsl:for-each>
                            </tbody>
                        </table>
<div class="sectionSpace"/>
 <span class="vtop tleft">If you have chosen to re-deposit the Guaranteed Annual Income with AXA, the above assumes the re-deposited Guaranteed Annual Income will earn interest (whose rate is non-guaranteed). Under the Illustrated Investment Rate of Return of 4.75% p.a., the re-deposited Guaranteed Annual Income will earn 3.00% p.a. or 1.50% p.a under the Illustrated Investment Rate of Return of 3.25% p.a. The interest rate is non-guaranteed and is reviewed as often as AXA deems necessary.</span >                      
                    </div>


    
                </td>
            </tr>
        </tbody>
    </table>
</div>
 </xsl:if>







<xsl:if test="*/basicPlan/hasOptRiders ='1'">
<div class="global_main">
    <table class="w100">
        <colgroup>
            <col style="width:25%" />
            <col style="width:25%" />
            <col style="width:25%;" />
            <col style="width:25%" />
        </colgroup>

        <thead>
            <tr>
                <th colspan="4" style="text-align: center; width: 100%; padding-bottom: 10px;">
                    <strong>SUPPLEMENTARY POLICY ILLUSTRATION</strong>
                </th>
            </tr>

            <tr>
                <td class="vtop b tleft">Proposal on the life of</td>
                <td class="vtop b tleft">:
                    <xsl:value-of select="*/cover/insured/name" />
                </td>
                <td class="vtop b tright" style="padding-right: 10px;">Date</td>
                <td class="vtop b tleft">:
                    <xsl:value-of select="*/common/genDate" /> </td>
            </tr>

            <tr>
                <td class="vtop b tleft">Gender</td>
                <td>:
                    <xsl:value-of select="*/cover/insured/gender" /> (
                    <xsl:value-of select="*/cover/insured/smoking" />)</td>
                <td class="vtop b tright" style="padding-right: 10px;">Age</td>
                <td class="vtop b tleft">:
                    <xsl:value-of select="*/cover/insured/age" /> (as at
                    <xsl:value-of select="*/cover/riskCommenDate" />)</td>
            </tr>
            <tr style="border-bottom: solid 1pt black">
                <td colspan="4">
                    <br/>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <br/>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="4">
                        <div id="pageTDC" class="pagebreak">
                            <span class="vtop b tleft">Policy Illustration of Rider(s)</span >
                           <div class="sectionSpace"/>
<span class="vtop tleft">The following table of values relate to the supplementary benefit(s) selected.</span >
<div class="sectionSpace"/>
                            <span class="vtop b tleft">How much are you paying for distribution costs? </span >
<div class="sectionSpace"/>
<span class="vtop tleft">This table shows the total costs of distribution that AXA expects to incur in relation to your policy, including the cost of any financial advice provided to you.</span >
                            <div class="sectionSpace"/>
                            <table style="width: 55%; margin: auto">
                                <colgroup>
                                    <col style="width:30%" />
                                    <col style="width:35%" />
                                    <col style="width:35%" />

                                </colgroup>

                                <thead>
                                    <tr>
                                       <th></th>
                                        <th colspan="2" class="bgblack tcwhite">Total Distribution Cost</th>
                                    </tr>

                                    <tr>
                                        <th class="vtop pd2">
                                            End of
                                            <br/>Policy
                                            <br/>Year/Age
                                        </th>

                                        <th class="vtop pd2">
                                            Rider Premiums
                                            <br/>Paid To-Date
                                            <br/>(S$)
                                        </th>

                                        <th class="vtop pd2">
                                            Total Distribution
                                            <br/>Cost To-Date
                                            <br/>(S$)
                                        </th>
                                    </tr>

                                </thead>

                                <tbody>
                                    <xsl:for-each select="*/illustrationSup/distributionCost">
                                        <tr>
                                            <td class="tdCol">
                                                <xsl:value-of select="policyYearAge" />
                                            </td>
                                            <td class="tdCol">
                                                <xsl:value-of select="premiumsPaidToDate" />
                                            </td>
                                            <td class="tdCol">
                                                <xsl:value-of select="distributionCost" />
                                            </td>
                                        </tr>
                                    </xsl:for-each>
                                </tbody>
                            </table>
<div class="sectionSpace"/>
<div class="sectionSpace"/>
                  <span class="vtop b tleft">What does the last column represent?</span >
<div class="sectionSpace" />
<span class="vtop tleft">1. The Total Distribution Cost To Date is the sum of each year's expected distribution-related costs, without interest. Such costs include cash payments in the form of commission, costs of benefits and services paid to the distribution channel.</span>
              <div class="sectionSpace" />
              <span class="vtop tleft">2. Please note that the Total Distribution Cost is not an additional cost to you; it has already been allowed for in calculating your premium.</span>
              <div class="sectionSpace" />
              <span class="vtop tleft">3. You can obtain the Total Distribution Cost of each of the supplementary benefits (if applicable) from your Financial Adviser or its representatives.</span>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</xsl:if>