<div style="font-size: 10pt;">
  <div class="global_intro">
    <table>
      <tr>
        <td>
          <div class="tpx_intro-logo"></div>
        </td>
      </tr>
    </table>
  </div>

  <div style="text-align: center; width: 100%;"><strong>MAIN POLICY ILLUSTRATION </strong></div>
  <br/>

  <table class="detailTable" style="border-bottom: solid 1px;">
    <colgroup>
      <col style="width:20%" />
      <col style="width:40%" />
      <col style="width:17%" />
      <col style="width:23%" />
    </colgroup>

    <tr>
      <td>Adviser Name</td>
      <td>:
        <xsl:value-of select="*/agent/name" />
      </td>
      <td>Date</td>
      <td>:
        <xsl:value-of select="*/genDate" />
      </td>
    </tr>
    <tr>
      <td>Adviser Company</td>
      <td>:
        <xsl:value-of select="*/agent/company" />
      </td>
    </tr>
    <tr>
      <td>Adviser Tel</td>
      <td>:
        <xsl:value-of select="*/agent/tel" />
      </td>
    </tr>
    <tr>
      <td>Adviser HP</td>
      <td>:
        <xsl:value-of select="*/agent/mobile" />
      </td>
    </tr>
    <tr>
      <td>Adviser Email</td>
      <td>:
        <xsl:value-of select="*/agent/email" />
      </td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><br/></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>

  </table>

  <br/>

  <table class="w100" style="font-size: 10pt;">
    <colgroup>
      <col style="width:20%" />
      <col style="width:40%" />
      <col style="width:17%" />
      <col style="width:23%" />
    </colgroup>

    <xsl:if test="*/mainInfo/sameAs='N'">
      <tr>
        <td colspan="4"><strong>Proposer Details:</strong></td>
      </tr>

      <tr>
        <td>Name</td>
        <td>:
          <xsl:value-of select="*/mainInfo/pName" />
        </td>
        <td>Gender</td>
        <td>:
          <xsl:value-of select="*/proposerGenderTitle" />
        </td>
      </tr>
      <tr>
        <td>Age</td>
        <td>:
          <xsl:value-of select="*/mainInfo/pAge" /> (as at
          <xsl:value-of select="*/backDate" />)</td>
        <td>Smoking Status</td>
        <td>:
          <xsl:value-of select="*/proposerSmokerTitle" />
        </td>
      </tr>
      <tr>
        <td>Date of Birth</td>
        <td>:
          <xsl:value-of select="*/proposerDob" />
        </td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Country of Residence</td>
        <td>:
          <xsl:choose>
            <xsl:when test="*/proposerCountry='Others'">
              <xsl:value-of select="*/proposerCountry" />*
            </xsl:when>
            <xsl:otherwise>
              <xsl:value-of select="*/proposerCountry" />
            </xsl:otherwise>
          </xsl:choose>
        </td>
        <td></td>
        <td></td>
      </tr>

      <xsl:if test="*/proposerCitySelected='Y'">
        <tr style="height: 10px;">
          <td>City of Residence</td>
          <td colspan="3">:
            <xsl:value-of select="*/proposerCity" />
          </td>
        </tr>
      </xsl:if>

      <xsl:if test="*/pOtherCountry='Y'">
        <tr>
          <td colspan="4">*Individual consideration depending on the country of residency. Application will be subject to underwriting review.
          </td>
        </tr>
      </xsl:if>
    </xsl:if>

    <tr>
      <td colspan="4" style="padding-top: 6px;"><strong>Life Assured Details:</strong></td>
    </tr>

    <tr>
      <td>Name</td>
      <td>:
        <xsl:value-of select="*/mainInfo/name" />
      </td>
      <td>Gender</td>
      <td>:
        <xsl:value-of select="*/insurerGenderTitle" />
      </td>
    </tr>
    <tr>
      <td>Age</td>
      <td>:
        <xsl:value-of select="*/mainInfo/age" /> (as at
        <xsl:value-of select="*/backDate" />)</td>
      <td>Smoking Status</td>
      <td>:
        <xsl:value-of select="*/insurerSmokerTitle" />
      </td>
    </tr>
    <tr>
      <td>Date of Birth</td>
      <td>:
        <xsl:value-of select="*/insurerDob" />
      </td>
      <td>
        <xsl:value-of select="*/occTitle" />
      </td>
      <td>
        <xsl:value-of select="*/occValue" />
      </td>
    </tr>

    <tr>
      <td>Country of Residence</td>
      <td colspan="3">:
        <xsl:choose>
          <xsl:when test="*/proposerCountry='Others'">
            <xsl:value-of select="*/proposerCountry" />*
          </xsl:when>
          <xsl:otherwise>
            <xsl:value-of select="*/proposerCountry" />
          </xsl:otherwise>
        </xsl:choose>
      </td>
    </tr>
    <xsl:if test="*/insurerCitySelected='Y'">
      <tr>
        <td>City of Residence</td>
        <td colspan="3">:
          <xsl:value-of select="*/insurerCity" />
        </td>
      </tr>
    </xsl:if>

    <xsl:if test="*/iOtherCountry='Y'">
      <tr>
        <td colspan="4">*Individual consideration depending on the country of residency. Application will be subject to underwriting review</td>
      </tr>
    </xsl:if>

    <tr>
      <td colspan="4"><br/></td>
    </tr>

    <tr>
      <td>Payment Mode</td>
      <td>:
        <xsl:value-of select="*/paymentModeTitle" />
      </td>
      <td> </td>
      <td> </td>
    </tr>
    <tr>
      <td>Policy Currency</td>
      <td>:
        <xsl:value-of select="*/polCcy" />
      </td>
      <td> </td>
      <td> </td>
    </tr>

    <xsl:if test="*/planType='toAge'">
      <tr style="height: 10px;">
        <td style="height: 10px;">Indexation</td>
        <td style="height: 10px;">:
          <xsl:value-of select="*/indexation" />
        </td>
        <td style="height: 10px;"> </td>
        <td style="height: 10px;"> </td>
      </tr>
    </xsl:if>
  </table>

  <br/>
  <div style="padding-top: 6px;"><strong> Your Plan</strong></div>
  <table style="table-layout: fixed; width: 100%; font-size: 10pt; text-align: right;">
    <tbody>
      <tr style="height: 10px; vertical-align: top;">
        <td class="planName" style="text-align: left;">
          <p><strong>Plan Name </strong></p>
        </td>
        <td class="planNumberPlan">
          <p><strong>Payment Term</strong></p>
        </td>
        <td class="planNumberPlan">
          <p><strong>Policy Term</strong></p>
        </td>
        <td>
          <div><strong>Sum Assured/<br/> Benefit</strong></div>
        </td>
      </tr>
      <xsl:for-each select="*/planFields">
        <tr style="height: 10px;">
          <td style="text-align: left;">
            <xsl:value-of select="planName" />
          </td>
          <td>
            <xsl:value-of select="permTerm" />
          </td>
          <td>
            <xsl:value-of select="policyTerm" />
          </td>
          <td>
            <xsl:value-of select="sumAssured" />
          </td>
        </tr>
      </xsl:for-each>
    </tbody>
  </table>
  <br/>

  <table class="premiumTable">
    <colgroup>
      <col style="width:30%;" />
      <col style="width:20%;" />
      <col style="width:20%;" />
      <col style="width:15%;" />
      <col style="width:15%;" />
    </colgroup>

    <xsl:choose>
      <xsl:when test="*/paymentMode='L'">
        <tr>
          <th colspan="5" class="tleft font13 b">Your Premium</th>
        </tr>
        <tr>
          <th class="font13 b tleft" style="vertical-align:top;">Plan Name</th>
          <th class="font13 b tright"></th>
          <th class="font13 b tright"></th>
          <th class="font13 b tright"></th>
          <th class="font13 b tright">Single<br/>Premium</th>
        </tr>

        <xsl:for-each select="*/planInfos">
          <tr>
            <td class="tleft font13">
              <xsl:value-of select="planName" />
            </td>
            <td class="font13 tright"></td>
            <td class="font13 tright"></td>
            <td class="font13 tright"></td>
            <td class="font13 tright">
              <xsl:value-of select="LPremium" />
            </td>
          </tr>
        </xsl:for-each>

        <tr>
          <td colspan="5"><br/></td>
        </tr>

        <tr>
          <td class="font13 tleft b">Total Premium</td>
          <td class="font13 tright"></td>
          <td class="font13 tright"></td>
          <td class="font13 tright"></td>
          <td class="font13 tright b">
            <xsl:value-of select="*/mainInfo/yearlyPremium" />
          </td>
        </tr>

      </xsl:when>

      <xsl:otherwise>
        <tr>
          <th colspan="5" class="tleft font13 b">Your Premium</th>
        </tr>

        <tr>
          <th class="font13 b tleft" style="vertical-align:top;">Plan Name</th>
          <th class="font13 b tright">Annual<br/>Premium</th>
          <th class="font13 b tright">Semi-Annual<br/>Premium</th>
          <th class="font13 b tright">Quarterly Premium</th>
          <th class="font13 b tright">Monthly Premium</th>
        </tr>

        <xsl:for-each select="*/planInfos">
          <tr>
            <td class="tleft font13">
              <xsl:value-of select="planName" />
            </td>
            <td class="font13 tright" style="vertical-align:top;">
              <xsl:value-of select="APremium" />
            </td>
            <td class="font13 tright" style="vertical-align:top;">
              <xsl:value-of select="HPremium" />
            </td>
            <td class="font13 tright" style="vertical-align:top;">
              <xsl:value-of select="QPremium" />
            </td>
            <td class="font13 tright" style="vertical-align:top;">
              <xsl:value-of select="MPremium" />
            </td>
          </tr>
        </xsl:for-each>

        <tr>
          <td colspan="5"><br/></td>
        </tr>

        <tr>
          <td class="font13 tleft b">Total Premium</td>
          <td class="font13 tright b">
            <xsl:value-of select="*/mainInfo/yearlyPremium" />
          </td>
          <td class="font13 tright b">
            <xsl:value-of select="*/mainInfo/halfYearlyPremium" />
          </td>
          <td class="font13 tright b">
            <xsl:value-of select="*/mainInfo/quarterlyPremium" />
          </td>
          <td class="font13 tright b">
            <xsl:value-of select="*/mainInfo/monthlyPremium" />
          </td>
        </tr>

      </xsl:otherwise>

    </xsl:choose>

  </table>
  <br />


</div>