html {
  -ms-content-zooming: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default; }

.Common__Desktop___zg7x- {
  height: 100vh;
  display: flex;
  min-height: 0px;
  flex-direction: column; }

.Common__width100___oxbBh {
  width: 100%; }

.Common__width75___1Hs2c {
  width: 75%; }

.Common__width50___1b0M4 {
  width: 50%; }

.Common__displayInlineBlock___1X35w {
  display: inline-block; }

.Common__alignLeft___2dP4P {
  text-align: left; }

.Common__alignRight___3MB86 {
  text-align: right; }

.Common__alignCenter___1cxo9 {
  text-align: center; }

.Common__marginAlignCenter___ENdSm {
  margin: 0 auto; }

.Common__SectionPadding___2RVtb {
  padding: 24px; }

.Common__StandardLineHeight___2ozXz {
  line-height: 1.5em; }

.Common__SectionPaddingLeftRight___3R9X1 {
  padding: 0 24px; }

.Common__bold___34dfB {
  font-weight: 500; }

.Common__semiBold___dwlrs {
  font-weight: 500; }

.Common__fontWeight600___2pzSE {
  font-weight: 600; }

.Common__whitefont___3fz3m {
  color: #fafafa; }

.Common__warningFont___3Izj4 {
  color: #e44821; }

.Common__marginBottom___rcKNZ {
  margin-bottom: 24px; }

.Common__marginTop___B_f5P {
  margin-Top: 24px; }

.Common__showOrangeBackgroundColor___Vv526 {
  background: #3C81C4; }

.Common__showGreenBackgroundColor___3223y {
  background: #0c9b32; }

.Common__showRedBackgroundColor___aZwb8 {
  background: darkgray; }

.Common__showPendingApprovalColor___1l6zJ {
  background: #3C81C4; }

.Common__showPendingDocDisColor___YkE0g {
  background: #3C81C4; }

.Common__showInProgressColor___2PZyY {
  background: #aa8200; }

.Common__PanelBackgroundColor___1cfJV {
  background-color: #FAFAFA; }

.Common__NeedsPanelTitleColor___1p9-F {
  color: #3C81C4; }

.Common__ClientChoicePanelTitleColor___3UcNc {
  color: #3C81C4; }

.Common__mandatoryStar___3uEWC {
  color: #e44821;
  font-size: 18px; }

.Common__HeadermandatoryStar___3rZsu {
  color: #e44821;
  font-size: 24px; }

.Common__HeadermandatoryStar___3rZsu::before, .Common__mandatoryStar___3uEWC::before {
  content: " "; }

.Common__QuestionAnsewerPadding___1VkK_ {
  padding: 24px 0px; }

.Common__DialogPaper___2khpM {
  padding-top: 0 !important;
  min-width: 1080px;
  max-width: 1080px !important; }

.Common__DialogPaperShield___1enxG {
  width: 100% !important;
  max-width: 1024px !important; }

@media only screen and (max-width: 1024px) {
  .Common__DialogPaperShield___1enxG {
    max-width: 100% !important; } }

.Common__FixWrongDialogPadding___2ItNl {
  padding-top: 0 !important; }

.Common__PagePadding___t_zKV {
  padding: 24px; }

.Common__ShowMinWidth___I2xR8 {
  min-width: 720px; }

.Common__tuncOnHoldReason___S9-K_ {
  text-overflow: ellipsis;
  overflow: hidden;
  width: calc(100% + 200px);
  white-space: nowrap; }

.Common__mobileTuncOnHoldReason___1_UUI {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  white-space: nowrap; }

.Common__tunc800___3oSyG {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 800px;
  white-space: nowrap; }

.Common__padding12___3QykB {
  padding: 12px; }

.Common__padding12TopBottom___12Ds6 {
  padding: 12px 0px; }

.Common__padding12Top___Tl13l {
  padding-top: 12px; }

.Common__SupportDocContent___3MHRS {
  padding-bottom: 160px; }

.Common__AutoSuggestionFooter___1raZw {
  line-Height: 42px;
  padding: 5px 20px 5px 20px;
  box-shadow: 1px 2px 4px #787878;
  margin: -10px 0 5px 0;
  background: #ededed; }

.Common__lineClamp___FQHEQ:after {
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #f7f7f7 0%) repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  font-weight: bold;
  position: absolute;
  right: 0; }

.Common__lineClamp___FQHEQ {
  height: 2em;
  line-height: 1em;
  overflow: hidden;
  position: relative; }

.Common__PageMaxWidth___WmAU- {
  max-width: 880px; }

.Common__StdLineHeight___2oaEA {
  line-height: 24px; }

[id="ConceptSelling"] img {
  width: 100%;
  height: 100vh; }

label[for="EABTextField"] {
  top: 30px !important; }

.Common__FaqContainer___2GKIr {
  display: inline-block; }
  .Common__FaqContainer___2GKIr .Common__Question___fePN6 {
    color: #3C81C4; }
  .Common__FaqContainer___2GKIr .Common__Answer___2ZN6q {
    margin-top: 4px; }

.Common__LinkProfileDialog___1670x {
  padding: 0px !important;
  overflow-y: auto !important;
  min-height: 500px; }

.Common__ClientProfileDialog___1dvZ_ {
  padding: 48px !important;
  min-height: 500px; }

.Common__FundDialogSize___3UCgA {
  min-height: 500px !important; }

.Common__AdjustFundDialogSize___32UAH {
  min-height: 400px !important; }

.Common__FundDialogSize1___3ArbD {
  min-height: 350px !important; }

.Common__MultiClientProfileDialog___2dnaO {
  padding: 0px !important;
  min-height: 500px; }
  .Common__MultiClientProfileDialog___2dnaO .Common__Title___1-q9Q {
    color: #3C81C4;
    font-size: 16px;
    font-weight: 600; }

.Common__TrustIndividualDialog___1V3rW {
  padding: 24px !important;
  overflow-y: auto !important;
  min-height: 500px; }
  .Common__TrustIndividualDialog___1V3rW .Common__Title___1-q9Q {
    color: #3C81C4;
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 24px; }

.Common__Superscript___2-27K {
  vertical-align: super;
  font-size: smaller; }

.Common__QuotRemark___2u03L {
  padding-top: 16px;
  font-size: 14px; }

.Common__ClientProfileDialog___1dvZ_ .Common__Content___Ofex6, .Common__LinkProfileDialog___1670x .Common__Content___Ofex6 {
  width: calc(100% - 48px);
  padding: 24px;
  overflow-x: hidden; }

.Common__ClientProfileDialog___1dvZ_ .Common__Section___3EA0P, .Common__LinkProfileDialog___1670x .Common__Section___3EA0P {
  padding-bottom: 24px; }

.Common__ClientProfileDialog___1dvZ_ .Common__Title___1-q9Q, .Common__LinkProfileDialog___1670x .Common__Title___1-q9Q {
  color: #3C81C4;
  font-size: 16px;
  font-weight: 600; }

div[id="disablePanel"] * {
  cursor: no-drop !important;
  pointer-events: none !important; }

.Common__ClientChoicePanel___3nLZk {
  padding: 0px 24px;
  background-color: #FAFAFA; }
  .Common__ClientChoicePanel___3nLZk [id="CardinColView"] [id="ReadOnlyField"] {
    height: 100% !important; }
  .Common__ClientChoicePanel___3nLZk [id="CardinRowView"] [id="ReadOnlyField"] [id="SingleLabel"] {
    color: #333333 !important; }

.Common__Page___1HHc- {
  display: flex;
  min-height: 0px;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  width: 100%;
  background-color: #FFFFFF;
  position: sticky;
  overflow: hidden; }
  .Common__Page___1HHc- .Common__Toolbar___FdNTj {
    background-color: #FFFFFF !important;
    text-align: center;
    width: 100%;
    padding: 12px 0 !important;
    position: static; }
    .Common__Page___1HHc- .Common__Toolbar___FdNTj .Common__SubTitle___2pZOs {
      font-size: 16px;
      color: rgba(0, 0, 0, 0.54) !important; }
    .Common__Page___1HHc- .Common__Toolbar___FdNTj .Common__ToolbarTitle___1nXPS {
      font-size: 20px; }
  .Common__Page___1HHc- .Common__Content___Ofex6 {
    width: 100%;
    flex: 1;
    overflow: hidden;
    display: flex;
    min-height: 0px;
    flex-direction: column;
    align-items: center; }
    .Common__Page___1HHc- .Common__Content___Ofex6 .Common__Form___tHsEY {
      position: relative;
      flex: 1;
      width: 100%;
      overflow-y: auto;
      padding-bottom: 100px; }
    .Common__Page___1HHc- .Common__Content___Ofex6 .Common__Section___3EA0P > div {
      vertical-align: top; }
    .Common__Page___1HHc- .Common__Content___Ofex6 .Common__Section___3EA0P {
      width: calc(100% - 24px);
      max-width: 960px;
      position: relative;
      margin: 0 auto;
      text-align: left;
      padding: 24px 0px 0px 24px; }
      .Common__Page___1HHc- .Common__Content___Ofex6 .Common__Section___3EA0P .Common__SectionTitle___3QyGY {
        font-weight: 300;
        left: 24px;
        color: rgba(0, 0, 0, 0.87);
        display: block;
        height: 40;
        line-height: 40px; }
      .Common__Page___1HHc- .Common__Content___Ofex6 .Common__Section___3EA0P .Common__Controls___3xWJs {
        display: inline-block;
        position: absolute;
        top: 14px;
        right: 24px; }
      .Common__Page___1HHc- .Common__Content___Ofex6 .Common__Section___3EA0P .Common__Title___1-q9Q {
        font-size: 20px;
        display: flex;
        min-height: 0px;
        font-weight: 300;
        height: 64px;
        align-items: center; }
    .Common__Page___1HHc- .Common__Content___Ofex6 .Common__Footer___3O8HY {
      position: relative;
      width: 100%;
      height: 64px; }

/********* Title, sub-Title, Standard Display ****************************/
p[id="warningnote"] {
  padding: 0px;
  line-height: 16px; }

.Common__TextTitleFontSize___kW-Yt {
  font-size: 20px; }

.Common__PriorityTextTitle___QvLeO {
  color: #333333;
  font-size: 20px;
  text-align: center; }

.Common__TextTitle___1pxnw {
  color: #333333;
  font-size: 20px;
  white-space: pre-wrap; }

.Common__subTextTitle___1_vnM {
  color: #7f7f7f; }

.Common__SubTitle___2pZOs {
  font-size: 14px;
  padding: 8px 0;
  color: #333333; }

.Common__CashFlowItemDesc___3eYDb {
  height: 24px;
  line-height: 24px;
  font-size: 20px;
  color: #3C81C4;
  font-weight: 500;
  width: 100%;
  text-align: left;
  padding-left: 12px;
  padding-top: 12px; }

.Common__CashFlowItemErrorDesc___eHHlU {
  height: 24px;
  line-height: 24px;
  color: #e44821;
  text-align: left;
  padding-left: 12px; }

.Common__SubContent___274D0 {
  color: #7f7f7f !important; }

.Common__ShowPrimaryBlueColor___FuJpb {
  color: #3C81C4; }

.Common__ShowGreenColor___1u_Zd {
  color: #1cc54e; }

.Common__ShowAlertColor___25Odx {
  color: #e44821; }

.Common__ShowSubContentColor___1YxwF {
  color: #7f7f7f; }

.Common__NonInputRedNum___4q6gV {
  color: #e44821;
  font-size: 18px; }

.Common__NonInputGreenNum___Eczlz {
  color: #1cc54e;
  font-size: 18px; }

.Common__NonInputBlueNum___2LuoP {
  color: #3C81C4;
  font-size: 24px; }

.Common__NonInputValue___2lo85 {
  color: #333333;
  font-size: 24px;
  font-weight: 700; }

.Common__NonInputValue1___2B_ZP {
  color: #333333;
  font-size: 18px;
  font-weight: 700; }

.Common__PageSectionTitle___3DgvH {
  font-size: 24px;
  margin: 16px;
  text-align: center;
  font-weight: 600; }

.Common__QTitle___1W-Ny {
  font-size: 16px;
  color: #333333;
  text-align: left;
  margin: 12px 0px; }

.Common__headerTitle___C9LqP + .Common__Divider___3Okio {
  margin-bottom: 24px; }

.Common__headerTitleAlignLeftContainer___1aS_t {
  display: flex;
  min-height: 0px;
  justify-content: flex-start;
  align-items: initial; }

.Common__RbCbheaderTitleAlignLeftContainer___1Dbf3 {
  display: flex;
  min-height: 0px;
  padding: 8px 0px;
  justify-content: flex-start;
  align-items: initial; }

.Common__RbheaderTitleAlignLeft___mkef2 {
  color: #333333;
  font-size: 16px;
  line-height: 16px; }

.Common__leftheaderTitleContainer____DAQA {
  align-items: center;
  justify-content: flex-start;
  display: flex;
  min-height: 0px; }

.Common__headerTitleContainer___1feFU {
  align-items: center;
  justify-content: center;
  display: flex;
  min-height: 0px;
  margin: 10px 0 -10px 0; }

.Common__TitleContentContainer___2N2p6 {
  display: inline-block;
  padding: 0 24px;
  width: 100%; }

.Common__NoPaddingheaderTitleContainer___1LNpg {
  align-items: center;
  justify-content: center;
  display: flex;
  min-height: 0px; }

.Common__NoPaddingheaderTitle___3KU73 {
  color: #3C81C4;
  font-size: 20px;
  font-weight: 500; }

.Common__headerTitleStyle___11FHh {
  color: #3C81C4;
  font-size: 18px;
  padding: 18px 0px;
  font-weight: 500; }

.Common__NetWorthLeftHeader___3etYh {
  color: #3C81C4;
  font-size: 20px;
  width: 100%;
  padding-left: 8px;
  padding-bottom: 8px; }

.Common__NetWorthRightHeader___2SST3 {
  color: #3C81C4;
  font-size: 20px;
  width: 100%;
  padding-right: 16px;
  padding-bottom: 8px;
  text-align: right; }

.Common__alignCenterheaderTitleStyle___3Dsu9 {
  color: #3C81C4;
  font-size: 20px;
  padding: 24px 0px;
  font-weight: 500;
  text-align: center; }

.Common__tUnderLine___VaqYD {
  position: relative; }

.Common__tUnderLine___VaqYD:hover .Common__tHover___1jPuP {
  display: inline; }

.Common__tHover___1jPuP {
  display: none; }

.Common__Description___EvIDB {
  font-size: 20px;
  line-height: 34px; }

.Common__TitleContainer___3zQWF {
  padding-bottom: 24px; }

.Common__TextSelectionTitle___wZ2wK {
  font-size: 16px;
  line-height: 20px;
  margin: 12px; }

.Common__TextSelectionBoldTitle___27KRy {
  font-size: 16px;
  line-height: 20px;
  margin: 12px;
  font-weight: 600; }

/*********  Title, sub-Title, Standard Display  ****************************/
/********* Items, Icon, Fields Style ****************************/
.Common__SmallIcon___2DtRW {
  flex-basis: 64px;
  justify-content: center; }

.Common__LargeIcon___2J2xQ {
  flex-basis: 84px;
  justify-content: center; }

.Common__LensIconText___1MCy3 {
  color: #FFFFFF;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 24px; }

.Common__Slider___3BvR6 {
  flex-basis: 560px; }

.Common__SliderIcon___2g2VX {
  height: 24px;
  width: auto;
  align-self: flex-end;
  margin: 0px 16px 12px 16px; }

.Common__CompanyIntro___yIg3_ {
  display: flex;
  min-height: 0px;
  justify-content: center;
  text-align: center;
  overflow: auto; }
  .Common__CompanyIntro___yIg3_ .Common__IntroContainer___1JFvC {
    padding-top: 24px;
    max-width: 880px;
    width: 90%; }
    .Common__CompanyIntro___yIg3_ .Common__IntroContainer___1JFvC .Common__IntroImg___26-7y {
      margin: 0 auto;
      max-height: 40vh;
      height: 400px; }
    .Common__CompanyIntro___yIg3_ .Common__IntroContainer___1JFvC .Common__IntroText___2xmPd {
      margin: 0 auto;
      padding: 24px 0 120px;
      line-height: 20px; }

.Common__TextField___F1Kie input, .Common__Popover___3AOGv input {
  margin: 0px !important; }

.Common__Box___2Beu8 {
  width: 100%;
  display: inline-block;
  position: relative; }
  .Common__Box___2Beu8 .Common__DetailsItem___1QtBp.Common__Field25___2hitH {
    width: calc(25% - 24px) !important; }
    .Common__Box___2Beu8 .Common__DetailsItem___1QtBp.Common__Field25___2hitH .Common__ColumnField___WJwpD {
      min-width: 50px !important; }
  .Common__Box___2Beu8 .Common__DetailsItem___1QtBp.Common__Field75___n-KxN {
    width: calc(75% - 24px) !important; }

.Common__DetailsItem___1QtBp.Common__h12box___1Aep3 {
  height: auto !important; }

.Common__Column1___3lEcj > .Common__Field___-uUD_, .Common__Column1___3lEcj > .Common__DetailsItem___1QtBp {
  width: calc(100% - 24px) !important; }

.Common__Column1___3lEcj > .Common__DetailsItem___1QtBp.Common__h12box___1Aep3, .Common__Column1___3lEcj > .Common__Box___2Beu8 {
  width: 100% !important;
  margin-right: 0px; }

.Common__Column2___yrew2 > .Common__Field___-uUD_, .Common__Column2___yrew2 > .Common__DetailsItem___1QtBp {
  width: calc(50% - 24px) !important; }
  .Common__Column2___yrew2 > .Common__Field___-uUD_ .Common__ColumnField___WJwpD, .Common__Column2___yrew2 > .Common__DetailsItem___1QtBp .Common__ColumnField___WJwpD {
    min-width: 150px !important; }

.Common__Column2___yrew2 > .Common__DetailsItem___1QtBp.Common__h12box___1Aep3, .Common__Column2___yrew2 > .Common__Box___2Beu8 {
  width: 50% !important;
  margin-right: 0px; }

.Common__Column3___1PT5h > .Common__Field___-uUD_, .Common__Column3___1PT5h > .Common__DetailsItem___1QtBp {
  width: calc(33.33% - 24px) !important; }
  .Common__Column3___1PT5h > .Common__Field___-uUD_ .Common__ColumnField___WJwpD, .Common__Column3___1PT5h > .Common__DetailsItem___1QtBp .Common__ColumnField___WJwpD {
    min-width: 100px !important; }

.Common__Column3___1PT5h .Common__DetailsItem___1QtBp.Common__h12box___1Aep3, .Common__Column3___1PT5h > .Common__Box___2Beu8 {
  width: 33.3% !important;
  margin-right: 0px; }

.Common__Column4___1TpT1 > .Common__Field___-uUD_, .Common__Column4___1TpT1 > .Common__DetailsItem___1QtBp {
  width: calc(25% - 24px) !important; }
  .Common__Column4___1TpT1 > .Common__Field___-uUD_ .Common__ColumnField___WJwpD, .Common__Column4___1TpT1 > .Common__DetailsItem___1QtBp .Common__ColumnField___WJwpD {
    min-width: 100px !important; }

.Common__Column4___1TpT1 .Common__DetailsItem___1QtBp.Common__h12box___1Aep3, .Common__Column4___1TpT1 > .Common__Box___2Beu8 {
  width: 25% !important;
  margin-right: 0px; }

.Common__Field___-uUD_, .Common__DetailsItem___1QtBp {
  width: calc(100% - 24px) !important;
  margin-right: 24px;
  height: 80px;
  display: inline-block;
  vertical-align: top; }
  .Common__Field___-uUD_ .Common__ColumnField___WJwpD, .Common__Field___-uUD_ .Common__Input___1ddoa, .Common__DetailsItem___1QtBp .Common__ColumnField___WJwpD, .Common__DetailsItem___1QtBp .Common__Input___1ddoa {
    height: 80px !important;
    width: 100% !important;
    background-color: null;
    vertical-align: top; }
  .Common__Field___-uUD_ .Common__HalfColumn___2ydq7, .Common__DetailsItem___1QtBp .Common__HalfColumn___2ydq7 {
    width: 50% !important; }

.Common__ROPDetailsItem___2uUDc {
  width: calc(100% - 24px) !important;
  margin-right: 24px;
  height: 60px;
  display: inline-block;
  vertical-align: top; }
  .Common__ROPDetailsItem___2uUDc .Common__ColumnField___WJwpD, .Common__ROPDetailsItem___2uUDc .Common__Input___1ddoa {
    height: 64px !important;
    width: 100% !important;
    background-color: null;
    vertical-align: top; }

.Common__DetailsItemCountryCode___8NVOg {
  width: 35px !important;
  margin-right: 0 !important;
  height: 80px;
  display: inline-block;
  vertical-align: top; }

.Common__DetailsItem___1QtBp.Common__TextField___F1Kie .Common__ColumnField___WJwpD {
  margin-top: 0px !important; }

.Common__DetailsItem___1QtBp.Common__AutoHeight___2h5ql {
  height: auto !important; }

.Common__SwitchField___KpjRC {
  width: calc(100% - 24px) !important;
  margin-right: 24px;
  height: auto !important; }

.Common__ReadOnlyFieldRootinOneRow___Adnp1 {
  height: 36px;
  position: relative;
  display: flex;
  min-height: 0px;
  flex-Direction: column;
  justify-Content: center; }

.Common__ReadOnlyFieldRoot___3SCUE {
  height: 72px;
  position: relative;
  display: flex;
  min-height: 0px;
  flex-Direction: column;
  justify-Content: center; }

.Common__ReadOnlyFieldTitleStyle___2vv-T {
  white-Space: nowrap;
  overflow: hidden;
  text-Overflow: ellipsis; }

.Common__ReadOnlyFieldFloatingLabel___XcP0x {
  line-height: 24px;
  top: 32px;
  bottom: none;
  opacity: 1;
  white-space: nowrap;
  transform-Origin: left top;
  width: 100%;
  display: inline-block; }

.Common__ReadOnlyFieldFloatingLabel___XcP0x, .Common__hboxLabel___1pRTZ {
  position: absolute;
  line-height: 24px;
  height: 24px;
  top: 28px;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  z-index: 1;
  transform: scale(0.75) translate(0px, -28px);
  transform-origin: left top 0px;
  pointer-events: none;
  user-select: none;
  white-space: nowrap;
  font-size: 18px; }

.Common__ReadOnlyFieldLabel___1Cipv {
  padding-left: 0px;
  margin-top: 8px;
  display: block;
  position: relative;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  pointer-events: auto;
  user-select: none;
  z-Index: 1;
  line-Height: 24px; }

.Common__ReadOnlyFieldLabelBlk___2Hb2u {
  display: block;
  margin-bottom: 30px; }

.Common__ReadOnlyLabel___1h3Rb {
  padding-left: 0px;
  display: block;
  position: relative;
  width: 100%;
  pointer-events: auto;
  user-select: none;
  z-Index: 1;
  line-Height: normal; }

.Common__ReadOnlyLabelInCard___3HZDX {
  padding-left: 0px;
  display: block;
  position: relative;
  width: 100%;
  pointer-events: auto;
  user-select: none;
  z-Index: 1;
  font-weight: 600;
  line-height: 24px; }

.Common__ReadOnlyUnderline___3CpFf {
  bottom: 12px;
  border-Style: none none solid;
  border-Width: 1px;
  position: absolute;
  width: 100%;
  margin: 0px;
  border-Color: #cac4c4; }

/********* Items, Icon, Fields Style ****************************/
/********* Footer ****************************/
.Common__FixFooterContainer___1cIg4 {
  position: fixed;
  bottom: 0;
  background-color: #FFFFFF;
  max-height: 100px;
  min-width: 100%;
  box-shadow: 5px 0px 5px #cac4c4;
  left: 0px;
  z-index: 1500;
  display: flex;
  min-height: 0px;
  flex-wrap: wrap;
  justify-content: flex-end; }

@media screen and (max-width: 1024px) {
  .Common__FixFooterContainer___1cIg4 {
    left: 300px;
    min-width: 73%; } }

.Common__FixFooterStyle___2YutW {
  display: flex;
  min-height: 0px;
  justify-content: flex-end;
  align-items: center;
  margin: auto 50px; }

/********* Footer ****************************/
/********* Product, benefit illustration, Quotation ****************************/
/********* React-AutoSuggest ****************************/
.Common__container___8rHbU {
  flex-grow: 1;
  position: relative;
  height: 200px; }

.Common__suggestionsContainerOpen___2iJdM {
  position: absolute;
  margin-Top: 10px;
  margin-Bottom: 30px;
  left: 0;
  right: 0;
  z-index: 1500; }

.Common__suggestion___2rpqw {
  display: block;
  box-shadow: 1px 2px 4px #787878;
  margin: -10px 0 5px 0;
  background: white;
  padding-bottom: 5px; }

.Common__suggestionsList___1cyB2 {
  margin: 10px 0px 0px 0px;
  padding: 0;
  list-style-type: none;
  min-width: 306px; }

.Common__AutoSuggesttextField___1iNM_ {
  width: '100%'; }

.Common__suggestWrap___1wphB {
  white-space: pre-wrap;
  line-height: 24px !important;
  padding: 16px 0;
  max-height: 500px !important; }

.Common__HighlightedParts___3T_be {
  font-weight: 400;
  color: #3C81C4; }

.Common__NotHighlightedParts___U02m9 {
  font-weight: 400; }

/********* React-AutoSuggest ****************************/
.Common__ProductItems___1XiGO {
  margin: 12px 12px 0 12px;
  vertical-align: top;
  width: 200px;
  display: inline-block; }
  .Common__ProductItems___1XiGO img {
    width: 200px; }
  .Common__ProductItems___1XiGO .Common__ProductName___24ZEF {
    width: 100%;
    margin-Top: 8px;
    margin-Bottom: 8px;
    color: #3C81C4; }

.Common__ProductGroup___1sN2N {
  padding: 24px 12px; }
  .Common__ProductGroup___1sN2N .Common__ProductGroupTitleContainer___1IDs2 {
    display: flex;
    min-height: 0px;
    align-items: center;
    justify-content: center; }

.Common__ProductTitle___1msAD {
  font-weight: bold;
  color: #3C81C4; }

.Common__ProductSmMarginTop___33Drc {
  margin-top: 12px; }

.Common__ProductLgMarginTop___1Ji8b {
  margin-top: 32px; }

.Common__RiderDialog___1FOgO {
  height: 2px;
  width: 100%;
  background: #7f7f7f; }

.Common__ClientInfoContainer___2x8S6 {
  display: inline-block; }
  .Common__ClientInfoContainer___2x8S6 .Common__RoleTitle___L3MCm {
    color: #333333;
    font-size: 14px;
    font-weight: bold; }
  .Common__ClientInfoContainer___2x8S6 .Common__PhotoText___2FPM5 {
    margin-top: 16px;
    display: flex;
    min-height: 0px;
    align-items: center; }
    .Common__ClientInfoContainer___2x8S6 .Common__PhotoText___2FPM5 .Common__ClientInfo___3A1yn {
      display: inline-block;
      margin-left: 24px; }
      .Common__ClientInfoContainer___2x8S6 .Common__PhotoText___2FPM5 .Common__ClientInfo___3A1yn .Common__FullName___1O9Vi {
        color: #3C81C4; }
      .Common__ClientInfoContainer___2x8S6 .Common__PhotoText___2FPM5 .Common__ClientInfo___3A1yn .Common__Others___2ESLV {
        margin-top: 4px; }

.Common__ShieldInsuredInfo___2bVAq {
  display: inline-block;
  margin-top: 3px;
  align-items: center; }
  .Common__ShieldInsuredInfo___2bVAq .Common__FullName___1O9Vi {
    color: #3C81C4;
    margin-right: 10px; }
  .Common__ShieldInsuredInfo___2bVAq .Common__Others___2ESLV {
    margin-top: 4px; }

.Common__Quotation___2WyDF {
  height: 100%;
  display: flex;
  min-height: 0px;
  flex-direction: column;
  background: #FFFFFF; }
  .Common__Quotation___2WyDF .Common__QuotationContent___SXBg- {
    margin: 24px auto;
    max-width: 1080px; }
    .Common__Quotation___2WyDF .Common__QuotationContent___SXBg- .Common__QuotBtns___15n32 {
      text-align: right;
      margin-top: 24px; }
    .Common__Quotation___2WyDF .Common__QuotationContent___SXBg- .Common__QuotaionWarning___6_dIB {
      color: #e44821;
      font-weight: 600;
      margin-top: 24px; }
    .Common__Quotation___2WyDF .Common__QuotationContent___SXBg- .Common__RiderBtn___1R82v {
      margin-top: 24px;
      text-align: center; }
  .Common__Quotation___2WyDF .Common__QuotationFooterContainer___2a8np {
    height: 56px;
    z-index: 10; }
    .Common__Quotation___2WyDF .Common__QuotationFooterContainer___2a8np .Common__QuotationFooter___1TU3h {
      height: 100%;
      display: flex;
      min-height: 0px;
      align-items: center;
      text-align: center; }
      .Common__Quotation___2WyDF .Common__QuotationFooterContainer___2a8np .Common__QuotationFooter___1TU3h .Common__QuotationFooterItems___3Iww0 {
        flex: 1;
        font-weight: 600;
        font-size: 16px; }
      .Common__Quotation___2WyDF .Common__QuotationFooterContainer___2a8np .Common__QuotationFooter___1TU3h .Common__QuotationFooterItem___11h_U {
        padding-left: calc(100vw / 10);
        font-weight: 600; }

.Common__QuotPlanInfoTable___2a5SQ .Common__ColRowBtn___2iJlr {
  width: 48px; }

.Common__QuotPlanInfoTable___2a5SQ .Common__ColPlanName___Q-3Ib {
  width: auto; }

.Common__QuotPlanInfoTable___2a5SQ .Common__ColTermInput___1lXDT {
  width: 160px; }

.Common__QuotPlanInfoTable___2a5SQ .Common__ColNumInput___DaSVG {
  width: 150px; }

.Common__QuotPlanInfoTable___2a5SQ .Common__ColCovClass___2e9q5 {
  width: 140px; }

.Common__QuotPlanInfoTable___2a5SQ .Common__PlanInfoRow___31AdE {
  height: 48px; }
  .Common__QuotPlanInfoTable___2a5SQ .Common__PlanInfoRow___31AdE td {
    vertical-align: top; }
  .Common__QuotPlanInfoTable___2a5SQ .Common__PlanInfoRow___31AdE td.Common__PlanName___25_7A {
    padding-top: 17px; }
  .Common__QuotPlanInfoTable___2a5SQ .Common__PlanInfoRow___31AdE td:first-child {
    padding: 0; }

.Common__QuotPlanInfoTable___2a5SQ .Common__PlanInfoErrorContainer___2rIBD {
  height: 24px;
  text-align: center; }
  .Common__QuotPlanInfoTable___2a5SQ .Common__PlanInfoErrorContainer___2rIBD .Common__PlanInfoErrorContent___3tvin {
    vertical-align: middle;
    color: #e44821; }
  .Common__QuotPlanInfoTable___2a5SQ .Common__PlanInfoErrorContainer___2rIBD .Common__PlanInfoHintContent___25-yw {
    vertical-align: middle;
    color: #3C81C4; }

.Common__QuotPlanIllTable___3A3rs .Common__ColRowBtn___2iJlr {
  width: 48px; }

.Common__QuotPlanIllTable___3A3rs .Common__ColPlanName___Q-3Ib {
  width: auto; }

.Common__QuotPlanIllTable___3A3rs .Common__ColSA___2glhn {
  width: 140px; }

.Common__QuotPlanIllTable___3A3rs .Common__ColPrem___1_K8D {
  width: 170px; }

.Common__QuotPlanIllTable___3A3rs .Common__PlanInfoRow___31AdE {
  height: 48px; }
  .Common__QuotPlanIllTable___3A3rs .Common__PlanInfoRow___31AdE td {
    height: 48px;
    vertical-align: middle; }
  .Common__QuotPlanIllTable___3A3rs .Common__PlanInfoRow___31AdE td:first-child {
    padding: 0; }

.Common__QuotPlanIllTable___3A3rs .Common__PlanInfoccyColStyle___3R1Mg {
  padding: 0 24px;
  text-align: right; }

.Common__ShieldPlanTable___uJnu4 .Common__ColRowBtn___2iJlr {
  width: 48px; }

.Common__ShieldPlanTable___uJnu4 .Common__ColPlanName___Q-3Ib {
  width: auto; }

.Common__ShieldPlanTable___uJnu4 .Common__ColInput___awwek {
  width: 180px; }

.Common__ShieldPlanTable___uJnu4 .Common__PlanInfoRow___31AdE {
  height: 48px; }
  .Common__ShieldPlanTable___uJnu4 .Common__PlanInfoRow___31AdE td {
    vertical-align: top; }
  .Common__ShieldPlanTable___uJnu4 .Common__PlanInfoRow___31AdE td.Common__PlanName___25_7A {
    padding-top: 17px; }
  .Common__ShieldPlanTable___uJnu4 .Common__PlanInfoRow___31AdE td:first-child {
    padding: 0; }

.Common__QuotTable___2uR_h {
  width: 100%;
  box-shadow: #9c9c9c 1px 1px 4px; }
  .Common__QuotTable___2uR_h thead {
    font-size: 12px; }
    .Common__QuotTable___2uR_h thead tr {
      background-color: rgba(60, 129, 196, 0.07);
      border-bottom: 1px solid #bbbbbb;
      height: 56px; }
      .Common__QuotTable___2uR_h thead tr th {
        vertical-align: middle;
        font-weight: bold;
        color: #3C81C4;
        padding: 0 18px;
        text-align: left; }
      .Common__QuotTable___2uR_h thead tr th.Common__ColRight___2Nbjc {
        text-align: right; }
  .Common__QuotTable___2uR_h tbody {
    font-size: 13px; }
    .Common__QuotTable___2uR_h tbody tr td {
      padding: 0 18px; }
    .Common__QuotTable___2uR_h tbody tr.Common__GroupHeader___2YV3V {
      height: 24px;
      background-color: #ededed;
      border-bottom: 1px solid #bbbbbb;
      height: 24px; }
      .Common__QuotTable___2uR_h tbody tr.Common__GroupHeader___2YV3V td {
        vertical-align: middle;
        font-weight: 600; }
    .Common__QuotTable___2uR_h tbody tr.Common__GroupFooter___bNgtP {
      height: 48px;
      border-top: 1px solid #bbbbbb; }
      .Common__QuotTable___2uR_h tbody tr.Common__GroupFooter___bNgtP td {
        height: 24px;
        font-weight: 600; }

.Common__ToolTipTable___3sos7 {
  width: 100%; }
  .Common__ToolTipTable___3sos7 thead {
    font-size: 12px; }
    .Common__ToolTipTable___3sos7 thead tr {
      background-color: rgba(60, 129, 196, 0.07);
      border-bottom: 1px solid #bbbbbb;
      height: 56px; }
      .Common__ToolTipTable___3sos7 thead tr th {
        vertical-align: middle;
        font-weight: bold;
        color: #3C81C4;
        padding: 0 18px;
        text-align: center; }
      .Common__ToolTipTable___3sos7 thead tr td {
        text-align: center; }
  .Common__ToolTipTable___3sos7 tbody {
    font-size: 13px; }
    .Common__ToolTipTable___3sos7 tbody tr td {
      padding: 0 18px;
      text-align: center; }
    .Common__ToolTipTable___3sos7 tbody tr {
      height: 56px;
      background-color: #ededed;
      border-bottom: 1px solid #bbbbbb; }
      .Common__ToolTipTable___3sos7 tbody tr td {
        text-align: center; }

.Common__FundDialog___UA836 {
  width: 100% !important;
  max-width: 1024px !important; }
  .Common__FundDialog___UA836 .Common__InfoContainer___9UaeC {
    display: flex;
    min-height: 0px;
    flex-wrap: wrap;
    align-items: center; }
  .Common__FundDialog___UA836 .Common__InfoContainer___9UaeC .Common__InfoItem___3tg9E {
    width: 50%;
    height: 58px;
    display: flex;
    min-height: 0px;
    align-items: center; }
  .Common__FundDialog___UA836 .Common__InfoContainer___9UaeC .Common__InfoRow___2HBWp {
    width: 100%;
    display: flex;
    min-height: 0px;
    align-items: center; }
  .Common__FundDialog___UA836 .Common__InfoContainer___9UaeC .Common__InfoTitle___1w7qE {
    width: 40%; }
  .Common__FundDialog___UA836 .Common__InfoContainer___9UaeC .Common__InfoValue___1V18s {
    width: 60%; }
  .Common__FundDialog___UA836 .Common__InfoContainer___9UaeC .Common__InfoWithMessage___1_2Xa {
    width: 100%;
    flex-direction: column; }
  .Common__FundDialog___UA836 .Common__SelectedFundList___2kFzu, .Common__FundDialog___UA836 .Common__AvailableFundList___39X1x {
    margin-top: 12px;
    table-layout: fixed; }
    .Common__FundDialog___UA836 .Common__SelectedFundList___2kFzu .Common__FundNameCol___15R8-, .Common__FundDialog___UA836 .Common__AvailableFundList___39X1x .Common__FundNameCol___15R8- {
      width: 26%; }
    .Common__FundDialog___UA836 .Common__SelectedFundList___2kFzu .Common__ColGroupA___IQpRq, .Common__FundDialog___UA836 .Common__AvailableFundList___39X1x .Common__ColGroupA___IQpRq {
      width: 6%; }
    .Common__FundDialog___UA836 .Common__SelectedFundList___2kFzu .Common__ColGroupB___3pjxl, .Common__FundDialog___UA836 .Common__AvailableFundList___39X1x .Common__ColGroupB___3pjxl {
      width: 17%; }
    .Common__FundDialog___UA836 .Common__SelectedFundList___2kFzu .Common__ColGroupC___WC_IC, .Common__FundDialog___UA836 .Common__AvailableFundList___39X1x .Common__ColGroupC___WC_IC {
      width: 48px; }
    .Common__FundDialog___UA836 .Common__SelectedFundList___2kFzu tbody tr td:last-child, .Common__FundDialog___UA836 .Common__AvailableFundList___39X1x tbody tr td:last-child {
      padding: 0; }
  .Common__FundDialog___UA836 .Common__BtnContainer___1aAcC {
    margin-top: 24px;
    text-align: center; }
  .Common__FundDialog___UA836 .Common__RiskNote___2nYCe {
    margin-top: 24px;
    font-size: 14px; }

.Common__IllContainer___po8p8 {
  background-color: #FFFFFF;
  -webkit-user-select: none;
  width: 100%;
  text-align: center; }
  .Common__IllContainer___po8p8 .Common__IllContent___3oo_Z {
    display: inline-block;
    min-width: 720px;
    width: 60%;
    height: calc(100vh - 0px); }
    .Common__IllContainer___po8p8 .Common__IllContent___3oo_Z .Common__IllHeader___19-ul {
      text-align: center; }
      .Common__IllContainer___po8p8 .Common__IllContent___3oo_Z .Common__IllHeader___19-ul .Common__IllHeaderItem___1THQV {
        display: flex;
        min-height: 0px;
        align-items: center; }

.Common__IllChartContainer___SvF0B {
  overflow-y: auto;
  position: relative;
  -webkit-tap-highlight-color: transparent; }
  .Common__IllChartContainer___SvF0B .Common__IllChartHeader___k9ufA {
    width: 100%;
    margin-top: 24px;
    position: relative; }
    .Common__IllChartContainer___SvF0B .Common__IllChartHeader___k9ufA .Common__IllHeaderLeft___1Lfh3 {
      display: table;
      padding-Left: 24px;
      position: relative; }
      .Common__IllChartContainer___SvF0B .Common__IllChartHeader___k9ufA .Common__IllHeaderLeft___1Lfh3 .Common__IllRow___Znqg9 {
        display: table-row;
        height: 66px;
        text-Align: left; }
        .Common__IllChartContainer___SvF0B .Common__IllChartHeader___k9ufA .Common__IllHeaderLeft___1Lfh3 .Common__IllRow___Znqg9 .Common__IllRowItem___1WZbL {
          display: table-cell;
          width: 160px;
          font-Size: 16px;
          vertical-Align: bottom; }
          .Common__IllChartContainer___SvF0B .Common__IllChartHeader___k9ufA .Common__IllHeaderLeft___1Lfh3 .Common__IllRow___Znqg9 .Common__IllRowItem___1WZbL .Common__IllHeaderAge___2sjor {
            color: #333333;
            font-Weight: 200px;
            font-Size: 72px; }
          .Common__IllChartContainer___SvF0B .Common__IllChartHeader___k9ufA .Common__IllHeaderLeft___1Lfh3 .Common__IllRow___Znqg9 .Common__IllRowItem___1WZbL .Common__IllHeaderAgeUnit___106o9 {
            color: #7f7f7f;
            font-Size: 16px; }
    .Common__IllChartContainer___SvF0B .Common__IllChartHeader___k9ufA .Common__IllHeaderRight___3mUmF {
      position: absolute;
      right: 0;
      top: 0;
      padding-right: 24px;
      display: flex;
      min-height: 0px; }
      .Common__IllChartContainer___SvF0B .Common__IllChartHeader___k9ufA .Common__IllHeaderRight___3mUmF .Common__IllHeaderItem___1THQV {
        text-align: right;
        width: 180px; }
        .Common__IllChartContainer___SvF0B .Common__IllChartHeader___k9ufA .Common__IllHeaderRight___3mUmF .Common__IllHeaderItem___1THQV .Common__IllHeaderItemVal___1r7s8 {
          font-size: 28px; }
        .Common__IllChartContainer___SvF0B .Common__IllChartHeader___k9ufA .Common__IllHeaderRight___3mUmF .Common__IllHeaderItem___1THQV .Common__IllHeaderItemName___crA5f {
          font-size: 16px; }

.Common__IllChartTable___3e9eP {
  margin-top: 24px; }
  .Common__IllChartTable___3e9eP .Common__ChartTableHeader___3wFQi {
    border-Bottom: 1px solid #cac4c4;
    font-size: 25px; }
    .Common__IllChartTable___3e9eP .Common__ChartTableHeader___3wFQi table {
      width: 100%;
      height: 36px;
      margin: 0 auto; }
      .Common__IllChartTable___3e9eP .Common__ChartTableHeader___3wFQi table td {
        font-size: 12px;
        color: rgba(0, 0, 0, 0.54); }
  .Common__IllChartTable___3e9eP .Common__ChartTableContent___RmSRB {
    overflow-y: auto;
    overflow-x: hidden;
    display: block;
    height: calc(100vh - 500px); }
    .Common__IllChartTable___3e9eP .Common__ChartTableContent___RmSRB table {
      width: 100%;
      border-collapse: collapse; }
      .Common__IllChartTable___3e9eP .Common__ChartTableContent___RmSRB table tr:hover {
        background-color: #ccf2ff; }
      .Common__IllChartTable___3e9eP .Common__ChartTableContent___RmSRB table td {
        font-size: 14px;
        padding: 15.5px 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.12); }

/********* Product, benefit illustration, Quotation ****************************/
.Common__PaymentSubmitPage___8mCUy {
  max-width: 880px;
  min-width: 720px;
  margin: 0px auto;
  padding: 24px; }

.Common__FloatingPage___3z8Vk {
  width: 100%;
  height: 100%;
  min-width: 320px;
  position: absolute;
  text-align: left;
  left: 0;
  top: 0;
  z-index: 500;
  background-color: #FAFAFA; }
  .Common__FloatingPage___3z8Vk .Common__Block___3CXho {
    border-bottom: 1px solid #cac4c4;
    padding: 10px 0; }
    .Common__FloatingPage___3z8Vk .Common__Block___3CXho .Common__Title___1-q9Q {
      height: 48px;
      width: 100%;
      line-height: 48px;
      font-size: 16px;
      font-weight: 500;
      color: #3C81C4;
      padding: 0 24px; }
    .Common__FloatingPage___3z8Vk .Common__Block___3CXho .Common__SubTitle___2pZOs {
      height: 48px;
      width: calc(100% - 48px);
      line-height: 48px;
      font-size: 16px;
      color: #333333;
      padding: 0 24px;
      position: relative; }
    .Common__FloatingPage___3z8Vk .Common__Block___3CXho .Common__SubTitleIOS___dMMAr {
      width: calc(100% - 48px);
      line-height: 48px;
      font-size: 16px;
      color: #333333;
      padding: 0 24px;
      position: relative; }
    .Common__FloatingPage___3z8Vk .Common__Block___3CXho .Common__Field_mobile___diCmh {
      width: calc(100% - 64px) !important;
      padding: 0 24px 0 40px;
      display: flex;
      min-height: 0px; }
    .Common__FloatingPage___3z8Vk .Common__Block___3CXho .Common__Field___-uUD_ {
      height: 48px !important;
      width: calc(100% - 64px) !important;
      padding: 0 24px 0 40px;
      display: flex;
      min-height: 0px; }
      .Common__FloatingPage___3z8Vk .Common__Block___3CXho .Common__Field___-uUD_ .Common__ImageView___1QU-q {
        height: 36px;
        width: 36px;
        padding: 6px 0;
        display: inline-block; }
      .Common__FloatingPage___3z8Vk .Common__Block___3CXho .Common__Field___-uUD_ .Common__Content___Ofex6 {
        font-size: 16px;
        color: #333333; }
      .Common__FloatingPage___3z8Vk .Common__Block___3CXho .Common__Field___-uUD_ .Common__SubContent___274D0 {
        font-size: 12px;
        text-align: left; }

.Common__secIndex___DWCwZ {
  width: 100%;
  height: 100%;
  min-width: 320px;
  position: absolute;
  text-align: left;
  left: 0;
  top: 0;
  z-index: 500;
  background-color: #FAFAFA; }

.Common__OtherDocDialogtitle___2QrIl span {
  vertical-align: top !important; }

.Common__Dialog___XvCpW .Common__Section___3EA0P .Common__Title___1-q9Q, .Common__FloatingPage___3z8Vk .Common__Section___3EA0P .Common__Title___1-q9Q {
  font-size: 20px;
  display: block;
  padding: 16px 0; }

.Common__Dialog___XvCpW .Common__Toolbar___FdNTj, .Common__FloatingPage___3z8Vk .Common__Toolbar___FdNTj {
  border-bottom: none;
  min-height: 64px; }
  .Common__Dialog___XvCpW .Common__Toolbar___FdNTj .Common__ToolbarTitle___1nXPS, .Common__FloatingPage___3z8Vk .Common__Toolbar___FdNTj .Common__ToolbarTitle___1nXPS {
    margin-left: 4px !important; }
  .Common__Dialog___XvCpW .Common__Toolbar___FdNTj .Common__FlatButton___1uYTx, .Common__FloatingPage___3z8Vk .Common__Toolbar___FdNTj .Common__FlatButton___1uYTx {
    margin: 10px !important;
    font-size: 14px !important; }

.Common__Dialog___XvCpW .Common__FlatButton___1uYTx, .Common__FloatingPage___3z8Vk .Common__FlatButton___1uYTx {
  display: inline-block;
  vertical-align: top;
  margin: 6px 0 !important;
  padding: 0 0 0 10px !important; }

.Common__Dialog___XvCpW .Common__Toolbar___FdNTj {
  background-color: #3C81C4 !important; }

.Common__Dialog___XvCpW .Common__ToolbarTitle___1nXPS {
  color: #FFFFFF !important; }

.Common__Title___1-q9Q, .Common__ToolbarTitle___1nXPS {
  color: #333333;
  font-weight: 300; }

.Common__CardSectionTitle___35HpG {
  color: #333333;
  font-weight: 600; }

.Common__Toolbar___FdNTj {
  min-width: 320px;
  padding: 0px !important;
  /* box-shadow: 0px 2px 2px rgba(0,0,0,.33); */
  border-bottom: 1px solid #cac4c4;
  position: relative;
  z-index: 10;
  box-shadow: 0px 2px 4px #cac4c4; }
  .Common__Toolbar___FdNTj [id="searchBar"] {
    color: #3C81C4;
    padding-left: 16px;
    flex: 1;
    font-weight: normal; }
  .Common__Toolbar___FdNTj [id="appBarTitle"] {
    color: #333333;
    padding-left: 16px;
    flex: initial; }
  .Common__Toolbar___FdNTj button {
    padding: 0 12px !important; }
  .Common__Toolbar___FdNTj button[id="back"], .Common__Toolbar___FdNTj button[id="close"] {
    margin: 0 0 0 12px !important; }

.Common__showShadow___1emsl {
  box-shadow: 0px 2px 4px #cac4c4; }

.Common__hideShadow___2GXG3 {
  box-shadow: none !important; }

.Common__IconBoxSelected___nnQo8 {
  background: #3C81C4;
  box-shadow: 1px 2px 6px #3C81C4;
  border: solid;
  position: relative;
  display: flex;
  min-height: 0px;
  flex-direction: column; }
  .Common__IconBoxSelected___nnQo8 img {
    object-fit: initial; }

.Common__IconBoxNotSelected___2rPVe {
  background: #3C81C4;
  box-shadow: #cac4c4 0px 1px 6px, #cac4c4 0px 1px 4px;
  color: #cac4c4;
  border: solid;
  position: relative;
  display: flex;
  min-height: 0px;
  flex-direction: column; }
  .Common__IconBoxNotSelected___2rPVe img {
    object-fit: scale-down; }

.Common__ImageView___1QU-q {
  color: #333333;
  width: 200px;
  height: 180px; }

.Common__DivSelected___1y1I6 {
  border: solid 2px #3C81C4;
  margin: 12px 0px;
  height: auto; }

.Common__DivNotSelected___24jwe {
  border: solid 2px #3C81C4;
  margin: 12px 0px;
  height: auto; }

.Common__TextSelectionBox___3N_t1 {
  min-width: 194px;
  min-height: 43px; }

.Common__IconBoxNotSelected___2rPVe [id="Title"], .Common__IconBoxSelected___nnQo8 [id="Title"] {
  flex-grow: 1;
  color: #333333;
  font-weight: bold;
  font-size: 14px;
  background: #FAFAFA;
  display: flex;
  min-height: 0px;
  justify-content: center; }

.Common__IconBoxSelected___nnQo8 [id="Title"] {
  align-items: center; }

.Common__ToolbarGroup___jqbvO {
  display: flex;
  min-height: 0px;
  margin-right: 20px;
  padding-top: 2px; }

[id="AssetremoveBtn"] {
  margin-bottom: 8px !important; }

.Common__SelectedTab___2GPbC {
  background-color: #FFFFFF;
  display: inline-block;
  padding: 0px 20px;
  text-align: left;
  border-top: 1px solid #cac4c4;
  border-right: 1px solid #cac4c4;
  border-left: 1px solid #cac4c4;
  height: 100%; }

.Common__UnSelectedTab___eQCFf {
  background-color: #FFFFFF;
  display: inline-block;
  padding: 0px 20px;
  text-align: left;
  border-top: 1px solid #cac4c4;
  border-right: 1px solid #cac4c4;
  border-left: 1px solid #cac4c4;
  height: 100%; }

.Common__EllipsisTextStyle___2N5ZX {
  display: flex;
  min-height: 0px;
  min-width: 120px;
  width: 100%;
  vertical-align: top;
  color: #3C81C4;
  font-size: 14px;
  line-height: 3;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.Common__EllipsisText___3N7Do {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.Common__CheckBox___1GCG5 + div {
  border-left: none; }

.Common__DetailsItem___1QtBp.Common__CheckBox___1GCG5 {
  height: auto !important;
  padding: 8px 0; }

.Common__ErrorMsgContainer___r0viH {
  position: relative;
  white-space: nowrap;
  padding-top: 24px; }

.Common__ErrorMsgAbsContainer___2BHhj {
  position: absolute;
  white-space: nowrap; }

.Common__ErrorMsgWithTitle___3P8CC {
  color: #e44821;
  height: 16px;
  font-size: 12px;
  text-align: center; }

.Common__ErrorMsgNoTitle___Y7Cqv {
  color: #e44821;
  height: 16px;
  font-size: 12px;
  position: relative; }

.Common__FlexContent___2PsVw {
  width: 100%;
  flex: 1;
  position: relative; }

.Common__FlexColumnContainer___2jFj2 {
  display: flex;
  min-height: 0px;
  flex-wrap: wrap;
  margin: 0px auto;
  flex-direction: column;
  align-items: center; }

.Common__FullHeightFlexColumnNoWrapContainer___2ZnSf {
  display: flex;
  min-height: 0px;
  flex-wrap: nowrap;
  margin: 0px auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%; }

.Common__FlexColumnNoWrapContainer___1P3e1 {
  display: flex;
  min-height: 0px;
  flex-wrap: nowrap;
  margin: 0px auto;
  flex-direction: column;
  align-items: center; }

.Common__FlexColumnNoWrapBasicContainer___3TVQi {
  display: flex;
  min-height: 0px;
  flex-wrap: nowrap;
  flex-direction: column; }

.Common__FlexContainer___3BRtE {
  display: flex;
  min-height: 0px;
  flex-wrap: wrap;
  align-items: center;
  margin: 0px auto;
  justify-content: center; }

.Common__FlexNoWrapContainer___1S6io {
  display: flex;
  min-height: 0px;
  flex-wrap: nowrap;
  align-items: center;
  margin: 0px auto;
  justify-content: center; }

.Common__CBTabs___zuE-8 div:nth-of-type(1) {
  border-right: none; }

.Common__CBTabs___zuE-8 div:nth-of-type(2) {
  border-left: none; }

.Common__FlexNoWrapContainer___1S6io .Common__SelectedTab___2GPbC {
  border-bottom: 10px solid #3C81C4; }
  .Common__FlexNoWrapContainer___1S6io .Common__SelectedTab___2GPbC .Common__EllipsisTextStyle___2N5ZX {
    margin-top: 10px !important; }
  .Common__FlexNoWrapContainer___1S6io .Common__SelectedTab___2GPbC div:nth-of-type(1) {
    margin-top: 4px !important; }

.Common__FlexNoWrapContainer___1S6io .Common__UnSelectedTab___eQCFf {
  padding-bottom: 10px; }
  .Common__FlexNoWrapContainer___1S6io .Common__UnSelectedTab___eQCFf .Common__EllipsisTextStyle___2N5ZX {
    margin-top: 10px !important; }
  .Common__FlexNoWrapContainer___1S6io .Common__UnSelectedTab___eQCFf div:nth-of-type(1) {
    margin-top: 4px !important; }

.Common__FlexContainer1___PQZ4N {
  flex: 1;
  overflow-x: auto;
  display: flex;
  min-height: 0px;
  justify-content: center;
  flex-wrap: wrap; }

.Common__FlexContainer2___3QDp- {
  flex: 2;
  overflow-x: auto;
  display: flex;
  min-height: 0px;
  justify-content: center;
  flex-wrap: wrap; }

.Common__FlexContainer3___5BzUO {
  flex: 3;
  overflow-x: auto;
  display: flex;
  min-height: 0px;
  justify-content: center;
  flex-wrap: wrap; }

.Common__Menu___1Cftv {
  box-shadow: 1px 0 5px 0px #9c9c9c;
  flex-basis: 300px;
  align-items: stretch;
  background: #FFFFFF;
  overflow-y: auto;
  z-index: 1500; }

.Common__MenuItem___1qMu0 {
  font-size: 14px;
  display: inline-block;
  width: 100%; }

.Common__CbTabs___dWLDw {
  background: #fafafa !important; }
  .Common__CbTabs___dWLDw .Common__FlexNoWrapContainer___1S6io:after {
    content: " ";
    min-width: 8px; }

.Common__Tabs___2zeaa {
  padding: 0px !important;
  box-shadow: 0px 2px 2px #bbbbbb;
  position: static;
  z-index: 10;
  display: flex;
  min-height: 0px;
  flex-basis: 48px;
  min-height: 48px;
  overflow-x: auto;
  overflow-y: hidden;
  background-color: #FFFFFF; }
  .Common__Tabs___2zeaa [id='Tabs'] {
    margin-left: 64px; }

.Common__PagePadding___t_zKV {
  padding: 0px 24px; }

.Common__MuiItemPagePadding___3AMV_ {
  max-width: 600px;
  margin: 0 auto; }

.Common__TabWithWarning___zJLvF {
  color: #3C81C4;
  display: flex;
  min-height: 0px; }

.Common__TabStyle___1D9Cg {
  color: #3C81C4;
  padding: 0px 12px; }

.Common__TabLabel___q243n {
  color: #3C81C4;
  padding: 0px 12px;
  margin: 0px 12px;
  /**flex-basis: 50;
  overflow-y: auto;*/ }

.Common__TextAreaContainer___31QLe {
  max-width: 680px;
  margin: 0px auto;
  width: 100%; }

.Common__TextArea___LAxUW {
  /**padding: 0px 24px 24px 24px;*/
  width: 100%; }

.Common__BorderAllAround___30Xau {
  border: 1px solid #cac4c4;
  border-radius: 2px; }

.Common__WhiteBorderAllAround___owJXI {
  border: 1px solid #cac4c4;
  border-radius: 2px;
  background: white; }

.Common__TabSlider___Lt4sy {
  flex-grow: 1;
  display: flex;
  min-height: 0px;
  overflow-y: auto; }

.Common__Divider___3Okio {
  width: 100%;
  height: 2px;
  background: #cac4c4;
  box-sizing: border-box; }

.Common__CardContainer___1kXLM {
  flex-grow: 1;
  overflow-y: auto;
  padding: 0 24px; }

/* Help Centre css begin*/
.Common__HelpHeader___3U-9R {
  display: flex;
  min-height: 0px;
  justify-content: center;
  margin: 36px auto;
  font-size: 22px;
  font-weight: 500; }

.Common__HelpContainer___ux1t2 {
  display: flex;
  min-height: 0px;
  justify-content: center;
  z-index: 1;
  flex-wrap: wrap; }

.Common__HelpPdf___3uOua {
  overflow: scroll;
  display: flex;
  min-height: 0px;
  justify-content: center;
  align-items: flex-start;
  padding-top: 12px;
  padding-bottom: 36px; }
  .Common__HelpPdf___3uOua img {
    width: 100%;
    max-width: 1024px; }

.Common__QAContainer___1FbMR {
  margin-top: 10px;
  overflow-y: scroll; }

.Common__HelpQA___1D-zb {
  display: flex;
  min-height: 0px;
  margin: 12px auto;
  max-width: 800px; }
  .Common__HelpQA___1D-zb .Common__HelpQALeft___1y0LD {
    margin: 12px 24px;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.6);
    display: inline; }
  .Common__HelpQA___1D-zb .Common__HelpQARight___29jTh {
    margin: 12px 24px;
    font-size: 20px;
    font-weight: 500;
    max-width: 650px; }
    .Common__HelpQA___1D-zb .Common__HelpQARight___29jTh .Common__HelpQuestion___Rox6d {
      cursor: pointer; }
    .Common__HelpQA___1D-zb .Common__HelpQARight___29jTh .Common__HelpAnswerHide___3meVX {
      display: none;
      padding-top: 20px;
      color: rgba(0, 0, 0, 0.3); }
    .Common__HelpQA___1D-zb .Common__HelpQARight___29jTh .Common__HelpAnswerShow___Vhpnl {
      display: block;
      padding-top: 20px;
      color: rgba(0, 0, 0, 0.3); }

.Common__youtubeVideo___XsvHK {
  width: 100%;
  min-height: 500px;
  max-width: 800px;
  margin: 24px auto; }

.Common__VideoContainer___2wfPg {
  display: flex;
  min-height: 0px;
  flex-direction: column;
  margin: 24px auto; }

.Common__VideoTitle___19zYD {
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  margin: 12px;
  color: #444444;
  cursor: pointer; }
  .Common__VideoTitle___19zYD:hover {
    color: #8f000c; }

.Common__Thumbnail___3jIJW {
  width: 20%;
  min-width: 250px;
  min-height: 200px;
  border: none;
  display: flex;
  min-height: 0px;
  margin: 0 auto; }

.Common__HelpCard___3ZQoY {
  position: relative;
  box-shadow: #9c9c9c 0px 1px 6px, #9c9c9c 0px 1px 4px;
  border-radius: 2px;
  color: #333333;
  margin: 48px 12px;
  padding: 24px 48px;
  background-color: #FFFFFF;
  cursor: pointer; }
  .Common__HelpCard___3ZQoY .Common__HelpImage___2K5AQ {
    width: 80%; }
  .Common__HelpCard___3ZQoY .Common__HelpTitle___2hD7G {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    margin: 12px; }

/* End of Help Centre*/
/* Begin of About Ease */
.Common__easeContainer___3pka5 {
  display: flex;
  min-height: 0px;
  flex-direction: column;
  max-width: 800px;
  margin: 24px auto;
  padding: 0 24px; }

.Common__logoContainer___2gdwV img {
  display: inline-flex;
  width: 25%; }

.Common__easeContent___1-iIq {
  font-weight: 500; }

/* End of About Ease */
/* Start of downlaod materials*/
.Common__easeDownloadPage___-kjwh {
  overflow: scroll;
  padding-bottom: 30px; }

.Common__easeDownloadContent___gTPqN {
  flex-direction: column;
  max-width: 85%;
  margin: 0px 20px;
  padding: 0px 44px; }

.Common__downloadHeader___exIfR {
  background: #da2121;
  color: #fff;
  font-size: 18px;
  padding: 5px;
  margin-top: 20px; }

.Common__downloadHeader___exIfR p {
  padding-left: 15px;
  display: inline-block;
  width: 90%;
  padding: 0px 10px;
  margin: 0px;
  position: relative;
  bottom: 2px; }

.Common__downloadItemList___3TC5e {
  padding: 0px !important; }

.Common__downloadItem___2PLHd {
  color: #7f7f7f !important;
  font-size: 16px !important;
  width: 95% !important;
  border-bottom: 1px solid #7f7f7f !important;
  padding: 5px 15px !important; }

.Common__downloadItem___2PLHd > div > div, .Common__downloadItem2Col___15Vv1 > div > div {
  padding: 5px !important; }

.Common__downloadItemList2Col___1gypu {
  padding: 0px !important;
  display: inline-block;
  width: 95%; }

.Common__downloadItem2Col___15Vv1 {
  color: #7f7f7f !important;
  font-size: 16px !important;
  border-bottom: 1px solid #7f7f7f !important;
  padding: 5px 35px !important; }

.Common__downloadItem2ColHeader___3872N {
  color: #7f7f7f !important;
  font-size: 17px !important;
  padding: 12px 25px !important;
  border-bottom: 1px solid #7f7f7f !important; }

.Common__dropdownList___1SclW {
  border: 1px solid #7f7f7f !important;
  z-index: 10;
  width: 60%;
  background-color: white;
  position: absolute;
  top: 50px;
  left: 88px; }

.Common__claimSite___2bhf6 {
  font-size: 12px !important;
  text-decoration: underline;
  padding-inline-start: 30px; }

.Common__collapse___E6_xz {
  flex-direction: column;
  max-width: 85%;
  margin: 0px 20px;
  padding: 0px 44px;
  display: hidden; }

/* End of downlaod materials*/
/* Start Risk Profile Table */
.Common__rpContainer___3PbRF {
  max-width: 1024px;
  height: 600px;
  margin: 24px 0; }
  .Common__rpContainer___3PbRF .Common__rpTitle___18b08 {
    font-size: 18px;
    font-weight: 700;
    color: #333; }
  .Common__rpContainer___3PbRF .Common__rpTable___SbO09 {
    margin-top: 24px;
    font-size: 16px; }
    .Common__rpContainer___3PbRF .Common__rpTable___SbO09 .Common__dataName___2aSmU {
      background: rgba(216, 14, 14, 0.4);
      color: #fff;
      vertical-align: middle; }
    .Common__rpContainer___3PbRF .Common__rpTable___SbO09 .Common__dataDescription___ysOSf {
      background: rgba(0, 0, 143, 0.1); }
    .Common__rpContainer___3PbRF .Common__rpTable___SbO09 .Common__rpProfile___3yM-M {
      background: #e40a1c;
      color: #fff; }
    .Common__rpContainer___3PbRF .Common__rpTable___SbO09 .Common__rpDescription___3b8fH {
      background: #d61223;
      color: #fff; }
    .Common__rpContainer___3PbRF .Common__rpTable___SbO09 th, .Common__rpContainer___3PbRF .Common__rpTable___SbO09 td {
      border: 1px solid white;
      margin: 24px;
      padding: 12px; }

/* End Risk Profile Table */
/* Start Policy Select Field */
.Common__policySelect___1Gagw {
  margin: 0 24px; }

@media only screen and (max-width: 900px) {
  .Common__policySelect___1Gagw {
    margin: 0 8px; } }

/* End Policy Select Field */
.Common__Card___1zV8A {
  position: relative;
  box-shadow: #9c9c9c 0px 1px 6px, #9c9c9c 0px 1px 4px;
  border-radius: 2px;
  color: #333333;
  margin: 60px auto;
  background-color: #FFFFFF; }
  .Common__Card___1zV8A .Common__title___i_88b {
    color: #3C81C4;
    width: 100%;
    font-size: 16px;
    padding: 16px 0px; }
  .Common__Card___1zV8A .Common__subTitle___3WS6u {
    line-height: 18px;
    font-size: 14px;
    padding-bottom: 4px; }
  .Common__Card___1zV8A .Common__subTitleValue___3nWH3 {
    line-height: 20px;
    font-size: 16px; }
  .Common__Card___1zV8A .Common__profileOnly___1Jmm7 {
    display: flex;
    min-height: 0px;
    padding: 0px 24px;
    align-items: center; }
  .Common__Card___1zV8A .Common__profileOnlyTitle___1KQNI {
    flex-grow: 1;
    font-size: 16px;
    color: #3C81C4; }
  .Common__Card___1zV8A .Common__CardSection___2rGoT {
    display: flex;
    min-height: 0px;
    flex-wrap: wrap;
    padding-left: 24px; }
    .Common__Card___1zV8A .Common__CardSection___2rGoT .Common__items___1jcV8 {
      display: flex;
      min-height: 0px;
      padding-bottom: 24px;
      padding-right: 16px;
      justify-content: flex-start; }
    .Common__Card___1zV8A .Common__CardSection___2rGoT .Common__fullWidth___3hXPC {
      width: calc(100% - 24px); }
    .Common__Card___1zV8A .Common__CardSection___2rGoT .Common__halfWidth___3bXzQ {
      width: calc(50% - 24px); }
  .Common__Card___1zV8A .Common__Divider___3Okio {
    width: 85%; }

.Common__Avatar___3OasP {
  padding-right: 24px; }

.Common__CardPadding___2aiWs {
  padding: 24px 0px 24px 48px; }

.Common__CardRow___nr6dr {
  padding: 24px 24px 0px 24px;
  display: flex;
  min-height: 0px;
  align-items: center;
  cursor: pointer; }

.Common__CardRowSingleColumn___3alnV {
  flex-grow: 0; }

.Common__CardRowMultiColumn___3jio2 {
  flex-grow: 1; }

.Common__CardRowFieldLarge___3MFmV {
  line-height: 24px;
  font-size: 16px;
  padding-bottom: 4px;
  display: flex;
  min-height: 0px; }

.Common__CardRowFieldSmall___1WY8r {
  line-height: 18px;
  font-size: 14px;
  color: #333333; }

.Common__PaperCardContent___1tWfL {
  width: 250px;
  line-height: 32px;
  height: 32px; }
  .Common__PaperCardContent___1tWfL [id="ReadOnlyField"] {
    line-height: 36px !important; }

.Common__Stepper___2jY7Q {
  margin: 0px 24px; }

.Common__StepperContainer___23Lbj {
  background: #3C81C4;
  width: 200px;
  height: 48px;
  line-height: 48px;
  border-radius: 4px;
  -webkit-user-select: none; }

[id="decreaseBtn"], [id="addBtn"] {
  vertical-align: text-bottom;
  display: inline-block;
  background: #3C81C4;
  width: 55px;
  text-align: center;
  cursor: pointer; }
  [id="decreaseBtn"] svg, [id="addBtn"] svg {
    vertical-align: middle; }

[id="numberBtn"] {
  vertical-align: text-bottom;
  display: inline-block;
  background: #3C81C4;
  width: 90px;
  text-align: center;
  color: #FFFFFF;
  font-size: 21px; }

.Common__hBoxLabelStyle___3YYxA {
  display: block; }

.Common__inkBarStyle___14L_2 {
  padding-bottom: 3px; }

.Common__leftMenu___27mMK {
  padding-top: 0px;
  display: inline; }

.Common__deleteIcon___3Be5W {
  position: absolute !important;
  right: -30px;
  bottom: 0px;
  cursor: pointer; }

.Common__dialogDelBtn___VKA-U {
  width: 100%;
  text-Align: right;
  padding-Right: 24px; }
  .Common__dialogDelBtn___VKA-U button {
    color: #3C81C4 !important; }
    .Common__dialogDelBtn___VKA-U button span {
      font-weight: bold !important; }

table [id="TextFieldContainer"] .Common__ColumnField___WJwpD {
  min-width: 120px !important; }

table [id="ROPTextFieldContainer"] .Common__ColumnField___WJwpD {
  min-width: 110px !important; }

.Common__Table___bI7qX {
  width: 100%; }
  .Common__Table___bI7qX tr {
    height: 48px;
    line-height: 48px;
    font-size: 14px; }
  .Common__Table___bI7qX tr.Common__TableHeader___14ZAF {
    border-bottom: 1px solid #cac4c4;
    height: 39px;
    line-height: 39px; }
    .Common__Table___bI7qX tr.Common__TableHeader___14ZAF th {
      font-size: 12px;
      font-weight: 500;
      color: #3C81C4;
      background: rgba(60, 129, 196, 0.07); }

tr.Common__active___BgQzI {
  background-color: #bfbfbf; }

tr.Common__hover___YTYng {
  background-color: #ccf2ff; }

tr.Common__inactive___1jkRE {
  background-color: #f0f3f5; }

.Common__MuTableView___1C0NT tr th {
  color: #333333 !important;
  font-size: 12px !important;
  font-weight: 600 !important;
  background-color: #FAFAFA !important;
  padding-left: 24px; }

/* eApproval */
.Common__ApprovalSearchContainer___2YxC6 {
  display: flex;
  min-height: 0px;
  background-Color: #f0f0f0;
  height: 100%; }

.Common__ReviewPageContainer___30UZp {
  overflow-Y: auto;
  background-Color: #f0f0f0;
  height: 100%; }

.Common__MobileApproveRejectPageContainer___1t9he {
  overflow-Y: auto;
  overflow-x: hidden;
  background-Color: #f0f0f0;
  height: 100%; }

.Common__PendingAprrovalSearchMenu___2tMDC {
  width: 20%;
  min-Width: 300px;
  padding: 24px;
  overflow-y: auto;
  max-height: calc(100% - 48px); }

.Common__MobilePendingApprovalSearchMenu___6tmrN {
  width: 100%;
  min-Width: 300px;
  padding: 12px 0px;
  overflow-y: auto;
  height: calc(100vh - 130px); }
  @media only screen and (min-width: 650px) {
    .Common__MobilePendingApprovalSearchMenu___6tmrN {
      height: calc(100vh - 84px); } }

.Common__MobilePendingWorkbenchSearchMenu___4nW7n {
  width: 100%;
  min-Width: 300px;
  padding: 12px 0px;
  overflow-y: auto;
  height: calc(100vh - 130px); }
  @media only screen and (min-width: 650px) {
    .Common__MobilePendingWorkbenchSearchMenu___4nW7n {
      height: calc(100vh - 84px); } }

.Common__MoileFileRowDialogContent___3piQj {
  height: calc(90vh - 86px); }
  @media only screen and (min-width: 650px) {
    .Common__MoileFileRowDialogContent___3piQj {
      height: calc(100vh - 80px); } }

.Common__MobileEmailDialog___LBNeL {
  height: calc(100vh - 86px);
  overflow-Y: auto; }
  @media only screen and (min-width: 650px) {
    .Common__MobileEmailDialog___LBNeL {
      height: 100vh; } }

.Common__PendingApprovalShowCases___3vEUc {
  min-Width: 650px;
  overflow-y: auto;
  overflow-x: hidden; }

.Common__MobilePendingApprovalShowCases___yulwP {
  overflow-y: auto;
  overflow-x: hidden; }

.Common__StatusSectionName___3MJu_ {
  color: #3C81C4;
  font-weight: 500;
  padding: 12px 0px; }

.Common__CommentBoxBorder___2YIaD {
  border: 1px solid #cac4c4;
  border-radius: 2px; }

.Common__MobileCommentBoxBorder____4G9T {
  border-bottom: 1px solid #cac4c4;
  border-radius: 2px; }

.Common__CommentDateLabel___1fPtR {
  font-size: 14px;
  color: #7f7f7f; }

.Common__DynColLabel___o3gh6 {
  font-size: 14px;
  line-height: 36px; }

.Common__EApprovalHeader___1xq4P {
  display: flex;
  min-height: 0px;
  padding-left: 24px;
  position: relative;
  justify-content: space-between; }

.Common__EApprovalHeaderComp1___AddWm {
  position: relative;
  top: 40px; }

.Common__EApprovalHeaderComp2___2Z8lO {
  position: relative;
  top: 10px; }

/*common*/
.Common__qRadio___2O12D .Common__ReadOnlyFieldFloatingLabel___XcP0x {
  position: relative !important; }

.Common__qRadio___2O12D .Common__ReadOnlyFieldLabel___1Cipv {
  margin-top: 5px;
  overflow: auto; }

.Common__qSubTitle___11Q_y {
  color: #3C81C4; }

.Common__tableView___89XiM {
  display: table; }

.Common__tableViewItem___h2DMS {
  display: table-cell;
  vertical-align: middle;
  text-align: left; }

.Common__verticalView___mzHeZ {
  display: block;
  text-align: left;
  margin-bottom: 10px; }

.Common__verticalViewItem___enkOv {
  display: block;
  text-align: left; }

/*dyn table*/
.Common__dynTable___2W5tm {
  border-bottom: 1px solid #cac4c4; }

.Common__ZebraRow___1zct_ {
  background-color: #FAFAFA; }

.Common__TableLeftAlignRow___a95C_ {
  text-align: right;
  width: 90%;
  padding: 12px 0px; }

.Common__TableRightAlignRow___1FfXR {
  text-align: right;
  width: 85.5%;
  padding: 12px 0px; }

.Common__AppPlanDetailLayout___1soqw {
  font-size: 14px !important;
  background-color: #ededed;
  color: black !important;
  padding: 12px;
  width: 100px; }

.Common__dynTotalTr___3qDOu {
  background-color: #ededed;
  text-align: center;
  font-weight: 600;
  color: #333333; }

.Common__dynTotalLeftTr___3_LIw {
  background-color: #ededed;
  text-align: left;
  font-weight: 600;
  color: #333333; }

.Common__dynTh___17Cc0 {
  padding: 12px;
  border-bottom: 1px solid #cac4c4;
  text-align: left;
  font-size: 12px;
  font-weight: normal;
  color: #7f7f7f; }

.Common__dynTh_noBottomBorder___JC_X9 {
  text-align: left;
  font-size: 12px;
  font-weight: normal;
  color: #7f7f7f; }

.Common__dynTh_subTitle___p5SJw {
  font-size: 12px;
  line-height: 2em; }

.Common__dynTd___wLr-G {
  vertical-align: middle;
  position: relative;
  padding: 12px;
  text-align: left; }

/*go fna*/
.Common__centerAlign___3sWms {
  text-align: center; }

.Common__border___H5xhA {
  border: 1px solid grey;
  display: inline-block;
  padding: 3px 10px; }

.Common__iconButton___3MoQ8 span {
  white-space: normal !important; }

/*block*/
.Common__sectionLabel___ujGvd {
  padding: 20px 0px 10px 0px;
  font-weight: 500; }

.Common__heading___o2Ft4 {
  padding: 20px 0px;
  font-weight: 500; }

.Common__TableSectionHeading___xaE_3 {
  background-color: #fafafa;
  padding: 12px;
  font-size: 14px; }

.Common__flexBox___2W7EJ {
  display: -webkit-flex;
  /* Safari */
  display: flex;
  min-height: 0px;
  align-items: flex-start;
  padding: 5px 0px; }

.Common__flexBox___2W7EJ .Common__ReadOnlyFieldLabel___1Cipv {
  margin-top: 0; }

.Common__flexBoxItem___11bOP {
  -webkit-flex: 1;
  /* Safari 6.1+ */
  -ms-flex: 1;
  /* IE 10 */
  flex: 1;
  align-items: flex-start; }

.Common__landMainContent___2kYPV {
  overflow-y: auto; }

div.Common__landMainContent___2kYPV::-webkit-scrollbar {
  display: none; }

::-webkit-scrollbar {
  display: block;
  width: 10px;
  height: 5px; }

::-webkit-scrollbar-thumb {
  background-color: RGBA(0, 0, 0, 0.3);
  border-radius: 5px; }

.Common__Mobile___3x_lt {
  height: 100vh;
  min-width: 320px; }
  .Common__Mobile___3x_lt .Common__Toolbar___FdNTj button {
    margin: 0 4px 0 8px !important; }
  .Common__Mobile___3x_lt .Common__Toolbar___FdNTj button[id="back"], .Common__Mobile___3x_lt .Common__Toolbar___FdNTj button[id="close"] {
    margin: 0 0 0 4px !important; }
  .Common__Mobile___3x_lt .Common__Page___1HHc- {
    min-width: 320px; }
    .Common__Mobile___3x_lt .Common__Page___1HHc- .Common__Form___tHsEY .Common__Section___3EA0P {
      width: calc(100% - 16px) !important;
      min-width: 294px;
      padding-top: 16px; }
    .Common__Mobile___3x_lt .Common__Page___1HHc- .Common__Section___3EA0P {
      width: 100%;
      margin-left: 0px;
      margin-right: 0px;
      min-width: 320px;
      padding: 0px 0px 0px 16px;
      text-align: left; }
      .Common__Mobile___3x_lt .Common__Page___1HHc- .Common__Section___3EA0P .Common__Controls___3xWJs {
        position: relative;
        display: block;
        text-align: right;
        padding-right: 16px;
        height: 48px;
        top: auto;
        right: auto; }
      .Common__Mobile___3x_lt .Common__Page___1HHc- .Common__Section___3EA0P .Common__Title___1-q9Q {
        height: 74px;
        padding-right: 16px;
        margin-top: 0;
        margin-bottom: 8px; }
      .Common__Mobile___3x_lt .Common__Page___1HHc- .Common__Section___3EA0P .Common__Icon___3BFt0 {
        position: absolute;
        top: 16px;
        left: 16px; }
  .Common__Mobile___3x_lt .Common__Column1___3lEcj .Common__Field___-uUD_, .Common__Mobile___3x_lt .Common__Column1___3lEcj .Common__DetailsItem___1QtBp, .Common__Mobile___3x_lt .Common__Column2___yrew2 .Common__Field___-uUD_, .Common__Mobile___3x_lt .Common__Column2___yrew2 .Common__DetailsItem___1QtBp, .Common__Mobile___3x_lt .Common__Column3___1PT5h .Common__Field___-uUD_, .Common__Mobile___3x_lt .Common__Column3___1PT5h .Common__DetailsItem___1QtBp {
    width: calc(100% - 16px) !important; }
  .Common__Mobile___3x_lt .Common__Field___-uUD_, .Common__Mobile___3x_lt .Common__DetailsItem___1QtBp {
    width: calc(100% - 16px) !important;
    min-width: 278px;
    margin-right: 16px; }
  .Common__Mobile___3x_lt .Common__SwitchField___KpjRC {
    width: calc(100% - 16px) !important;
    margin-right: 16px;
    height: auto !important; }

/*drop zone*/
.Common__Dropzone___3WcKS {
  height: 48px;
  line-Height: 48px;
  text-align: right; }

.Common__DropzoneActive___2Ffxi {
  height: 48px;
  line-Height: 48px;
  text-align: center;
  color: #3C81C4;
  font-weight: bold;
  border: 1px dotted #cac4c4;
  background-color: RGBA(255, 255, 255, 0.7); }

@media screen and (max-width: 1024px) {
  .Common__shortfallItem___VAxEd {
    width: 50%; } }
@font-face {
    font-family: 'SourceSansPro';
    src: url(./982386e2d4b16d8a061d83647e35c39c.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'SourceSansPro';
    src: url(./d30bd2aafebe675e613facffd6276132.ttf) format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'SourceSansPro';
    src: url(./760cda86de964d7e344fe4c2cce1c357.ttf) format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'SourceSansPro';
    src: url(./81c7e9a0944506286e5b0ed7045fadce.ttf) format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'SourceSansPro';
    src: url(./438b0b18b6f174bb242d2435dbf31663.ttf) format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'SourceSansPro';
    src: url(./d3906920250eaa77496f036b00542718.ttf) format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'SourceSansPro';
    src: url(./44a8e639bae28e48637f3b52bf827e11.ttf) format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'SourceSansPro';
    src: url(./ef6f657d2894b65d6c8e47b8c174b8b9.ttf) format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'SourceSansPro';
    src: url(./ce8a7a5d8c76d57e5a384baa25fe6342.ttf) format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'SourceSansPro';
    src: url(./9b9ffa34401b4cac48240901fc509f88.ttf) format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(./570eb83859dc23dd0eec423a49e147fe.woff2) format('woff2'),
       url(./012cf6a10129e2275d79d6adac7f3b02.woff) format('woff'),
       url(./a37b0c01c0baf1888ca812cc0508f6e2.ttf) format('truetype');
}

html {
  overflow: hidden;
  height: 100%;
  position: fixed;
}

body {
  overflow: hidden;
  position: fixed;
  color: rgba(0, 0, 0, 0.87);
  width: 100%;
  height: 100%;
  background-color: #FFF;
  font-weight: 400;
  font-family: 'SourceSansPro', Arial, Helvetica, Helvetica Neue !important;
  margin: 0px;
  -webkit-overflow-scrolling: touch;
}

h2 {
  margin: 0;
  font-size: 2.25rem;
  font-weight: bold;
  letter-spacing: -.025em;
  color: #fff;
}

p {
  font-size: 16px;
  line-height: 24px;
  padding: 8px 0px;
}

li {
  list-style: none;
}

a {
  color: #2696CC;
  text-decoration: none;
}

img {
  object-fit: cover;
}

a:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}

ol li{list-style:decimal;}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

/* slider */
.Slider {
  position: relative;
  display: flex;
min-height: 0px;
  flex-direction: column;
  height: 100%;
  overflow-x: hidden;
}

.Slider-inner {
  position: absolute;
  width: 100%;
  height: 100%;
}

.Slider-slides {
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
min-height: 0px;
height: 100%;
}

.Slider-slides--transition {
-webkit-transition: -webkit-transform 0.25s;
transition: -webkit-transform 0.25s;
transition: transform 0.25s;
transition: transform 0.25s, -webkit-transform 0.25s;
}

.Slider-slides > * {
-webkit-flex-basis: 0;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
-webkit-box-flex: 1;
-webkit-flex-grow: 1;
  -ms-flex-positive: 1;
      flex-grow: 1;
}

.Slider-slides > * {
-webkit-flex-basis: 0;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
-webkit-box-flex: 1;
-webkit-flex-grow: 1;
  -ms-flex-positive: 1;
      flex-grow: 1;
}

.Slider-nav {
-webkit-align-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
  display: flex;
min-height: 0px;
  align-content: center;
  left: calc(50% - 50px);
  bottom: 20px;
  z-index: 100;
  position: absolute;
}

.Slider-navButton {
background: none;
border: 0;
height: 20px;
outline: none;
position: relative;
-webkit-transition: opacity 0.25s;
transition: opacity 0.25s;
/* NOTE: lucia width from 20 to 30 */
width: 30px;
padding: 0;
}

.Slider-navButton::after {
background: #cac4c4;
border-radius: 50%;
content: '';
display: block;
height: 12px;
left: 4px;
position: absolute;
top: 4px;
width: 12px;
}

/* NOTE: lucia newly added */
.Slider-navButton:hover {
opacity: 1;
}

/* NOTE: lucia from 1 to 0.5 */
.Slider-navButton--active {
opacity: 0.5;
}

.Slider-navButton--active::after {
  /* NOTE: lucia background from 2696cc to 00005b */
background: #00005b;
height: 12px;
left: 4px;
top: 4px;
width: 12px;
}

.Slider-arrows {
  width: 100%;
  position: absolute;
  top: calc(50% - 35px);
  display: flex;
min-height: 0px;
  justify-content: space-between;
}

.Slider-arrow-left {
  height: 100%;
  width: 50px!important;
  padding: 0!important;
  background: rgba(255,255,255,0.3)!important
}

.Slider-arrow-left:hover div svg {
  color: rgba(51,51,51,0.3)!important
}

.Slider-arrow-right {
  height: 100%;
  width: 50px!important;
  padding: 0!important;
  background: rgba(255,255,255,0.3)!important
}

.Slider-arrow-right:hover div svg {
  color: rgba(51,51,51,0.3)!important
}

/*end slider*/

.forgetpass{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
min-height: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

/* RC Slider */
.rc-slider {
  position: relative;
  height: 14px;
  padding: 5px 0;
  width: 100%;
  border-radius: 6px;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.rc-slider * {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.rc-slider-rail {
  position: absolute;
  width: 100%;
  background-color: #e9e9e9;
  height: 4px;
  border-radius: 6px;
}
.rc-slider-track {
  position: absolute;
  left: 0;
  height: 4px;
  border-radius: 6px;
  /* NOTE: lucia color changed */
  background-color: #00008f;
}
.rc-slider-handle {
  position: absolute;
  margin-left: -7px;
  margin-top: -5px;
  width: 14px;
  height: 14px;
  cursor: pointer;
  cursor: -webkit-grab;
  cursor: grab;
  border-radius: 50%;
  /* NOTE: lucia color changed */
  border: solid 2px #00008f;
  background-color: #fff;
}
.rc-slider-handle:hover {
  /* NOTE: lucia color changed */
  border-color: #00008f;
}
.rc-slider-handle:active {
  border-color: #57c5f7;
  /* NOTE: lucia color changed */
  box-shadow: 0 0 5px #00008f;
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
.rc-slider-mark {
  position: absolute;
  top: 18px;
  left: 0;
  width: 100%;
  font-size: 12px;
}
.rc-slider-mark-text {
  position: absolute;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  color: #999;
}
.rc-slider-mark-text-active {
  color: #666;
}
.rc-slider-step {
  position: absolute;
  width: 100%;
  height: 4px;
  background: transparent;
}
/*.rc-slider-dot {
  position: absolute;
  bottom: -2px;
  margin-left: -4px;
  width: 8px;
  height: 8px;
  border: 2px solid #e9e9e9;
  background-color: #fff;
  cursor: pointer;
  border-radius: 50%;
  vertical-align: middle;
}*/
.rc-slider-dot:first-child {
  margin-left: -4px;
}
.rc-slider-dot:last-child {
  margin-left: -4px;
}
/*.rc-slider-dot-active {
  border-color: #96dbfa;
}*/
.rc-slider-disabled {
  background-color: #e9e9e9;
}
.rc-slider-disabled .rc-slider-track {
  background-color: #ccc;
}
.rc-slider-disabled .rc-slider-handle,
.rc-slider-disabled .rc-slider-dot {
  border-color: #ccc;
  box-shadow: none;
  background-color: #fff;
  cursor: not-allowed;
}
.rc-slider-disabled .rc-slider-mark-text,
.rc-slider-disabled .rc-slider-dot {
  cursor: not-allowed !important;
}
.rc-slider-vertical {
  width: 14px;
  height: 100%;
  padding: 0 5px;
}
.rc-slider-vertical .rc-slider-rail {
  height: 100%;
  width: 4px;
}
.rc-slider-vertical .rc-slider-track {
  left: 5px;
  bottom: 0;
  width: 4px;
}
.rc-slider-vertical .rc-slider-handle {
  margin-left: -5px;
  margin-bottom: -7px;
}
.rc-slider-vertical .rc-slider-mark {
  top: 0;
  left: 18px;
  height: 100%;
}
.rc-slider-vertical .rc-slider-step {
  height: 100%;
  width: 4px;
}
.rc-slider-vertical .rc-slider-dot {
  left: 2px;
  margin-bottom: -4px;
}
.rc-slider-vertical .rc-slider-dot:first-child {
  margin-bottom: -4px;
}
.rc-slider-vertical .rc-slider-dot:last-child {
  margin-bottom: -4px;
}
.rc-slider-tooltip-zoom-down-enter,
.rc-slider-tooltip-zoom-down-appear {
  -webkit-animation-duration: .3s;
          animation-duration: .3s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  display: block !important;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}
.rc-slider-tooltip-zoom-down-leave {
  -webkit-animation-duration: .3s;
          animation-duration: .3s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  display: block !important;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}
.rc-slider-tooltip-zoom-down-enter.rc-slider-tooltip-zoom-down-enter-active,
.rc-slider-tooltip-zoom-down-appear.rc-slider-tooltip-zoom-down-appear-active {
  -webkit-animation-name: rcSliderTooltipZoomDownIn;
          animation-name: rcSliderTooltipZoomDownIn;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}
.rc-slider-tooltip-zoom-down-leave.rc-slider-tooltip-zoom-down-leave-active {
  -webkit-animation-name: rcSliderTooltipZoomDownOut;
          animation-name: rcSliderTooltipZoomDownOut;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}
.rc-slider-tooltip-zoom-down-enter,
.rc-slider-tooltip-zoom-down-appear {
  -webkit-transform: scale(0, 0);
          transform: scale(0, 0);
  -webkit-animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
          animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
}
.rc-slider-tooltip-zoom-down-leave {
  -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
          animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
}
@-webkit-keyframes rcSliderTooltipZoomDownIn {
  0% {
    opacity: 0;
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0);
  }
  100% {
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}
@keyframes rcSliderTooltipZoomDownIn {
  0% {
    opacity: 0;
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0);
  }
  100% {
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}
@-webkit-keyframes rcSliderTooltipZoomDownOut {
  0% {
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  100% {
    opacity: 0;
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0);
  }
}
@keyframes rcSliderTooltipZoomDownOut {
  0% {
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  100% {
    opacity: 0;
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0);
  }
}
.rc-slider-tooltip {
  position: absolute;
  left: -9999px;
  top: -9999px;
  visibility: visible;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.rc-slider-tooltip * {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.rc-slider-tooltip-hidden {
  display: none;
}
.rc-slider-tooltip-placement-top {
  padding: 4px 0 8px 0;
  z-index: 500;
}
.rc-slider-tooltip-inner {
  padding: 6px 2px;
  min-width: 24px;
  height: 24px;
  font-size: 12px;
  line-height: 1;
  color: #fff;
  text-align: center;
  text-decoration: none;
  background-color: #ff4d4d;
  border-radius: 6px;
  box-shadow: 0 0 4px #d9d9d9;
}
.rc-slider-tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.rc-slider-tooltip-placement-top .rc-slider-tooltip-arrow {
  bottom: 4px;
  left: 50%;
  margin-left: -4px;
  border-width: 4px 4px 0;
  border-top-color: #ff4d4d;
}

.rc-tooltip {
  position: absolute;
  z-index: 1070;
  display: block;
  visibility: visible;
  font-size: 12px;
  line-height: 1.5;
  opacity: 0.9;
}
.rc-tooltip-hidden {
  display: none;
}
.rc-tooltip-placement-top,
.rc-tooltip-placement-topLeft,
.rc-tooltip-placement-topRight {
  padding: 5px 0 9px 0;
}
.rc-tooltip-placement-right,
.rc-tooltip-placement-rightTop,
.rc-tooltip-placement-rightBottom {
  padding: 0 5px 0 9px;
}
.rc-tooltip-placement-bottom,
.rc-tooltip-placement-bottomLeft,
.rc-tooltip-placement-bottomRight {
  padding: 9px 0 5px 0;
}
.rc-tooltip-placement-left,
.rc-tooltip-placement-leftTop,
.rc-tooltip-placement-leftBottom {
  padding: 0 9px 0 5px;
}
.rc-tooltip-inner {
  padding: 8px 10px;
  color: #fff;
  text-align: left;
  text-decoration: none;
  background-color: #373737;
  border-radius: 6px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.17);
  min-height: 34px;
}
.rc-tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.rc-tooltip-placement-top .rc-tooltip-arrow,
.rc-tooltip-placement-topLeft .rc-tooltip-arrow,
.rc-tooltip-placement-topRight .rc-tooltip-arrow {
  bottom: 4px;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: #373737;
}
.rc-tooltip-placement-top .rc-tooltip-arrow {
  left: 50%;
}
.rc-tooltip-placement-topLeft .rc-tooltip-arrow {
  left: 15%;
}
.rc-tooltip-placement-topRight .rc-tooltip-arrow {
  right: 15%;
}
.rc-tooltip-placement-right .rc-tooltip-arrow,
.rc-tooltip-placement-rightTop .rc-tooltip-arrow,
.rc-tooltip-placement-rightBottom .rc-tooltip-arrow {
  left: 4px;
  margin-top: -5px;
  border-width: 5px 5px 5px 0;
  border-right-color: #373737;
}
.rc-tooltip-placement-right .rc-tooltip-arrow {
  top: 50%;
}
.rc-tooltip-placement-rightTop .rc-tooltip-arrow {
  top: 15%;
  margin-top: 0;
}
.rc-tooltip-placement-rightBottom .rc-tooltip-arrow {
  bottom: 15%;
}
.rc-tooltip-placement-left .rc-tooltip-arrow,
.rc-tooltip-placement-leftTop .rc-tooltip-arrow,
.rc-tooltip-placement-leftBottom .rc-tooltip-arrow {
  right: 4px;
  margin-top: -5px;
  border-width: 5px 0 5px 5px;
  border-left-color: #373737;
}
.rc-tooltip-placement-left .rc-tooltip-arrow {
  top: 50%;
}
.rc-tooltip-placement-leftTop .rc-tooltip-arrow {
  top: 15%;
  margin-top: 0;
}
.rc-tooltip-placement-leftBottom .rc-tooltip-arrow {
  bottom: 15%;
}
.rc-tooltip-placement-bottom .rc-tooltip-arrow,
.rc-tooltip-placement-bottomLeft .rc-tooltip-arrow,
.rc-tooltip-placement-bottomRight .rc-tooltip-arrow {
  top: 4px;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #373737;
}
.rc-tooltip-placement-bottom .rc-tooltip-arrow {
  left: 50%;
}
.rc-tooltip-placement-bottomLeft .rc-tooltip-arrow {
  left: 15%;
}
.rc-tooltip-placement-bottomRight .rc-tooltip-arrow {
  right: 15%;
}
.rc-tooltip.rc-tooltip-zoom-enter,
.rc-tooltip.rc-tooltip-zoom-leave {
  display: block;
}
.rc-tooltip-zoom-enter,
.rc-tooltip-zoom-appear {
  opacity: 0;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
          animation-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}
.rc-tooltip-zoom-leave {
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-timing-function: cubic-bezier(0.6, -0.3, 0.74, 0.05);
          animation-timing-function: cubic-bezier(0.6, -0.3, 0.74, 0.05);
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}
.rc-tooltip-zoom-enter.rc-tooltip-zoom-enter-active,
.rc-tooltip-zoom-appear.rc-tooltip-zoom-appear-active {
  -webkit-animation-name: rcToolTipZoomIn;
          animation-name: rcToolTipZoomIn;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}
.rc-tooltip-zoom-leave.rc-tooltip-zoom-leave-active {
  -webkit-animation-name: rcToolTipZoomOut;
          animation-name: rcToolTipZoomOut;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}
@-webkit-keyframes rcToolTipZoomIn {
  0% {
    opacity: 0;
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}
@keyframes rcToolTipZoomIn {
  0% {
    opacity: 0;
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}
@-webkit-keyframes rcToolTipZoomOut {
  0% {
    opacity: 1;
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  100% {
    opacity: 0;
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0);
  }
}
@keyframes rcToolTipZoomOut {
  0% {
    opacity: 1;
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  100% {
    opacity: 0;
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0);
  }
}

/*RC Slider*/

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.Slider__landAXALogo___3qqId {
	padding-top: 68px;
	margin-left: 234px;
	width: 104px;
	height: 104px;
}

.Slider__profileHeader___1oYF4 {
	font-weight: bold;
	/* NOTE: lucia color from 103184 to 00008f */
	color: #00008f;
}

.Slider__profileListStyle___eTMAa {
	margin: 5px 0;
}

.Slider__profileSubHeader___1nrqy {
	font-weight: bold;
	margin-right: 3px;
}

.Slider__profileSection___sk5AQ {
  margin-bottom: 32px;
  padding-left: 0;
}
