<div class="global_CP">
  <div class="headerLine" />
  <div class="divJustify">
    <p><b>OTHER IMPORTANT INFORMATION</b></p>
    <p>
      After purchasing a life insurance policy, the insurer will give you at least 14 days from the date you receive the policy documents to be sure that you want to keep the policy. If the insurer posts or emails the policy to you, the 14 days will start seven
      days from the date of posting or emailing.
    </p>
    <p>
      During this time, if you choose to cancel the policy, the insurer will refund you the premiums you have paid, less any medical fees and other expenses such as payments for medical check-ups and medical reports incurred by the insurer.
    </p>
    <p>
      compareFIRST is an online portal that enables you to easily compare the premiums and features of life insurance products available to the retail market in Singapore. compareFIRST empowers you to make informed decisions when purchasing life insurance products.
      You can access the portal at
      <a href="www.comparefirst.sg">www.comparefirst.sg</a> before making a life insurance purchase. You can also find out more about life insurance products at
      <a href="www.moneysense.gov.sg">www.moneysense.gov.sg</a>.
    </p>
  </div>
</div>