<div class="global_MPI">
  <div class="divJustify">
    <p><b>IMPORTANT NOTES </b></p>
    <ol start="8">
      <li>
        <xsl:value-of select="*/packagedPlanName" /> consists of 2 plans - A selected whole life, regular premium investment-linked Basic Plan* and
        <xsl:value-of select="*/basicPlanName" /> which is a single premium term plan.</li>
      <li>Only the Policy Illustration for
        <xsl:value-of select="*/basicPlanName" /> is shown in here.</li>

    </ol>

    <table class="p2Table">
      <tbody>
        <tr>
          <td>*Basic Plans include:</td>
          <td>1) INSPIRE FlexiProtector
          </td>
        </tr>
        <tr>
          <td></td>
          <td>2) INSPIRE FlexiSaver
          </td>
        </tr>
      </tbody>
    </table>

    <p>For your selected Basic Plan, the Policy Illustration is provided to illustrate where you are the life assured. You will be given a revised Policy Illustration if you change the life assured to your Child.</p>
    <p><b>When there is more than 1 foetus in the same pregnancy, the appropriate number of your selected Basic Plan will be illustrated separately.</b></p>

    <br/>

    <div><b>Declaration</b></div>
    <div>I / We confirm that I / We have received all pages of the following:</div>
    <div>1. A copy of the Policy Illustration of
      <xsl:value-of select="*/basicPlanName" />.</div>
    <div>2. A copy of the Policy Illustration of the selected Basic Plan and riders, if applicable.</div>
    <div>3. A copy of the Product Summary of
      <xsl:value-of select="*/packagedPlanName" />.</div>
    <div>4. A copy of the Product Summary of
      <xsl:value-of select="*/basicPlanName" />.</div>
    <div>5. A copy of the Product Summary of the selected Basic Plan and riders, if applicable.</div>
  </div>
</div>