.global_MPI {
  font-size: 10pt;
}

.logo {
  background: <img@PNP_logo_img>;
  width: 50;
  height: 50;
  background-repeat: round;
  margin-top: 0;
}

.barcode {
  background: <img@PNP_barcode_img>;
  width: 192;
  height: 47;
  background-repeat: round;
  margin-top: 0;
}

.headerProposerDetail {
  table-layout: fixed;
  width: 100%;
  border-bottom: solid 1px;
  font-size: 10pt;
}

.headerProposerDetail tr:last-child td {
  padding-bottom: 10px;
}

.headerProposerDetail td:nth-child(1) {
  width: 67%;
}

.headerProposerDetail td:nth-child(2) {
  width: 7%;
}

.p2Table {
  width: 100%;
  font-size: 10pt;
}

.p2Table tr {
  height: 13px;
}

.p2Table td:nth-child(1) {
  width: 25%;
}

.p2Table td:nth-child(2) {
  width: 75%;
}

.p3Table {
  table-layout: fixed;
  width: 100%;
  border-bottom: solid 1px;
  font-size: 10pt;
}

.p3Table tr {
  height: 25px;
}

.p3Table tr:last-child td {
  padding-bottom: 10px;
}

.p3Table td:nth-child(1) {
  width: 25%;
}

.p3Table td:nth-child(2) {
  width: 75%;
}

.p3Table2 {
  width: 100%;
  font-size: 10pt;
}

.p3Table2 tr {
  height: 25px;
}

.p3Table2 td:nth-child(1) {
  width: 35%;
}

.p3Table2 td:nth-child(2) {
  width: 65%;
}

.p4Table {
  table-layout: fixed;
  width: 68%;
  font-size: 10pt;
  text-align: center;
}

.p4Table tr:first-child {
  background-color: black;
  color: white;
  font-size: 10pt;
  height: 25px;
}

.p4Table tr:first-child td {
  font-weight: bold;
}

.p4Table tr:nth-child(2) td {
  vertical-align: top;
  font-weight: bold;
}

.p4Table tr:nth-child(2) td {
  vertical-align: top;
}