<div class="global_main">
  <table class="w100">
    <colgroup>
      <col style="width:30%" />
      <col style="width:32%" />
      <col style="width:7%;" />
      <col style="width:31%" />
    </colgroup>
    <thead>
      <tr>
        <th colspan="4" style="text-align: center;  padding-bottom: 10px;">
          <strong>MAIN POLICY ILLUSTRATION</strong>
        </th>
      </tr>
      <tr>
        <th colspan="2" class="vtop vpd2 b tleft">
          <span>Proposal on the life of: </span>
          <span>
               <xsl:value-of select="*/cover/insured/name"/>
            </span>
        </th>
        <th class="vtop vpd2 b tleft">
          <div>Date</div>
        </th>
        <th class="vtop vpd2 tleft">
          <span>
               :
               <xsl:value-of select="*/cover/genDate" />
            </span>
        </th>
      </tr>
      <tr>
        <th colspan="2" class="vtop vpd2 b tleft">
          <span>Gender</span>
          <span>
               :
               <xsl:value-of select="*/cover/insured/gender" />
               (
               <xsl:value-of select="*/cover/insured/smoking" />
               ) 
            </span>
        </th>
        <th class="vtop vpd2 b tleft">
          <div>Age</div>
        </th>
        <th class="vtop vpd2 tleft">
          <div>
            :
            <xsl:value-of select="*/cover/insured/age" /> (As at
            <xsl:value-of select="*/cover/riskCommenDate" /> )
          </div>
        </th>
      </tr>
      <tr style="border-bottom: solid 1pt black">
        <th colspan="4" style="padding-bottom: 10px;"></th>
      </tr>
      <tr>
        <th colspan="4" style="text-align: center; width: 100%; padding-bottom: 10px;"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td colspan="4">
          <div id="pageDB">
            <table class="w100">
              <tr>
                <td class="vtop vpd2" style="width:25%;">Basic Policy Plan</td>
                <td class="vtop vpd2">
                  :
                  <xsl:value-of select="*/basicPlan/name" />
                </td>
              </tr>
              <tr>
                <td class="vtop vpd2">Death Benefit Option</td>
                <td class="vtop vpd2">
                  :
                  <xsl:value-of select="*/basicPlan/deathBenefitDesc" />
                </td>
              </tr>
              <tr>
                <td class="vtop vpd2">Policy Currency</td>
                <td class="vtop vpd2">
                  :
                  <!-- <xsl:value-of select="*/basicPlan/ccy" /> </td> -->
                  <xsl:value-of select="*/polCcy" />
                </td>
              </tr>
            </table>
            <br/>
            <div class="hr" />
            <br/>
            <div>The following table of values relate to the basic policy plan named above.</div>
            <table class="mtop8 w100">
              <thead>
                <tr>
                  <th rowspan="4" class="vtop pd2" style="width: 10%">End of
                    <br/>Policy
                    <br/>Year/Age
                  </th>
                  <th rowspan="4" class="vtop pd2" style="width: 10%"> Total
                    <br/>Premiums
                    <br/>Paid
                    <br/>To-Date
                  </th>
                  <th colspan="4" class="bgblack tcwhite">DEATH BENEFIT</th>
                </tr>
                <tr>
                  <th colspan="2" class="vtop pd2">
                    Illustrated at
                    <xsl:value-of select="*/aror/low" /> %
                    <br/>Investment Return
                  </th>
                  <th colspan="2" class="vtop pd2">
                    Illustrated at
                    <xsl:value-of select="*/aror/high" /> %
                    <br/>Investment Return
                  </th>
                </tr>
                <tr>
                  <th class="vtop pd2" style="width: 20%"> </th>
                  <th class="vtop pd2" style="width: 20%"> </th>
                  <th class="vtop pd2" style="width: 20%"> </th>
                  <th class="vtop pd2" style="width: 20%"> </th>
                </tr>
                <tr>
                  <th class="vtop pd2" style="width: 20%"> Non-Guaranteed
                    <br/>Account Value
                  </th>
                  <th class="vtop pd2" style="width: 20%"> Total Death
                    <br/>Benefit^
                  </th>
                  <th class="vtop pd2" style="width: 20%"> Non-Guaranteed
                    <br/>Account Value
                  </th>
                  <th class="vtop pd2" style="width: 20%"> Total Death
                    <br/>Benefit^
                  </th>
                </tr>
                <tr>
                  <th></th>
                  <th>
                    (
                    <xsl:value-of select="*/basicPlan/ccySymbol" />)
                  </th>
                  <th>
                    (
                    <xsl:value-of select="*/basicPlan/ccySymbol" />)
                  </th>
                  <th>
                    (
                    <xsl:value-of select="*/basicPlan/ccySymbol" />)
                  </th>
                  <th>
                    (
                    <xsl:value-of select="*/basicPlan/ccySymbol" />)
                  </th>
                  <th>
                    (
                    <xsl:value-of select="*/basicPlan/ccySymbol" />)
                  </th>
                </tr>
              </thead>
              <tbody>
                <xsl:for-each select="*/illustration/deathBenefit">
                  <tr>
                    <td class="tdCol">
                      <xsl:value-of select="policyYearAge" />
                    </td>
                    <td class="tdCol">
                      <xsl:value-of select="totalPremiumPaidToDate" />
                    </td>
                    <td class="tdCol">
                      <xsl:value-of select="valueOfNonGuaranteedAccValueLow" />
                    </td>
                    <td class="tdCol">
                      <xsl:value-of select="totalLow" />
                    </td>
                    <td class="tdCol">
                      <xsl:value-of select="valueOffNonGuaranteedAccValueHigh" />
                    </td>
                    <td class="tdCol">
                      <xsl:value-of select="totalHigh" />
                    </td>
                  </tr>
                </xsl:for-each>
              </tbody>
            </table>
            <br/>
            <xsl:choose>
              <xsl:when test="*/basicPlan/deathBenefit = 'basic'">
                ^Death Benefit is 101% of total Account Value.
              </xsl:when>
              <xsl:otherwise>^Death Benefit is 101% of total Account Value or total Regular Premiums and Top-Ups paid less total amount of all withdrawals made, whichever is higher.
              </xsl:otherwise>
            </xsl:choose>
          </div>
          <div id="pageSV" class="pagebreak">
            <table class="w100">
              <tr>
                <td class="vtop vpd2" style="width:25%;">Basic Policy Plan</td>
                <td class="vtop vpd2">
                  :
                  <xsl:value-of select="*/basicPlan/name" />
                </td>
              </tr>
              <tr>
                <td class="vtop vpd2">Death Benefit Option</td>
                <td class="vtop vpd2">
                  :
                  <xsl:value-of select="*/basicPlan/deathBenefitDesc" />
                </td>
              </tr>
              <tr>
                <td class="vtop vpd2">Policy Currency</td>
                <td class="vtop vpd2">
                  :
                  <!-- <xsl:value-of select="*/basicPlan/ccy" /> </td> -->
                  <xsl:value-of select="*/polCcy" />
                </td>
              </tr>
            </table>
            <br/>
            <!-- <table class= "w100">
               <tr style= "vertical-align:top; ">
                 <td class= "tleft pd4left0 b" style= "width:50%">Fund Name</td>
                 <td class= "tleft pd4left0 b" style= "width:35%;">: Regular Premium</td>
                 <td class= "tright pd4right0 b">Fund Code</td>
               </tr>
               <xsl:for-each select= "*/cover/funds">
                 <tr>
                   <td class= "tleft pd4left0">
                     <xsl:value-of select= "name" /> </td>
                   <td class= "tleft pd4left0">
                     <xsl:value-of select= "annualPremium" /> </td>
                   <td class= "tright pd4right0">
                     <xsl:value-of select= "code" /> </td>
                 </tr>
               </xsl:for-each>
               <tr style= "border-bottom: solid 1pt black">
                 <td class= "tleft pd4left0" tyle= "width:50%">Total</td>
                 <td class= "tleft pd4left0" style= "width:35%;">
                   <xsl:value-of select= "*/basicPlan/aPremium" /> </td>
                 <td class= "tright pd4right0"></td>
               </tr>
               </table> -->
            <div class="hr" />
            <br/>
            <div>The following table of values relate to the basic policy plan named above.</div>
            <table class="mtop8 w100">
              <thead>
                <tr>
                  <th rowspan="5" class="vtop pd2" style="width: 10%">End of
                    <br/>Policy
                    <br/>Year/Age
                  </th>
                  <th rowspan="5" class="vtop pd2" style="width: 20%"> Total
                    <br/>Premiums
                    <br/>Paid
                    <br/>To-Date
                    <br/>
                  </th>
                  <th colspan="2" class="bgblack tcwhite">SURRENDER VALUE</th>
                </tr>
                <tr>
                  <th class="vtop pd2">
                    Illustrated at
                    <xsl:value-of select="*/aror/low" /> %
                    <br/>Investment Return
                  </th>
                  <th class="vtop pd2">
                    Illustrated at
                    <xsl:value-of select="*/aror/high" /> %
                    <br/>Investment Return
                  </th>
                </tr>
                <tr>
                  <th class="vtop pd2" style="width: 20%"> <br/></th>
                  <th class="vtop pd2" style="width: 20%"> <br/></th>
                </tr>
                <tr>
                  <th class="vtop pd2" style="width: 20%"> Non-Guaranteed </th>
                  <th class="vtop pd2" style="width: 20%"> Non-Guaranteed </th>
                </tr>
                <tr>
                  <th class="vtop pd2" style="width: 20%"> Surrender Value </th>
                  <th class="vtop pd2" style="width: 20%"> Surrender Value </th>
                </tr>
                <tr>
                  <th></th>
                  <th>
                    (
                    <xsl:value-of select="*/basicPlan/ccySymbol" />)
                  </th>
                  <th>
                    (
                    <xsl:value-of select="*/basicPlan/ccySymbol" />)
                  </th>
                  <th>
                    (
                    <xsl:value-of select="*/basicPlan/ccySymbol" />)
                  </th>
                </tr>
              </thead>
              <tbody>
                <xsl:for-each select="*/illustration/surrenderValue">
                  <tr>
                    <td class="tdCol">
                      <xsl:value-of select="policyYearAge" />
                    </td>
                    <td class="tdCol">
                      <xsl:value-of select="totalPremiumPaidToDate" />
                    </td>
                    <td class="tdCol">
                      <xsl:value-of select="nonGuaranteedLow" />
                    </td>
                    <td class="tdCol">
                      <xsl:value-of select="nonGuaranteedHigh" />
                    </td>
                  </tr>
                </xsl:for-each>
              </tbody>
            </table>
            <br/>
            <div>There is no guaranteed surrender value for this Investment-Linked Plan.</div>
          </div>
          <div id="pageSVNotes" class="pagebreak">
            <p>
              <strong>What is the significance of the Illustrated Investment Rate of Return?</strong>
            </p>
            <p></p>
            <p>
              The illustrations are based on illustrated investment returns of
              <xsl:value-of select="*/aror/low" />% p.a. and
              <xsl:value-of select="*/aror/high" />% p.a. The two rates of return used are before deducting the annual management charges of the funds. They are purely for illustrative purposes and do not represent upper and lower limits on the investment performance. They also do not reflect
              potential volatility over the short-term resulting in potential sharp movements, up or down, of the underlying assets of the funds. The actual benefits payable will depend on the actual performance of the underlying assets of the funds.
              The performance of the funds is not guaranteed and the cash value may be less than the capital invested.
            </p>
            <p>
              <strong>
                     Please note that if you select a money market fund or a fixed income fund, then returns of
                     <xsl:value-of select="*/aror/low" />% to
                     <xsl:value-of select="*/aror/high" />% could be considered high in many cases and unlikely to be achieved if the current low interest rate environment
                     persists. You are strongly encouraged to speak to your financial adviser who would be able to provide further
                     information on these funds - both for your initial fund selection and subsequently. 
                  </strong>
            </p>
            <p> The Fund Management Charge assumed in this Policy Illustration is 1.30% p.a. The actual Fund Management Charge will depend on the combination of the different funds selected by the Policyholder. </p>
            <br/>
          </div>
          <div id="pageDeduce" class="pagebreak">
            <table class="w100">
              <tr>
                <td class="vtop vpd2" style="width:25%;">Basic Policy Plan</td>
                <td class="vtop vpd2">
                  :
                  <xsl:value-of select="*/basicPlan/name" />
                </td>
              </tr>
              <tr>
                <td class="vtop vpd2">Death Benefit Option</td>
                <td class="vtop vpd2">
                  :
                  <xsl:value-of select="*/basicPlan/deathBenefitDesc" />
                </td>
              </tr>
              <tr>
                <td class="vtop vpd2">Policy Currency</td>
                <td class="vtop vpd2">
                  :
                  <!-- <xsl:value-of select="*/basicPlan/ccy" /> </td> -->
                  <xsl:value-of select="*/polCcy" />
                </td>
              </tr>
            </table>
            <br/>
            <div class="hr" />
            <br/>
            <div>The following table illustrates the effect that deductions will have on the amount you get back on surrender or maturity. It also highlights the cost of surrendering the policy early.
            </div>
            <br/>
            <table class="w100">
              <thead>
                <tr>
                  <th colspan="8" class="bgblack tcwhite">TABLE OF DEDUCTIONS</th>
                </tr>
                <tr>
                  <th rowspan="3" class="vtop pd2" style="width: 9%">
                    End of
                    <br/>Policy
                    <br/>Year/Age
                  </th>
                  <th rowspan="3" class="vtop pd2" style="width: 13%">
                    Total
                    <br/>Premiums
                    <br/>Paid To-Date
                  </th>
                  <th colspan="6" class="bgblack tcwhite">DEDUCTIONS</th>
                </tr>
                <tr>
                  <th colspan="3" class="vtop pd2">
                    Illustrated at
                    <xsl:value-of select="*/aror/low" /> % Investment
                    <br/>Return
                  </th>
                  <th colspan="3" class="vtop pd2">
                    Illustrated at
                    <xsl:value-of select="*/aror/high" /> % Investment
                    <br/>Return
                  </th>
                </tr>
                <tr>
                  <th class="vtop pd2" style="width: 12%"> Value of
                    <br/>Premiums
                    <br/>Paid To-Date
                  </th>
                  <th class="vtop pd2" style="width: 15%"> Effect of
                    <br/>Deductions
                    <br/>To-Date
                  </th>
                  <th class="vtop pd2" style="width: 11%"> Total
                    <br/>Surrender
                    <br/>Value
                  </th>
                  <th class="vtop pd2" style="width: 12%"> Value of
                    <br/>Premiums
                    <br/>Paid To-Date
                  </th>
                  <th class="vtop pd2" style="width: 15%"> Effect of
                    <br/>Deductions
                    <br/>To-Date
                  </th>
                  <th class="vtop pd2"> Total
                    <br/>Surrender
                    <br/>Value
                  </th>
                </tr>
                <tr>
                  <th></th>
                  <th>
                    (
                    <xsl:value-of select="*/basicPlan/ccySymbol" />)
                  </th>
                  <th>
                    (
                    <xsl:value-of select="*/basicPlan/ccySymbol" />)
                  </th>
                  <th>
                    (
                    <xsl:value-of select="*/basicPlan/ccySymbol" />)
                  </th>
                  <th>
                    (
                    <xsl:value-of select="*/basicPlan/ccySymbol" />)
                  </th>
                  <th>
                    (
                    <xsl:value-of select="*/basicPlan/ccySymbol" />)
                  </th>
                  <th>
                    (
                    <xsl:value-of select="*/basicPlan/ccySymbol" />)
                  </th>
                  <th>
                    (
                    <xsl:value-of select="*/basicPlan/ccySymbol" />)
                  </th>
                </tr>
              </thead>
              <tbody>
                <xsl:for-each select="*/illustration/deductions">
                  <tr>
                    <td class="tdCol">
                      <xsl:value-of select="policyYearAge" />
                    </td>
                    <td class="tdCol">
                      <xsl:value-of select="totalPremiumPaidToDate" />
                    </td>
                    <td class="tdCol">
                      <xsl:value-of select="valueOfPremiumPaidToDateLow" />
                    </td>
                    <td class="tdCol">
                      <xsl:value-of select="effectOfDeductionToDateLow" />
                    </td>
                    <td class="tdCol">
                      <xsl:value-of select="totalSurrenderValueLow" />
                    </td>
                    <td class="tdCol">
                      <xsl:value-of select="valueOfPremiumPaidToDateHigh" />
                    </td>
                    <td class="tdCol">
                      <xsl:value-of select="effectOfDeductionToDateHigh" />
                    </td>
                    <td class="tdCol">
                      <xsl:value-of select="totalSurrenderValueHigh" />
                    </td>
                  </tr>
                </xsl:for-each>
              </tbody>
            </table>
          </div>
          <div id="pageDeduceNotes" class="pagebreak">
            <p>
              <strong>What do the columns in the Table of Deductions mean?</strong>
            </p>
            <p></p>
            <table class="w100">
              <tr>
                <td class="vtop w24" style="width: 20px;">1. </td>
                <td class="vtop">
                  <div> "Value of Premiums Paid To-Date" is obtained by accumulating the premiums paid to date at the Illustrated Investment Rate of Return, assuming the premiums paid can be invested without deduction for the cost of insurance and without any
                    expenses. </div>
                  <br/>
                </td>
              </tr>
              <tr>
                <td class="vtop w24 " style="width: 20px;">2. </td>
                <td class="vtop">
                  <div> The difference between "Value of Premiums Paid To-Date" and "Total Surrender Value" represents the "Effect of Deductions To-Date". This is the accumulated value of the deductions for the cost of insurance, distribution cost, expenses,
                    surrender charge, expected tax payments and expected transfers to shareholders (for participating policies). </div>
                  <br/>
                </td>
              </tr>
            </table>
            <p>
              <strong>Reduction in Yield</strong>
            </p>
            <p></p>
            <p>
              This Policy Illustration shows that
              <xsl:choose>
                <xsl:when test="*/illustrationImpro/isOldAge = 0"> at age 65 </xsl:when>
                <xsl:otherwise>over 20 years</xsl:otherwise>
              </xsl:choose>
              , the effect of the total deductions could amount to
              <xsl:value-of select="*/illustrationImpro/totalDistribution" /> .
            </p>
            <p>
              The total deductions would have the effect of reducing the Illustrated Investment Rate of Return upon surrender
              <xsl:choose>
                <xsl:when test="*/illustrationImpro/isOldAge = 0"> at age 65 </xsl:when>
                <xsl:otherwise>over 20 years</xsl:otherwise>
              </xsl:choose>
              from
              <xsl:value-of select="*/aror/high" />% to
              <xsl:value-of select="*/illustrationImpro/reductionYield" />% p.a.
            </p>
            <p>
              The difference between the Illustrated Investment Rate of Return of
              <xsl:value-of select="*/aror/high" /> % p.a.and the rate of return you will receive (based on this Policy Illustration) is called the Reduction in Yield.
            </p>
            <br/>
          </div>
          <div id="pageTDC" class="pagebreak">
            <table class="w100">
              <tr>
                <td class="vtop vpd2" style="width:25%;">Basic Policy Plan</td>
                <td class="vtop vpd2">
                  :
                  <xsl:value-of select="*/basicPlan/name" />
                </td>
              </tr>
              <tr>
                <td class="vtop vpd2">Death Benefit Option</td>
                <td class="vtop vpd2">
                  :
                  <xsl:value-of select="*/basicPlan/deathBenefitDesc" />
                </td>
              </tr>
              <tr>
                <td class="vtop vpd2">Policy Currency</td>
                <td class="vtop vpd2">
                  :
                  <!-- <xsl:value-of select="*/basicPlan/ccy" /> </td> -->
                  <xsl:value-of select="*/polCcy" />
                </td>
              </tr>
            </table>
            <br/>
            <div class="hr" />
            <br/>
            <table style="width: 100%; margin: auto">
              <thead>
                <tr>
                  <th colspan="3" class="bgblack tcwhite">TOTAL DISTRIBUTION COST</th>
                </tr>
                <tr>
                  <th class="vtop" style="width:33%"> End of
                    <br/>Policy
                    <br/>Year/Age
                  </th>
                  <th class="vtop" style="width:33%">
                    Total Premiums Paid
                    <br/>To-Date
                    <br/>(
                    <xsl:value-of select="*/basicPlan/ccySymbol" /> )
                  </th>
                  <th class="vtop">
                    Total Distribution Cost
                    <br/>To-Date
                    <br/>(
                    <xsl:value-of select="*/basicPlan/ccySymbol" /> )
                  </th>
                </tr>
              </thead>
              <tbody>
                <xsl:for-each select="*/illustration/totalDistributionCost">
                  <tr>
                    <td class="tdCol">
                      <xsl:value-of select="policyYearAge" />
                    </td>
                    <td class="tdCol">
                      <xsl:value-of select="totalPremiumPaidToDate" />
                    </td>
                    <td class="tdCol">
                      <xsl:value-of select="totalDistributionCostToDate" />
                    </td>
                  </tr>
                </xsl:for-each>
              </tbody>
            </table>
            <br/>
          </div>
          <div id="pageTDC" class="pagebreak">
            <div id="pageTDCNotes">
              <table class="w100">
                <div style="page-break-inside: avoid;">
                  <tr>
                    <strong>What does the last column represent?</strong>
                  </tr>
                  <tr>
                    <td colspan="2"><br/></td>
                  </tr>
                  <tr>
                    <td class="vtop w24" style="width: 20px;">1. </td>
                    <td class="vtop">
                      <div> The Total Distribution Cost To-Date is the sum of each year's expected distribution-related costs, without interest. Such costs include cash payments in the form of commission, costs of benefits and services paid to the distribution
                        channel. </div>
                      <br/>
                    </td>
                  </tr>
                </div>
                <tr>
                  <td class="vtop w24 " style="width: 20px;">2. </td>
                  <td class="vtop">
                    <div> Please note that the Total Distribution Cost is not an additional cost to you; it has already been allowed for in calculating your premium. </div>
                    <br/>
                  </td>
                </tr>
                <tr>
                  <td class="vtop w24 " style="width: 20px;">3. </td>
                  <td class="vtop">
                    <div> You can obtain the Total Distribution Cost of each of the supplementary benefits (if applicable) from your Financial Adviser and its representatives. </div>
                    <br/>
                  </td>
                </tr>
              </table>
              <br/>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>