.pt10 {
  font-size: 10pt;
}

#last-sup-page-num[href]::after {
  content: target-counter(-ro-attr(href url), page);
}

#last-second-sup-page-num[href]::after {
  content: target-counter(-ro-attr(href url), page);
}