<xsl:if test="*/sumLoad/hasLoading='Y'">
  <div style="text-align:center;margin-top:8px"><strong>SUMMARY OF LOADING(S)</strong></div>
  <div style="margin-top:24px">The following summarises the overall loadings imposed in addition to the standard Premium:</div>
  <div class="sectionSpace" />
  <xsl:if test="*/basicPlan/hasPLoading= 'Y'">
    <table style="width:100%">
      <thead>
        <tr>
          <th colspan="4">
            <div class="tcenter" style="padding:8px"><strong>Proposer</strong></div>
          </th>
        </tr>
        <tr>
          <th class="vborder" style="width:25%">
            <div class="pd4"><strong></strong></div>
          </th>
          <th class="vborder" style="width:25%">
            <div class="pd4 b" style="text-align:center">Type of Loading</div>
          </th>
          <th class="vborder" style="width:25%">
            <div class="pd4 b" style="text-align:center">% of Loading / Factor</div>
          </th>
          <th class="vborder" style="width:25%">
            <div class="pd4 b" style="text-align:center">Loading Term</div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="4"><strong>Basic Plan</strong></td>
        </tr>
        <xsl:for-each select="*/sumLoad/proposer/basic">
          <tr>
            <td>
              <xsl:value-of select="name" /> </td>
            <td>
              <div style="text-align:center">
                <xsl:value-of select="type" /> </div>
            </td>
            <td>
              <div style="text-align:center">
                <xsl:value-of select="value" /> </div>
            </td>
            <td>
              <div style="text-align:center">
                <xsl:value-of select="term" /> </div>
            </td>
          </tr>
        </xsl:for-each>
        <tr>
          <td colspan="4"><strong>Riders</strong></td>
        </tr>
        <xsl:for-each select="*/sumLoad/proposer/rider">
          <tr>
            <td>
              <xsl:value-of select="name" /> </td>
            <td>
              <div style="text-align:center">
                <xsl:value-of select="type" /> </div>
            </td>
            <td>
              <div style="text-align:center">
                <xsl:value-of select="value" /> </div>
            </td>
            <td>
              <div style="text-align:center">
                <xsl:value-of select="term" /> </div>
            </td>
          </tr>
        </xsl:for-each>
      </tbody>
    </table>
    <div class="sectionSpace" />
    <div class="sectionSpace" /> </xsl:if>
  <xsl:if test="*/basicPlan/hasILoading= 'Y'">
    <table style="width:100%">
      <thead>
        <tr>
          <th colspan="4">
            <div class="tcenter" style="padding:8px"><strong>Life Assured</strong></div>
          </th>
        </tr>
        <tr>
          <th class="vborder" style="width:25%">
            <div class="pd4"><strong></strong></div>
          </th>
          <th class="vborder" style="width:25%">
            <div class="pd4 b" style="text-align:center">Type of Loading</div>
          </th>
          <th class="vborder" style="width:25%">
            <div class="pd4 b" style="text-align:center">% of Loading / Factor</div>
          </th>
          <th class="vborder" style="width:25%">
            <div class="pd4 b" style="text-align:center">Loading Term</div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="4"><strong>Basic Plan</strong></td>
        </tr>
        <xsl:for-each select="*/sumLoad/insured/basic">
          <tr>
            <td>
              <xsl:value-of select="name" /> </td>
            <td>
              <div style="text-align:center">
                <xsl:value-of select="type" /> </div>
            </td>
            <td>
              <div style="text-align:center">
                <xsl:value-of select="value" /> </div>
            </td>
            <td>
              <div style="text-align:center">
                <xsl:value-of select="term" /> </div>
            </td>
          </tr>
        </xsl:for-each>
        <tr>
          <td colspan="4"><strong>Riders</strong></td>
        </tr>
        <xsl:for-each select="*/sumLoad/insured/rider">
          <tr>
            <td>
              <xsl:value-of select="name" /> </td>
            <td>
              <div style="text-align:center">
                <xsl:value-of select="type" /> </div>
            </td>
            <td>
              <div style="text-align:center">
                <xsl:value-of select="value" /> </div>
            </td>
            <td>
              <div style="text-align:center">
                <xsl:value-of select="term" /> </div>
            </td>
          </tr>
        </xsl:for-each>
      </tbody>
    </table>
    <div class="sectionSpace" />
    <div class="sectionSpace" /> </xsl:if>
  <div>Note that any loading(s) on basic plan will be applicable to attached rider(s).</div>
  <div class="pagebreak" /> </xsl:if>
<table class="w100">
  <thead>
    <tr>
      <th colspan="4">
        <div class="pd8 tcenter b">MAIN BENEFIT ILLUSTRATION</div>
      </th>
    </tr>
    <tr>
      <th class="vtop vpd2 b tleft" style="width:25%">Proposal on the life of</th>
      <th class="vtop vpd2 tleft" style="width:35%">:
        <xsl:value-of select="*/cover/insured/name" /> </th>
      <th class="vtop vpd2 b tleft" style="width:50px">Date</th>
      <th class="vtop vpd2 tleft">:
        <xsl:value-of select="*/cover/genDate" /> </th>
    </tr>
    <tr style="border-bottom:solid 1pt black">
      <th class="vtop vpd2 b tleft">Gender</th>
      <th class="vtop vpd2 tleft">:
        <xsl:value-of select="*/cover/insured/gender" /> (
        <xsl:value-of select="*/cover/insured/smoking" />)</th>
      <th class="vtop vpd2 b tleft">Age</th>
      <th class="vtop vpd2 tleft">:
        <xsl:value-of select="*/cover/insured/age" /> (As at
        <xsl:value-of select="*/cover/genDate" /> ) </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td colspan="4">
        <div id="page1">
          <br/>
          <div class="b">INTRODUCTION</div>
          <br/>
          <div>AXA Insurance Pte Ltd believes that it is important that you fully appreciate the benefits of your policy. You should also understand how the cost of your insurance cover and the expenses of administration and sales affect the benefits that
            you will receive.</div>
          <br/>
          <div>The illustration that follows shows how the value of your policy progresses over time and the sum(s) that would be payable. The methods used to derive the values shown follow guidelines established by the Life Insurance Association, Singapore,
            to ensure that a fair and consistent approach is used in preparing this illustration.</div>
          <br/>
          <div>Buying a life insurance policy can be a long-term commitment. An early termination of the policy usually involves high costs and the surrender value payable may be less than the total premiums paid.</div>
          <br/>
          <div>If you need clarification please do not hesitate to ask your adviser.</div>
          <br/>
          <div>This Policy is protected under the Policy Owners' Protection Scheme which is administered by the Singapore Deposit Insurance Corporation (SDIC). Coverage for your policy is automatic and no further action is required from you. For more information
            on the types of benefits that are covered under the scheme as well as the limits of coverage, where applicable, please contact AXA Insurance Pte Ltd or visit the LIA or SDIC web-sites (<span class="u" style="color:blue">www.lia.org.sg</span>            or <span class="u" style="color:blue">www.sdic.org.sg</span>).</div>
          <br/>
          <div class="b">IMPORTANT NOTES</div>
          <br/>
          <table class="w100">
            <tr>
              <td class="vtop w24">1.</td>
              <td class="vtop">
                <div>This Benefit Illustration is based on the projected investment rates of return of
                  <xsl:value-of select="*/rate_low" />% p.a. and
                  <xsl:value-of select="*/rate_high" />% p.a. The two rates of returns are purely for illustrative purposes. The actual rate may be higher or lower. The actual benefits payable will depend on the actual performance of the underlying assets of the fund(s). The performance
                  of the fund(s) is/are not guaranteed and the surrender value may be less than the capital invested.</div>
                <br/> </td>
            </tr>
            <tr>
              <td class="vtop">2.</td>
              <td class="vtop">
                <div>The quotation is applicable to standard life. Please refer to the page of Summary of Loading(s), if any, for the loading(s) applicable to your policy.</div>
                <br/> </td>
            </tr>
            <tr>
              <td class="vtop">3.</td>
              <td class="vtop">
                <div>The quotation is for illustrative purposes only and is not a contract of assurance. The precise terms and conditions of this/these plan(s) are specified in the policy contract.</div>
                <br/> </td>
            </tr>
            <tr>
              <td class="vtop">4.</td>
              <td class="vtop">
                <div>Figures shown in the main illustration tables assume that no withdrawal of funds have been made during the term of the policy.</div>
                <br/> </td>
            </tr>
            <tr>
              <td class="vtop">5.</td>
              <td class="vtop">
                <div>Please note the lapsation and termination clauses in the product summary and policy contract. </div>
                <br/> </td>
            </tr>
            <tr>
              <td class="vtop">6.</td>
              <td class="vtop">
                <div>All figures quoted are based on the selected policy currency.</div>
                <br/> </td>
            </tr>
          </table>
        </div>
        <div class="pagebreak" id="page2">
          <br/>
          <table class="w100">
            <tr>
              <td class="vtop pd4" style="width:40%">Basic Policy Plan</td>
              <td class="vtop pd4" style="width:8px">:</td>
              <td class="vtop pd4" colspan="4">
                <xsl:value-of select="*/basicPlan/name" />
              </td>
            </tr>
            <tr>
              <td class="vtop pd4" style="width:40%">Basic Benefit</td>
              <td class="vtop pd4" style="width:8px">:</td>
              <td class="vtop pd4" colspan="4">
                <xsl:value-of select="*/basicPlan/basicBenefit" />
              </td>
            </tr>
            <tr>
              <td class="vtop pd4" style="width:40%">Sum Assured</td>
              <td class="vtop pd4" style="width:8px">:</td>
              <td class="vtop pd4" colspan="4">
                <xsl:value-of select="*/basicPlan/sumInsured" /> </td>
            </tr>
            <tr>
              <td class="vtop pd4" style="width:40%">Policy Currency</td>
              <td class="vtop pd4" style="width:8px">:</td>
              <td class="vtop pd4" colspan="4">
                <xsl:value-of select="*/basicPlan/ccy" /> </td>
            </tr>
            <tr>
              <td class="vtop pd4 tleft" style="width:40%">Fund Name</td>
              <td class="vtop pd4 tleft" style="width:8px">:</td>
              <td class="vtop pd4 tleft" style="width:16%">Annual<br/>Premium</td>
              <td class="vtop pd4 tleft" style="width:16%">Annual Recurring Single Premium</td>
              <td class="vtop pd4 tleft" style="width:15%">Top-Up
                <br/>Premium</td>
              <td class="vtop pd4">Fund
                <br/>Code</td>
            </tr>
            <xsl:for-each select="*/cover/funds">
              <tr>
                <td class="vtop hpd4">
                  <xsl:value-of select="name" />
                </td>
                <td class="vtop hpd4">:</td>
                <td class="vtop hpd4">
                  <xsl:value-of select="premium" />
                </td>
                <td class="vtop hpd4">
                  <xsl:value-of select="rsp" />
                </td>
                <td class="vtop hpd4">
                  <xsl:value-of select="topUp" />
                </td>
                <td class="vtop hpd4">
                  <xsl:value-of select="code" />
                </td>
              </tr>
            </xsl:for-each>
            <tr>
              <td class="vtop pd4">Total</td>
              <td class="vtop pd4">:</td>
              <td class="vtop pd4">
                <xsl:value-of select="*/basicPlan/aPremium" />
              </td>
              <td class="vtop pd4">
                <xsl:value-of select="*/basicPlan/aRspTopUp" />
              </td>
              <td class="vtop pd4">
                <xsl:value-of select="*/basicPlan/spTopUp" />
              </td>
              <td class="vtop pd4"></td>
            </tr>
          </table>
          <div class="hr" />
          <table class="mtop8 w100">
            <thead>
              <tr>
                <th colspan="7" class="pd4">
                  <div class="tcenter">Benefit Illustration</div>
                </th>
              </tr>
              <tr>
                <th rowspan="3" class="vtop pd2" style="width:10%; text-align: center;">End of Policy Year/Age</th>
                <th rowspan="3" class="vtop pd2" style="width:20%; text-align: center;">Total Premiums Paid To-date</th>
                <th colspan="5" class="bgblack tcwhite">DEATH BENEFIT</th>
              </tr>
              <tr>
                <th rowspan="2" class="vtop pd2" style="width:10%">Guaranteed</th>
                <th colspan="2" class="vtop pd2">Projected at
                  <xsl:value-of select="*/rate_low" />%
                  <br/>Investment Return</th>
                <th colspan="2" class="vtop pd2">Projected at
                  <xsl:value-of select="*/rate_high" />%
                  <br/>Investment Return</th>
              </tr>
              <tr>
                <th class="vtop pd2" style="width:20%">Non-Guaranteed Policy Value</th>
                <th class="vtop pd2" style="width:10%">Total</th>
                <th class="vtop pd2" style="width:20%">Non-Guaranteed Policy Value</th>
                <th class="vtop pd2">Total</th>
              </tr>
              <tr>
                <th class="vtop pd2"></th>
                <th class="vtop pd2">(S$)</th>
                <th class="vtop pd2">(S$)</th>
                <th class="vtop pd2">(S$)</th>
                <th class="vtop pd2">(S$)</th>
                <th class="vtop pd2">(S$)</th>
                <th class="vtop pd2">(S$)</th>
              </tr>
            </thead>
            <tbody>
              <xsl:for-each select="*/illustrateData_DB">
                <tr>
                  <td class="tdCol">
                    <xsl:value-of select="polYr_age" /> </td>
                  <td class="tdCol">
                    <xsl:value-of select="totalPremPaid" /> </td>
                  <td class="tdCol">
                    <xsl:value-of select="GteedDB" /> </td>
                  <td class="tdCol">
                    <xsl:value-of select="nonGteedDB_low" /> </td>
                  <td class="tdCol">
                    <xsl:value-of select="totalDB_low" /> </td>
                  <td class="tdCol">
                    <xsl:value-of select="nonGteedDB_high" /> </td>
                  <td class="tdCol">
                    <xsl:value-of select="totalDB_high" /> </td>
                </tr>
              </xsl:for-each>
            </tbody>
          </table>
          <br/>
          <div>Note: Please refer to the Product Summary for Death Benefit details.</div>
        </div>
        <div id="page3" class="pagebreak">
          <br/>
          <table class="w100">
            <tr>
              <td class="vtop pd4" style="width:40%">Basic Policy Plan</td>
              <td class="vtop pd4" style="width:8px">:</td>
              <td class="vtop pd4" colspan="4">
                <xsl:value-of select="*/basicPlan/name" />
              </td>
            </tr>
            <tr>
              <td class="vtop pd4" style="width:40%">Basic Benefit</td>
              <td class="vtop pd4" style="width:8px">:</td>
              <td class="vtop pd4" colspan="4">
                <xsl:value-of select="*/basicPlan/basicBenefit" />
              </td>
            </tr>
            <tr>
              <td class="vtop pd4" style="width:40%">Sum Assured</td>
              <td class="vtop pd4" style="width:8px">:</td>
              <td class="vtop pd4" colspan="4">
                <xsl:value-of select="*/basicPlan/sumInsured" /> </td>
            </tr>
            <tr>
              <td class="vtop pd4" style="width:40%">Policy Currency</td>
              <td class="vtop pd4" style="width:8px">:</td>
              <td class="vtop pd4" colspan="4">
                <xsl:value-of select="*/basicPlan/ccy" /> </td>
            </tr>
            <tr>
              <td class="vtop pd4 tleft" style="width:40%">Fund Name</td>
              <td class="vtop pd4 tleft" style="width:8px">:</td>
              <td class="vtop pd4 tleft" style="width:16%">Annual<br/>Premium</td>
              <td class="vtop pd4 tleft" style="width:16%">Annual Recurring Single Premium</td>
              <td class="vtop pd4 tleft" style="width:15%">Top-Up
                <br/>Premium</td>
              <td class="vtop pd4">Fund
                <br/>Code</td>
            </tr>
            <xsl:for-each select="*/cover/funds">
              <tr>
                <td class="vtop hpd4">
                  <xsl:value-of select="name" />
                </td>
                <td class="vtop hpd4">:</td>
                <td class="vtop hpd4">
                  <xsl:value-of select="premium" />
                </td>
                <td class="vtop hpd4">
                  <xsl:value-of select="rsp" />
                </td>
                <td class="vtop hpd4">
                  <xsl:value-of select="topUp" />
                </td>
                <td class="vtop hpd4">
                  <xsl:value-of select="code" />
                </td>
              </tr>
            </xsl:for-each>
            <tr>
              <td class="vtop pd4">Total</td>
              <td class="vtop pd4">:</td>
              <td class="vtop pd4">
                <xsl:value-of select="*/basicPlan/aPremium" />
              </td>
              <td class="vtop pd4">
                <xsl:value-of select="*/basicPlan/aRspTopUp" />
              </td>
              <td class="vtop pd4">
                <xsl:value-of select="*/basicPlan/spTopUp" />
              </td>
              <td class="vtop pd4"></td>
            </tr>
          </table>
          <div class="hr" />
          <table class="mtop8 w100">
            <thead>
              <tr>
                <th colspan="7" class="pd4">
                  <div class="tcenter"></div>
                </th>
              </tr>
              <tr>
                <th rowspan="3" class="vtop pd2" style="width:10%">End of Policy Year/Age</th>
                <th rowspan="3" class="vtop pd2" style="width:20%">Total Premiums Paid To-date</th>
                <th colspan="5" class="bgblack tcwhite">SURRENDER VALUE</th>
              </tr>
              <tr>
                <th rowspan="2" class="vtop pd2" style="width:10%">Guaranteed</th>
                <th colspan="2" class="vtop pd2">Projected at
                  <xsl:value-of select="*/rate_low" />%
                  <br/>Investment Return</th>
                <th colspan="2" class="vtop pd2">Projected at
                  <xsl:value-of select="*/rate_high" />%
                  <br/>Investment Return</th>
              </tr>
              <tr>
                <th class="vtop pd2" style="width:20%">Non-Guaranteed</th>
                <th class="vtop pd2" style="width:10%">Total</th>
                <th class="vtop pd2" style="width:20%">Non-Guaranteed</th>
                <th class="vtop pd2">Total</th>
              </tr>
              <tr>
                <th class="vtop pd2"></th>
                <th class="vtop pd2">(S$)</th>
                <th class="vtop pd2">(S$)</th>
                <th class="vtop pd2">(S$)</th>
                <th class="vtop pd2">(S$)</th>
                <th class="vtop pd2">(S$)</th>
                <th class="vtop pd2">(S$)</th>
              </tr>
            </thead>
            <tbody>
              <xsl:for-each select="*/illustrateData_SV">
                <tr>
                  <td class="tdCol">
                    <xsl:value-of select="polYr_age" />
                  </td>
                  <td class="tdCol">
                    <xsl:value-of select="totalPremPaid" />
                  </td>
                  <td class="tdCol">
                    <xsl:value-of select="GteedSV" />
                  </td>
                  <td class="tdCol">
                    <xsl:value-of select="nonGteedSV_low" />
                  </td>
                  <td class="tdCol">
                    <xsl:value-of select="totalSV_low" />
                  </td>
                  <td class="tdCol">
                    <xsl:value-of select="nonGteedSV_high" />
                  </td>
                  <td class="tdCol">
                    <xsl:value-of select="totalSV_high" />
                  </td>
                </tr>
              </xsl:for-each>
            </tbody>
          </table>
          <br/>
          <div class="b">What is the significance of the Projected Investment Rate of Return?</div>
          <br/>
          <div>The illustrations are based on projected investment returns of
            <xsl:value-of select="*/rate_low" />% p.a. and
            <xsl:value-of select="*/rate_high" />% p.a. The two rates of return used are before deducting the annual management charges of the funds. They are purely for illustrative purposes and do not represent upper and lower limits on the investment performance. They also do not reflect
            potential volatility over the short-term resulting in potential sharp movements, up or down, of the underlying assets of the funds. The actual benefits payable will depend on the actual performance of the underlying assets of the funds. The
            performance of the funds is not guaranteed and the cash value may be less than the capital invested.</div>
          <br/>
          <div class="b">Please note that if you select a money market fund or a fixed income fund, then returns of
            <xsl:value-of select="*/rate_low" />% to
            <xsl:value-of select="*/rate_high" />% could be considered high in many cases and unlikely to be achieved if the current low interest rate environment persists. You are strongly encouraged to speak to your financial adviser who would be able to provide further information on
            these funds - both for your initial fund selection and subsequently.</div>
        </div>
        <div class="pagebreak" id="page4">
          <br/>
          <table class="w100">
            <tr>
              <td class="vtop pd4" style="width:40%">Basic Policy Plan</td>
              <td class="vtop pd4" style="width:8px">:</td>
              <td class="vtop pd4" colspan="4">
                <xsl:value-of select="*/basicPlan/name" />
              </td>
            </tr>
            <tr>
              <td class="vtop pd4" style="width:40%">Basic Benefit</td>
              <td class="vtop pd4" style="width:8px">:</td>
              <td class="vtop pd4" colspan="4">
                <xsl:value-of select="*/basicPlan/basicBenefit" />
              </td>
            </tr>
            <tr>
              <td class="vtop pd4" style="width:40%">Sum Assured</td>
              <td class="vtop pd4" style="width:8px">:</td>
              <td class="vtop pd4" colspan="4">
                <xsl:value-of select="*/basicPlan/sumInsured" /> </td>
            </tr>
            <tr>
              <td class="vtop pd4" style="width:40%">Policy Currency</td>
              <td class="vtop pd4" style="width:8px">:</td>
              <td class="vtop pd4" colspan="4">
                <xsl:value-of select="*/basicPlan/ccy" /> </td>
            </tr>
            <tr>
              <td class="vtop pd4 tleft" style="width:40%">Fund Name</td>
              <td class="vtop pd4 tleft" style="width:8px">:</td>
              <td class="vtop pd4 tleft" style="width:16%">Annual<br/>Premium</td>
              <td class="vtop pd4 tleft" style="width:16%">Annual Recurring Single Premium</td>
              <td class="vtop pd4 tleft" style="width:15%">Top-Up
                <br/>Premium</td>
              <td class="vtop pd4">Fund
                <br/>Code</td>
            </tr>
            <xsl:for-each select="*/cover/funds">
              <tr>
                <td class="vtop hpd4">
                  <xsl:value-of select="name" />
                </td>
                <td class="vtop hpd4">:</td>
                <td class="vtop hpd4">
                  <xsl:value-of select="premium" />
                </td>
                <td class="vtop hpd4">
                  <xsl:value-of select="rsp" />
                </td>
                <td class="vtop hpd4">
                  <xsl:value-of select="topUp" />
                </td>
                <td class="vtop hpd4">
                  <xsl:value-of select="code" />
                </td>
              </tr>
            </xsl:for-each>
            <tr>
              <td class="vtop pd4">Total</td>
              <td class="vtop pd4">:</td>
              <td class="vtop pd4">
                <xsl:value-of select="*/basicPlan/aPremium" />
              </td>
              <td class="vtop pd4">
                <xsl:value-of select="*/basicPlan/aRspTopUp" />
              </td>
              <td class="vtop pd4">
                <xsl:value-of select="*/basicPlan/spTopUp" />
              </td>
              <td class="vtop pd4"></td>
            </tr>
          </table>
          <div class="hr" />
          <br/>
          <div class="b">What is the impact of deductions on what you might get back?</div>
          <br/>
          <div>The following table illustrates the effect that deductions will have on the amount you get back on surrender or maturity. It also highlights the cost of surrendering the policy early.</div>
          <br/>
          <table class="mtop8 w100">
            <thead>
              <tr>
                <th colspan="8" class="pd4">
                  <div class="tcenter">Table of Deductions</div>
                </th>
              </tr>
              <tr>
                <th rowspan="3" class="vtop pd2" style="width:11%">End of Policy Year/Age</th>
                <th rowspan="3" class="vtop pd2" style="width:11%">Total Premiums Paid To-date</th>
                <th colspan="6" class="bgblack tcwhite">DEDUCTIONS</th>
              </tr>
              <tr>
                <th colspan="3" class="vtop pd2">Projected at
                  <xsl:value-of select="*/rate_low" />%
                  <br/>Investment Return</th>
                <th colspan="3" class="vtop pd2">Projected at
                  <xsl:value-of select="*/rate_high" />%
                  <br/>Investment Return</th>
              </tr>
              <tr>
                <th class="vtop pd2" style="width:11%">Value of Premiums Paid To-date</th>
                <th class="vtop pd2" style="width:16%">Effect of Deductions To-date</th>
                <th class="vtop pd2" style="width:11%">Total Surrender Value</th>
                <th class="vtop pd2" style="width:11%">Value of Premiums Paid To-date</th>
                <th class="vtop pd2" style="width:16%">Effect of Deductions To-date</th>
                <th class="vtop pd2">Total Surrender Value</th>
              </tr>
              <tr>
                <th class="vtop pd2"></th>
                <th class="vtop pd2">(S$)</th>
                <th class="vtop pd2">(S$)</th>
                <th class="vtop pd2">(S$)</th>
                <th class="vtop pd2">(S$)</th>
                <th class="vtop pd2">(S$)</th>
                <th class="vtop pd2">(S$)</th>
                <th class="vtop pd2">(S$)</th>
              </tr>
            </thead>
            <tbody>
              <xsl:for-each select="*/illustrateData_deduct">
                <tr>
                  <td class="tdCol">
                    <xsl:value-of select="polYr_age" />
                  </td>
                  <td class="tdCol">
                    <xsl:value-of select="totalPremPaid" />
                  </td>
                  <td class="tdCol">
                    <xsl:value-of select="VOP_low" />
                  </td>
                  <td class="tdCol">
                    <xsl:value-of select="effectOfDeduct_low" />
                  </td>
                  <td class="tdCol">
                    <xsl:value-of select="totalSV_low" />
                  </td>
                  <td class="tdCol">
                    <xsl:value-of select="VOP_high" />
                  </td>
                  <td class="tdCol">
                    <xsl:value-of select="effectOfDeduct_high" />
                  </td>
                  <td class="tdCol">
                    <xsl:value-of select="totalSV_high" />
                  </td>
                </tr>
              </xsl:for-each>
            </tbody>
          </table>
          <br/>
          <div class="b">What do the columns in the table of deductions mean?</div>
          <table class="w100">
            <tr>
              <td class="vtop w24"> 1.</td>
              <td class="vtop">
                <div>"Value of Premiums Paid To-date" is obtained by accumulating the premiums paid to date at the Projected Investment Rate of Return, assuming that you were able to invest all of your premiums without deduction for the cost of insurance and
                  without incurring any expenses.</div>
                <br/> </td>
            </tr>
            <tr>
              <td class="vtop">2.</td>
              <td class="vtop">
                <div>The difference between "Value of Premiums Paid To-Date" and "Total Surrender Value" represents "Effect of Deductions To-Date". This is the accumulated value of the deductions for the cost of insurance, distribution costs, expenses, surrender
                  charges, expected tax payments and expected transfers to shareholders (for participating policies).</div>
                <br/> </td>
            </tr>
          </table>
          <div class="b">Reduction In Yield</div>
          <br/>
          <div>This Benefit Illustration shows that at age
            <xsl:value-of select="*/yieldAtAge" />, the effect of the total deductions could amount to
            <xsl:value-of select="*/yieldValue" />.</div>
          <br/>
          <div>The total deductions would have the effect of reducing the Projected Investment Rate of Return upon surrender at age
            <xsl:value-of select="*/yieldAtAge" /> from
            <xsl:value-of select="*/yieldAtRate" />% p.a. to
            <xsl:value-of select="*/reductYield" />% p.a.</div>
          <br/>
          <div>The difference between the Projected Investment Rate of Return of
            <xsl:value-of select="*/yieldAtRate" />% p.a. and the rate of return you will receive (based on this Benefit Illustration) is called the Reduction in Yield.</div>
        </div>
        <div class="pagebreak" id="page5">
          <br/>
          <table class="w100">
            <tr>
              <td class="vtop pd4" style="width:40%">Basic Policy Plan</td>
              <td class="vtop pd4" style="width:8px">:</td>
              <td class="vtop pd4" colspan="4">
                <xsl:value-of select="*/basicPlan/name" />
              </td>
            </tr>
            <tr>
              <td class="vtop pd4" style="width:40%">Basic Benefit</td>
              <td class="vtop pd4" style="width:8px">:</td>
              <td class="vtop pd4" colspan="4">
                <xsl:value-of select="*/basicPlan/basicBenefit" />
              </td>
            </tr>
            <tr>
              <td class="vtop pd4" style="width:40%">Sum Assured</td>
              <td class="vtop pd4" style="width:8px">:</td>
              <td class="vtop pd4" colspan="4">
                <xsl:value-of select="*/basicPlan/sumInsured" /> </td>
            </tr>
            <tr>
              <td class="vtop pd4" style="width:40%">Policy Currency</td>
              <td class="vtop pd4" style="width:8px">:</td>
              <td class="vtop pd4" colspan="4">
                <xsl:value-of select="*/basicPlan/ccy" /> </td>
            </tr>
            <tr>
              <td class="vtop pd4 tleft" style="width:40%">Fund Name</td>
              <td class="vtop pd4 tleft" style="width:8px">:</td>
              <td class="vtop pd4 tleft" style="width:16%">Annual<br/>Premium</td>
              <td class="vtop pd4 tleft" style="width:16%">Annual Recurring Single Premium</td>
              <td class="vtop pd4 tleft" style="width:15%">Top-Up
                <br/>Premium</td>
              <td class="vtop pd4">Fund
                <br/>Code</td>
            </tr>
            <xsl:for-each select="*/cover/funds">
              <tr>
                <td class="vtop hpd4">
                  <xsl:value-of select="name" />
                </td>
                <td class="vtop hpd4">:</td>
                <td class="vtop hpd4">
                  <xsl:value-of select="premium" />
                </td>
                <td class="vtop hpd4">
                  <xsl:value-of select="rsp" />
                </td>
                <td class="vtop hpd4">
                  <xsl:value-of select="topUp" />
                </td>
                <td class="vtop hpd4">
                  <xsl:value-of select="code" />
                </td>
              </tr>
            </xsl:for-each>
            <tr>
              <td class="vtop pd4">Total</td>
              <td class="vtop pd4">:</td>
              <td class="vtop pd4">
                <xsl:value-of select="*/basicPlan/aPremium" />
              </td>
              <td class="vtop pd4">
                <xsl:value-of select="*/basicPlan/aRspTopUp" />
              </td>
              <td class="vtop pd4">
                <xsl:value-of select="*/basicPlan/spTopUp" />
              </td>
              <td class="vtop pd4"></td>
            </tr>
          </table>
          <div class="hr" />
          <br/>
          <div class="b">How much are you paying for distribution costs?</div>
          <div>This table shows the total costs of distribution that AXA expects to incur in relation to your policy, including the cost of any financial advice provided to you.</div>
          <br/>
          <table style="width:80%;margin:auto">
            <thead>
              <tr>
                <th colspan="3" class="bgblack tcwhite">Total Distribution Cost</th>
              </tr>
              <tr>
                <th class="vtop" rowspan="2" style="width:33%">
                  <div style="text-align: center;">End of Policy
                    <br/>Year/Age</div>
                </th>
                <th class="vtop" style="width:33%">
                  <div style="text-align: center;">Total Premiums
                    <br/>Paid To-date</div>
                </th>
                <th class="vtop">
                  <div style="text-align: center;">Total Distribution
                    <br/>Cost To-date</div>
                </th>
              </tr>
              <tr>
                <th>(S$)</th>
                <th>(S$)</th>
              </tr>
            </thead>
            <tbody>
              <xsl:for-each select="*/illustrateData_totalDistribCost">
                <tr>
                  <td class="tdCol">
                    <xsl:value-of select="polYr_age" />
                  </td>
                  <td class="tdCol">
                    <xsl:value-of select="totalPremPaid" />
                  </td>
                  <td class="tdCol">
                    <xsl:value-of select="totalDistribCost" />
                  </td>
                </tr>
              </xsl:for-each>
            </tbody>
          </table>
          <br/>
          <div class="b">What does the last column represent?</div>
          <br/>
          <table class="w100">
            <tr>
              <td class="vtop w24">1. </td>
              <td>
                <div>The Total Distribution Cost To-date is the sum of each year's expected distribution-related costs, without interest. Such costs include cash payments in the form of commission, costs of benefits and services paid to the distribution channel.</div>
                <br/> </td>
            </tr>
            <tr>
              <td class="vtop w24">2. </td>
              <td>
                <div>Please note that the Total Distribution Cost is not an additional cost to you; it has already been allowed for in calculating your premium.</div>
                <br/> </td>
            </tr>
            <tr>
              <td class="vtop w24">3. </td>
              <td>
                <div>You can obtain the Total Distribution Cost of each of the supplementary benefits (if applicable) from your Financial Adviser or its representatives.</div>
              </td>
            </tr>
          </table>
        </div>
      </td>
    </tr>
  </tbody>
</table>