<div class="global_main">
  <table style="width: calc(100% - 50px); font-size: 10pt;">
    <tbody>
      <tr>
        <td style="padding-right:55px;text-align:right"><strong>CONFIDENTIAL</strong></td>
        <td style="padding-left:30px;text-align: right; width: 25.1982%;"><strong>Date: </strong>
          <strong><xsl:value-of select="*/genDate"/></strong>
        </td>
      </tr>
      <tr>
        <td style="width: 50.8018%;"><strong>Page [[@PAGE_NO]] of [[@TOTAL_PAGE]]</strong></td>
        <td style="padding-left:30px;text-align: right; width: 25.1982%;"><strong>Release Version </strong>
          <strong><xsl:value-of select="*/releaseVersion"/></strong>
        </td>
      </tr>
    </tbody>
  </table>
  <p></p>
</div>