<div class="global_main">
  <table class="quotDetail">
    <tbody>
      <tr>
        <td>
          <div>
            <div class="headerTableTitle">Basic Policy Plan</div>
            <div class="headerTableValue">:
              <xsl:value-of select="*/mainInfo/basicPlanName" />
            </div>
          </div>
        </td>

        <td>
          <div>
            <div class="headerTableTitle2">Guaranteed Cash Payout</div>
            <div class="headerTableValue2">
              : Paid Out
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div>
            <div class="headerTableTitle">Sum Assured*</div>
            <div class="headerTableValue">:
              $
              <xsl:value-of select="*/planInfos/sumAssured" />
            </div>
          </div>
        </td>

        <td></td>
      </tr>
      <tr>
        <td>
          <div>
            <div class="headerTableTitle">Payment Mode</div>
            <div class="headerTableValue">:
              <xsl:value-of select="*/paymentModeTitle" />
            </div>
          </div>
        </td>

        <td>
          <div>
            <div class="headerTableTitle2">Policy Currency</div>
            <div class="headerTableValue2">
              :
              <xsl:value-of select="*/polCcy" />
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div>
            <div class="headerTableTitle" style="padding-bottom:10px">Annual Premium</div>
            <div class="headerTableValue">:
              $
              <xsl:value-of select="*/basicAnnualPrem" />
            </div>
          </div>
        </td>

        <td> </td>
      </tr>
    </tbody>
  </table>
  <p> </p>



  <p> </p>
  <table class="illustrateTable" style="">
    <tbody>
      <tr style="font-weight:bold;">
        <td class="tablePaddingTop" style="vertical-align:top; padding:0 12px;" rowspan="3">
          <p>End of<br />Policy<br />Year/Age</p>
        </td>
        <td class="tablePaddingTop" style="vertical-align:top; padding:0 12px;" rowspan="3">
          <p>Basic Premiums Paid<br />To-Date</p>
        </td>
        <td class="tablePaddingTop" style="vertical-align:top; padding:0 12px;" rowspan="3">
          <p>Annual Guaranteed Cash Payout**</p>
        </td>
        <td class="tableHeaderBlack" colspan="5">
          SURRENDER VALUE
        </td>
      </tr>
      <tr class="illustrateTableHeader" style="font-weight:bold;">
        <td class="tablePaddingTop" style="  ; " rowspan="2">
          <p>Guaranteed</p>
          <p> </p>
          <p> </p>
          <p> </p>

        </td>
        <td class="tablePaddingTop" style="  ; " colspan="2">
          <div>Illustrated at<br />
            <xsl:value-of select="*/rate_low" />% Investment<br />Return</div>
        </td>
        <td class="tablePaddingTop" style="  ; " colspan="2">
          <div>Illustrated at<br />
            <xsl:value-of select="*/rate_high" />% Investment<br />Return</div>
        </td>
      </tr>
      <tr style="font-weight:bold;">
        <td style="white-space: nowrap;">
          <p>Non-Guaranteed</p>

        </td>
        <td style="  ; ">
          <p>Total</p>

        </td>
        <td style="white-space: nowrap;">
          <p>Non-Guaranteed</p>

        </td>
        <td style="  ; ">
          <p>Total</p>

        </td>
      </tr>
      <tr style="font-weight:bold;">
        <td style="   "> </td>
        <td style="   ">
          <p>(
            <xsl:value-of select="*/ccySyb" />)</p>
        </td>
        <td style="   ">
          <p>(
            <xsl:value-of select="*/ccySyb" />)</p>
        </td>
        <td style="   ">
          <p>(
            <xsl:value-of select="*/ccySyb" />)</p>
        </td>
        <td style="   ">
          <p>(
            <xsl:value-of select="*/ccySyb" />)</p>
        </td>
        <td style="   ">
          <p>(
            <xsl:value-of select="*/ccySyb" />)</p>
        </td>
        <td style="   ">
          <p>(
            <xsl:value-of select="*/ccySyb" />)</p>
        </td>
        <td style="   ">
          <p>(
            <xsl:value-of select="*/ccySyb" />)</p>
        </td>
      </tr>
      <xsl:for-each select="*/illustrateData_SV_b4_mature">
        <tr style="">
          <td style="   ">
            <xsl:value-of select="polYr_age" />
          </td>
          <td style="   ">
            <xsl:value-of select="totalPremPaid" />
          </td>
          <td style="   ">
            <xsl:value-of select="annaulGteedCashPayout" />
          </td>
          <td style="   ">
            <xsl:value-of select="GteedSV" />
          </td>
          <td style="   ">
            <xsl:value-of select="nonGteedSV_low" />
          </td>
          <td style="  ">
            <xsl:value-of select="totalSV_low" />
          </td>
          <td style="   ">
            <xsl:value-of select="nonGteedSV_high" />
          </td>
          <td style="   ">
            <xsl:value-of select="totalSV_high" />
          </td>
        </tr>
      </xsl:for-each>
    </tbody>
  </table>
  <p> </p>
  <p> </p>
  <p> </p>
  <p> </p>

  <p> </p>
  <table class="illustrateTable" style="">
    <tbody>
      <tr style=" ">
        <td style="  ; "> </td>
        <td style="  ; "> </td>
        <td style="  ; "> </td>
        <td class="tableHeaderBlack" colspan="5">
          <strong>MATURITY VALUE</strong>
        </td>
      </tr>

      <xsl:for-each select="*/illustrateData_SV_at_mature">
        <tr style="">
          <td class="tablePaddingTop_supp" style="font-weight: normal;">
            <xsl:value-of select="polYr_age" />
          </td>
          <td class="tablePaddingTop_supp" style="font-weight: normal;">
            <xsl:value-of select="totalPremPaid" />
          </td>
          <td class="tablePaddingTop_supp" style="font-weight: normal;">
            <xsl:value-of select="annaulGteedCashPayout" />
          </td>
          <td class="tablePaddingTop_supp" style="font-weight: normal;">
            <xsl:value-of select="GteedSV" />
          </td>
          <td class="tablePaddingTop_supp" style="font-weight: normal;">
            <xsl:value-of select="nonGteedSV_low" />
          </td>
          <td class="tablePaddingTop_supp" style="font-weight: normal;">
            <xsl:value-of select="totalSV_low" />
          </td>
          <td class="tablePaddingTop_supp" style="font-weight: normal;">
            <xsl:value-of select="nonGteedSV_high" />
          </td>
          <td class="tablePaddingTop_supp" style="font-weight: normal;">
            <xsl:value-of select="totalSV_high" />
          </td>
        </tr>
      </xsl:for-each>
    </tbody>
  </table>
  <p> </p>
  <p> </p>
  <p> </p>
  <p>*The Sum Assured is a notional value in the Policy Illustration used for the calculation of guaranteed maturity value, Guaranteed Cash Payout, reversionary and terminal bonuses and is not the amount payable on the insured event.</p>
  <p>**The above surrender values include Annual Guaranteed Cash Payout that is paid out at the beginning of the next Policy Year.</p>
  <p> </p>
  <p> </p>
</div>