<div class="global_MPI">
  <div style="flex-grow: 1;"></div>
  <div class="logo"></div>
  <div style="text-align: center; width: 100%; ">
    <strong>MAIN POLICY ILLUSTRATION </strong>
    <br />
    <br />
    <table class="headerProposerDetail">
      <tbody>
        <tr>
          <td><strong>Proposal on the life of:
              <xsl:value-of select="*/headerName" /></strong></td>
          <td><strong>Date</strong></td>
          <td><strong>:
              <xsl:value-of select="*/genDate" /></strong></td>
        </tr>
        <tr>
          <td><strong>Gender:
              <xsl:value-of select="*/headerGender" /> (
              <xsl:value-of select="*/headerSmoke" />)</strong></td>
          <td><strong>Age</strong></td>
          <td><strong>:
              <xsl:value-of select="*/headerAge" /> (as at
              <xsl:value-of select="*/backDate" />)</strong></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>