<div class="global_MPI">
  <div class="divJustify">
    <p><b>IMPORTANT NOTES </b></p>

    <ol start="8">
      <li>
        <xsl:value-of select="*/packagedPlanName" /> consists of 2 plans - A selected Basic Plan* and
        <xsl:value-of select="*/basicPlanName" /> which is a single premium term plan.</li>
      <li>Only the Policy Illustration for
        <xsl:value-of select="*/basicPlanName" /> is shown in here.</li>
    </ol>

    <p>* Please refer to our corporate website at <a href="www.axa.com.sg">www.axa.com.sg</a> for the list of eligible Basic Plans under the
      <xsl:value-of select="*/packagedPlanName" /> package.</p>

    <br/>

    <div><b>Declaration</b></div>
    <div>I / We confirm that I / We have received all pages of the following:</div>
    <div>1. A copy of the Policy Illustration of
      <xsl:value-of select="*/basicPlanName" />.</div>
    <div>2. A copy of the Policy Illustration of the selected Basic Plan and riders, if applicable.</div>
    <div>3. A copy of the Product Summary of
      <xsl:value-of select="*/packagedPlanName" />.</div>
    <div>4. A copy of the Product Summary of
      <xsl:value-of select="*/basicPlanName" />.</div>
    <div>5. A copy of the Product Summary of the selected Basic Plan and riders, if applicable.</div>
  </div>
</div>