<div class="global_main">

  <p><strong>IMPORTANT NOTES </strong></p>

  <p>1. This Benefit Illustration is intended for illustrative purposes only. The terms and conditions are specified in the policy contract.</p>
  <p>2. The quotation is applicable to standard life.</p>
  <p>3. Please note that for the following Riders (where applicable), the premium rates are not guaranteed. These rates may be adjusted in the future at the Company’s discretion:</p>
  <div style='padding-left : 15px'>
    <p> - Advance Critical Illness Payout</p>
    <p> - Critical Illness Plus Benefit</p>
    <p> - DisabilityCash Benefit</p>
    <p> - Personal Accident Benefit</p>
    <p> - Critical Illness PremiumEraser</p>
    <p> - Payer PremiumEraser (DTPD)</p>
    <p> - Payer PremiumEraser (DTPDCI)</p>
    <p> - Payer PremiumEraser (UN)</p>
    <p> - Payer PremiumEraser (DTPDUN)</p>
    <p> - Payer PremiumEraser (DTPDCIUN)</p>
    <p> - Premium Waiver (UN)</p>
    <p> - Premium Waiver (CIUN)</p>
  </div>
</div>